Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Added task/refresh endpoint to admin endpoints (#182)
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/tasks/mod.rs
  backend/src/routes/admin/tasks/refresh.rs
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

enhancement: Removed function find_by_uuid_from_string and added utoipa feature uuid and uuid crate feature serde
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/admin/users/update.rs
Owners: @Hack4Krak/Backend

enhancement: Removed function find_by_uuid_from_string and added utoipa feature uuid and uuid crate feature serde
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/admin/users/update.rs
Owners: @Hack4Krak/Backend

feat: Added task/refresh endpoint to admin endpoints (#182)
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/tasks/mod.rs
  backend/src/routes/admin/tasks/refresh.rs
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

feat: Added users and teams endpoints (#133, #134)
  backend/src/lib.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/teams/delete.rs
  backend/src/routes/admin/teams/list.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/admin/users/delete.rs
  backend/src/routes/admin/users/email_confirmations_list.rs
  backend/src/routes/admin/users/list.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/utils/error.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): Add `operation_id` to endpoints with same name
  backend/src/routes/admin/tasks/refresh.rs
  backend/src/routes/admin/teams/delete.rs
  backend/src/routes/admin/teams/list.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/admin/users/delete.rs
  backend/src/routes/admin/users/list.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/task/list.rs
  backend/src/routes/teams/management/index.rs
  backend/src/routes/user.rs
  frontend/app/components/Map.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(backend): Add `operation_id` to endpoints with same name
  backend/src/routes/admin/tasks/refresh.rs
  backend/src/routes/admin/teams/delete.rs
  backend/src/routes/admin/teams/list.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/admin/users/delete.rs
  backend/src/routes/admin/users/list.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/task/list.rs
  backend/src/routes/teams/management/index.rs
  backend/src/routes/user.rs
  frontend/app/components/Map.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

enhancement(frontend): Display time left to the event (#256)
  frontend/app/components/panel/tile/Main.vue
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

feat: Added frontend middleware for /tasks
  frontend/app/middleware/tasks.global.ts
Owners: @Hack4Krak/Frontend

feat: Added is event in progress endpoint
  backend/src/routes/event/is_event_in_progress.rs
  backend/src/routes/event/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

chore: Changed endpoint fetched in tasks middleware to /event/status and added key
  frontend/app/middleware/tasks.global.ts
Owners: @Hack4Krak/Frontend

enhancement: Better error handling
  frontend/app/middleware/tasks.global.ts
Owners: @Hack4Krak/Frontend

refactor: Renamed is_event_in_progress endpoint to status and changed HttpResponse::Ok to SuccessResponse::default()
  backend/src/routes/event/is_event_in_progress.rs
  backend/src/routes/event/mod.rs
  backend/src/routes/event/status.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

enhancement: Changed 410 gone toast message and switched to switch from if else
  frontend/app/middleware/tasks.global.ts
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Frontend

feat: Added frontend middleware for /tasks (#253)
  backend/src/routes/event/mod.rs
  backend/src/routes/event/status.rs
  frontend/app/middleware/tasks.global.ts
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

Enhancement/fixes on teams page (#254)
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Display time left to the event (#256)
  frontend/app/components/panel/tile/Main.vue
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

fix: Fixed typo in regulations
  frontend/app/content/docs/School_Edition_Guidelines.md
Owners: @Hack4Krak/Frontend

fix(frontend): Match minimum nickname length with backend
  frontend/app/components/panel/modal/InviteUser.vue
Owners: @Hack4Krak/Frontend

refactor(backend): Use `validator` to verify email address
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

feat(backend): Update Rust edition to `2024`
  .github/workflows/ci.yaml
  backend/Cargo.toml
  backend/migration/Cargo.toml
  backend/openapi-check/Cargo.toml
  backend/src/utils/error.rs
  backend/tests/auth.rs
  backend/tests/teams.rs
Owners: @Norbiros, @Hack4Krak/Backend

fix: Only install frontend deps in CI
  .github/workflows/ci.yaml
Owners: @Norbiros

Update package.json
  package.json
Owners: @Norbiros

feat(backend): Update Rust edition to `2024`
  .github/workflows/ci.yaml
  backend/Cargo.toml
  backend/migration/Cargo.toml
  backend/openapi-check/Cargo.toml
  backend/src/utils/error.rs
  backend/tests/auth.rs
  backend/tests/teams.rs
  package.json
Owners: @Norbiros, @Hack4Krak/Backend

chore: Correctly updated package version
  backend/Cargo.lock
  backend/Cargo.toml
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(backend): Use `validator` to verify email address
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

fix(frontend) Use `$auth` instead of `useAuth` in client events
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
Owners: @Hack4Krak/Frontend

chore: Removed unused crate actix-web-validator (we use actix-web-validation)
  backend/Cargo.lock
  backend/Cargo.toml
Owners: @Hack4Krak/Backend

feat: oauth error redirect
  backend/src/routes/auth/oauth/github.rs
  backend/src/services/env.rs
  frontend/app/pages/login.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

minor changes and fixes
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/utils/common_responses.rs
  frontend/app/pages/login.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore: Minor changes and fixes
  frontend/app/pages/login.vue
Owners: @Hack4Krak/Frontend

chore: Reformat code after rebase with master
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

forgot gogle
  backend/src/routes/auth/oauth/google.rs
Owners: @Hack4Krak/Backend

feat: Added redirection on email confirmation error
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/utils/common_responses.rs
  backend/tests/auth.rs
Owners: @Hack4Krak/Backend

fix(frontend): Correctly display `timeLeft` on SSR load
  frontend/app/components/panel/tile/Main.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Removed unimplemented links from navbar
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

refactor: Used header from enum and url crate
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/services/env.rs
  backend/src/utils/common_responses.rs
  backend/src/utils/error.rs
  backend/tests/auth.rs
Owners: @Hack4Krak/Backend

feat(frontend): Improved requests response handling
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/middleware/tasks.global.ts
  frontend/app/pages/panel/index.vue
  frontend/app/plugins/openFetch.ts
Owners: @Hack4Krak/Frontend

Fix: FAQ destination on navbar
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

Feat: Creat FAQ page
  frontend/app/app.config.ts
  frontend/app/assets/faq.json
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
