Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(backend): Split utils/task.rs into dedicated modules for every config type
  backend/migration/src/lib.rs
  backend/src/middlewares/event.rs
  backend/src/models/external_team_invitation.rs
  backend/src/models/mod.rs
  backend/src/models/task_manager/event_config.rs
  backend/src/models/task_manager/mod.rs
  backend/src/models/task_manager/registration_config.rs
  backend/src/models/task_manager/task_config.rs
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/src/models/user_participant_tags.rs
  backend/src/routes/event/info.rs
  backend/src/routes/event/participant_tags.rs
  backend/src/routes/event/registration.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/teams/create.rs
  backend/src/services/task_manager.rs
  backend/src/services/verification.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/event/participant_tags.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/create.rs
  backend/tests/test_utils/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor: Change participant_tags table to be direct mapping of user_id to tag_id instead of table of arrays
  backend/migration/src/m20250604_000001_new_identification_system.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_participant_tags.rs
  backend/src/entities/users.rs
  backend/src/models/user_participant_tags.rs
  backend/src/services/authorization.rs
  backend/tests/test_utils/mod.rs
Owners: @Hack4Krak/Backend

chore(deps): update to `@nuxt/test-utils` `4.0.3`
  bun.lock
  frontend/.nuxtrc
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore: Add `staging` to CI action triggers
  .github/workflows/ci.yaml
Owners: @Norbiros

refactor(backend): Move email_verification_request creation to test_utils::database
  backend/tests/routes/auth.rs
  backend/tests/test_utils/database.rs
Owners: @Hack4Krak/Backend

fix(backend): do not send identification code email in `confirm_email`
  backend/src/services/authentication.rs
Owners: @Hack4Krak/Backend

fix(frontend): correct invalid tailwind classes in the centered layout
  frontend/app/layouts/centered.vue
Owners: @Hack4Krak/Frontend

feat(frontend): display the raw error in the error modal UI
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

fix(frontend): correctly create user after confirming email address
  backend/src/services/authentication.rs
Owners: @Hack4Krak/Backend

chore(frontend): partially update FAQ for 2026 edition
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

test(frontend): update error modal tests to reflect recent changes
  frontend/tests/e2e/error-modal.test.ts
Owners: @Hack4Krak/Frontend

feat: configure unlighthouse in CI
  .github/workflows/ci.yaml
  frontend/package.json
  frontend/unlighthouse.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

enchantment: fix lighthouse scores and increase test limits
  frontend/app/components/EventCard.vue
  frontend/app/pages/about_us.vue
  frontend/content/about-us-content.ts
  frontend/unlighthouse.config.ts
Owners: @Hack4Krak/Frontend

fix alt
  frontend/app/pages/about_us.vue
  frontend/content/about-us-content.ts
Owners: @Hack4Krak/Frontend

feat(frontend): define shared UI styles
  frontend/app/app.config.ts
Owners: @Hack4Krak/Frontend

feat(backend): expose event lifecycle status
  backend/src/routes/event/status.rs
Owners: @Hack4Krak/Backend

fix: lighthouse limits
  bun.lock
  frontend/unlighthouse.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

Update frontend/content/pages/faq.md
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

Update frontend/content/pages/faq.md
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

Update frontend/content/pages/faq.md
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

chore(frontend): partially update FAQ for 2026 edition
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

feat(backend): update identification qr code email template
  backend/src/routes/event/mod.rs
  backend/src/routes/event/participate/delete.rs
  backend/src/routes/event/participate/get.rs
  backend/src/routes/event/participate/mod.rs
  backend/src/routes/event/participate/submit.rs
  backend/templates/email/config.yaml
  backend/templates/email/registration_confirmation.html
  backend/tests/routes/event/participate.rs
  frontend/app/components/leaderboard/Table.vue
  frontend/app/middleware/event-access-guard.ts
  frontend/app/middleware/guest.ts
  frontend/app/pages/admin/identification.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(backend): simplify invited users query and avoid unwrap panic
  backend/src/models/team_invites.rs
  backend/src/routes/teams/membership/my_team.rs
Owners: @Hack4Krak/Backend

fix(frontend): specify `ActionButton` props to avoid compiler crash
  frontend/app/components/panel/ActionButton.vue
Owners: @Hack4Krak/Frontend

feat(backend): expose event lifecycle status
  backend/src/routes/event/status.rs
Owners: @Hack4Krak/Backend

refactor(backend): simplify invited users query and avoid unwrap panic
  backend/src/models/team_invites.rs
  backend/src/routes/teams/membership/my_team.rs
Owners: @Hack4Krak/Backend

feat(backend): update identification qr code email template
  backend/src/routes/event/mod.rs
  backend/src/routes/event/participate/delete.rs
  backend/src/routes/event/participate/get.rs
  backend/src/routes/event/participate/mod.rs
  backend/src/routes/event/participate/submit.rs
  backend/templates/email/config.yaml
  backend/templates/email/registration_confirmation.html
  backend/tests/routes/event/participate.rs
  frontend/app/components/leaderboard/Table.vue
  frontend/app/middleware/event-access-guard.ts
  frontend/app/middleware/guest.ts
  frontend/app/pages/admin/identification.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): specify `ActionButton` props to avoid compiler crash
  frontend/app/components/panel/ActionButton.vue
Owners: @Hack4Krak/Frontend

feat(frontend): define shared UI styles
  frontend/app/app.config.ts
Owners: @Hack4Krak/Frontend

feat: Update FAQ for 2026 edition
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

feat: Update regulations and privacy policy for 2026 edition
  frontend/content/event-documents.ts
  frontend/content/pages/privacy-policy.md
  frontend/content/pages/rules.md
  frontend/public/documents/zgoda-rodo-hack4krak.pdf
  frontend/public/documents/zgoda-rodo-wizerunek.md
  frontend/public/documents/zgoda-rodzica-lub-opiekuna-prawnego-hack4krak.pdf
  frontend/public/documents/zgoda-rodzica-opiekuna.md
Owners: @Hack4Krak/Frontend

chore: Fix number of participant wording on about_us page
  frontend/content/about-us-timeline.ts
Owners: @Hack4Krak/Frontend

feat: Update regulations and privacy policy for 2026 edition
  frontend/content/event-documents.ts
  frontend/content/pages/privacy-policy.md
  frontend/content/pages/rules.md
  frontend/public/documents/zgoda-rodo-hack4krak.pdf
  frontend/public/documents/zgoda-rodo-wizerunek.md
  frontend/public/documents/zgoda-rodzica-lub-opiekuna-prawnego-hack4krak.pdf
  frontend/public/documents/zgoda-rodzica-opiekuna.md
Owners: @Hack4Krak/Frontend

chore: Fix number of participant wording on about_us page
  frontend/content/about-us-timeline.ts
Owners: @Hack4Krak/Frontend

feat: Update FAQ for 2026 edition
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

feat(frontend): add Cracow-related placeholders
  frontend/app/components/AuthForm.vue
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add Cracow-related placeholders
  frontend/app/components/AuthForm.vue
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

refactor(backend): improve error handling and logging
  backend/src/middlewares/status_code_drain_middleware.rs
  backend/src/models/email_verification_request.rs
  backend/src/routes/flag/submit.rs
  backend/src/services/task_manager.rs
  backend/src/utils/email.rs
  backend/src/utils/points_counter.rs
Owners: @Hack4Krak/Backend

chore(release): `2.2.0` - Registration & Onboarding
  backend/Cargo.lock
  backend/Cargo.toml
  bun.lock
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

fix(frontend): once again properly render `AccessBeforeEventStart` error
  frontend/app/error.vue
  frontend/app/middleware/event-access-guard.ts
Owners: @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
