Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

fix alt
  frontend/app/pages/about_us.vue
  frontend/content/about-us-content.ts
Owners: @Hack4Krak/Frontend

fix(frontend): add `/panel` and `/account` to robot's disallow list
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): enable and configure `nuxt-schema-org`
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): enable `rootTypes` option in `openFetch` configuration
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat: overhaul onboarding questions flow (#837)
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20260429_225144_personal_info_field_rework.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/user_personal_info.rs
  backend/src/models/ctf_experience.rs
  backend/src/models/mod.rs
  backend/src/models/school_grade.rs
  backend/src/models/user_personal_info.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/tests/routes/account/submit_personal_information.rs
  frontend/app/components/onboarding/StageAbout.vue
  frontend/app/components/onboarding/StageConsents.vue
  frontend/app/components/onboarding/StageSource.vue
  frontend/app/components/onboarding/StageWelcome.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/panel/profile.vue
  frontend/openapi/api/openapi.json
  frontend/tests/pages/account/submit_personal_info.spec.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): add team member card
  frontend/app/components/TeamMemberCard.vue
Owners: @Hack4Krak/Frontend

feat(frontend): finish member card and add organizers section
  frontend/app/components/TeamMemberCard.vue
  frontend/app/components/section/Organizers.vue
  frontend/app/pages/about_us.vue
  frontend/content/organizers.ts
Owners: @Hack4Krak/Frontend

amend
  frontend/app/components/section/Organizers.vue
  frontend/content/organizers.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add highlight in 'zarząd' section
  frontend/app/components/TeamMemberCard.vue
  frontend/app/components/section/Organizers.vue
Owners: @Hack4Krak/Frontend

refactor: move first name to registration from personal info
  backend/migration/src/lib.rs
  backend/migration/src/m20260429_225143_add_first_name_to_users.rs
  backend/src/entities/users.rs
  backend/src/models/user.rs
  backend/src/routes/account/index.rs
  backend/src/routes/auth/register.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/database.rs
  backend/tests/utils/error.rs
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

enchantment(frontend): change structure of organizers.ts
  frontend/app/components/section/Organizers.vue
  frontend/content/organizers.ts
Owners: @Hack4Krak/Frontend

feat(frontend): do not display background for centered layout on mobile
  frontend/app/layouts/centered.vue
Owners: @Hack4Krak/Frontend

refactor: rename user personal info to onboarding
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20260429_225144_onboarding_field_rework.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/user_onboarding.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/user_onboarding.rs
  backend/src/models/user_personal_info.rs
  backend/src/routes/account/get_onboarding.rs
  backend/src/routes/account/get_personal_information.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_onboarding.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/src/routes/admin/users/get_onboarding.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/metrics.rs
  backend/tests/routes/account/mod.rs
  backend/tests/routes/account/onboarding.rs
  backend/tests/routes/account/update.rs
  backend/tests/test_utils/database.rs
  backend/tests/test_utils/mod.rs
  frontend/app/components/AuthForm.vue
  frontend/app/components/onboarding/StageAbout.vue
  frontend/app/components/onboarding/StageConsents.vue
  frontend/app/components/onboarding/StageSource.vue
  frontend/app/components/onboarding/StageWelcome.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/account/onboarding.vue
  frontend/openapi/api/openapi.json
  frontend/tests/pages/account/onboarding.spec.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): ensure auth fetch retries after token refresh
  frontend/app/plugins/openFetch.ts
  frontend/tests/plugins/openFetch.test.ts
Owners: @Hack4Krak/Frontend

fix(frontend): slightly adjust text-muted brightness for better contrast
  frontend/app/assets/css/fundaments.css
Owners: @Hack4Krak/Frontend

feat(frontend): do not display background for centered layout on mobile
  frontend/app/layouts/centered.vue
Owners: @Hack4Krak/Frontend

refactor: move first name to registration from personal info
  backend/migration/src/lib.rs
  backend/migration/src/m20260429_225143_add_first_name_to_users.rs
  backend/src/entities/users.rs
  backend/src/models/user.rs
  backend/src/routes/account/index.rs
  backend/src/routes/auth/register.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/database.rs
  backend/tests/utils/error.rs
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor: rename user personal info to onboarding
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20260429_225144_onboarding_field_rework.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/user_onboarding.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/user_onboarding.rs
  backend/src/models/user_personal_info.rs
  backend/src/routes/account/get_onboarding.rs
  backend/src/routes/account/get_personal_information.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_onboarding.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/src/routes/admin/users/get_onboarding.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/metrics.rs
  backend/tests/routes/account/mod.rs
  backend/tests/routes/account/onboarding.rs
  backend/tests/routes/account/update.rs
  backend/tests/test_utils/database.rs
  backend/tests/test_utils/mod.rs
  frontend/app/components/AuthForm.vue
  frontend/app/components/onboarding/StageAbout.vue
  frontend/app/components/onboarding/StageConsents.vue
  frontend/app/components/onboarding/StageSource.vue
  frontend/app/components/onboarding/StageWelcome.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/account/onboarding.vue
  frontend/openapi/api/openapi.json
  frontend/tests/pages/account/onboarding.spec.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: overhaul onboarding questions flow (#837)
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20260429_225144_personal_info_field_rework.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/user_personal_info.rs
  backend/src/models/ctf_experience.rs
  backend/src/models/mod.rs
  backend/src/models/school_grade.rs
  backend/src/models/user_personal_info.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/tests/routes/account/submit_personal_information.rs
  frontend/app/components/onboarding/StageAbout.vue
  frontend/app/components/onboarding/StageConsents.vue
  frontend/app/components/onboarding/StageSource.vue
  frontend/app/components/onboarding/StageWelcome.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/panel/profile.vue
  frontend/openapi/api/openapi.json
  frontend/tests/pages/account/submit_personal_info.spec.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): update `centered` layout styling
  frontend/app/layouts/centered.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add `scroll-behavior: smooth` for the entire page
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

fix(frontend): make the footer of static pages look as intended
  frontend/app/components/hero/DesktopHeroBackground.vue
  frontend/app/layouts/static-page.vue
Owners: @Hack4Krak/Frontend

chore(frontend): update the date of `3rd` edition to `May 2026`
  frontend/content/about-us-timeline.ts
Owners: @Hack4Krak/Frontend

chore(ci): drop outdated `action-docker-layer-caching` action
  .github/workflows/ci.yaml
Owners: @Norbiros

perf(ci): cache Bun package cache
  .github/workflows/ci.yaml
Owners: @Norbiros

perf(ci): cache Bun package cache
  .github/workflows/ci.yaml
Owners: @Norbiros

chore(ci): drop outdated `action-docker-layer-caching` action
  .github/workflows/ci.yaml
Owners: @Norbiros

feat(frontend): add organizers data
  frontend/content/organizers.ts
Owners: @Hack4Krak/Frontend

fix(frontend): ensure auth fetch retries after token refresh
  frontend/app/plugins/openFetch.ts
  frontend/tests/plugins/openFetch.test.ts
Owners: @Hack4Krak/Frontend

feat(frontend): redesign the `/account` page (#871)
  frontend/app/components/event/Countdown.vue
  frontend/app/components/panel/event/EditionCardUpcoming.vue
  frontend/app/components/panel/tile/Links.vue
  frontend/app/components/section/EventBanner.vue
  frontend/app/composables/useEventRegistration.ts
  frontend/app/composables/useEventStartAndEnd.ts
  frontend/app/layouts/account.vue
  frontend/app/pages/account/events.vue
  frontend/app/pages/account/settings.vue
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add username & context menu to `Navbar.vue`
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): extract `logout` logic into `useSession` composable
  frontend/app/composables/useSession.ts
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): extract `logout` logic into `useSession` composable
  frontend/app/composables/useSession.ts
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add username & context menu to `Navbar.vue`
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

chore: Add `staging` to CI action triggers
  .github/workflows/ci.yaml
Owners: @Norbiros

feat(frontend): redesign the `/account` page (#871)
  frontend/app/components/event/Countdown.vue
  frontend/app/components/panel/event/EditionCardUpcoming.vue
  frontend/app/components/panel/tile/Links.vue
  frontend/app/components/panel/tile/SettingsRow.vue
  frontend/app/components/profile/ProfilePicture.vue
  frontend/app/components/section/EventBanner.vue
  frontend/app/composables/useEventRegistration.ts
  frontend/app/composables/useEventStartAndEnd.ts
  frontend/app/layouts/account.vue
  frontend/app/pages/account/events.vue
  frontend/app/pages/account/settings.vue
  frontend/app/pages/panel/profile.vue
  frontend/tests/components/profile/ProfilePicture.test.ts
Owners: @Hack4Krak/Frontend

feat(frontend): redesign the `/account` page (#871)
  frontend/app/components/event/Countdown.vue
  frontend/app/components/panel/event/EditionCardUpcoming.vue
  frontend/app/components/panel/tile/Links.vue
  frontend/app/components/panel/tile/SettingsRow.vue
  frontend/app/components/profile/ProfilePicture.vue
  frontend/app/components/section/EventBanner.vue
  frontend/app/composables/useEventRegistration.ts
  frontend/app/composables/useEventStartAndEnd.ts
  frontend/app/layouts/account.vue
  frontend/app/pages/account/events.vue
  frontend/app/pages/account/settings.vue
  frontend/app/pages/panel/profile.vue
  frontend/tests/components/profile/ProfilePicture.test.ts
Owners: @Hack4Krak/Frontend

refactor: Change verification system to user-based from team-based (#498)
  backend/migration/src/lib.rs
  backend/migration/src/m20260412_000001_remove_team_confirmation_fields.rs
  backend/src/entities/teams.rs
  backend/src/lib.rs
  backend/src/middlewares/auth.rs
  backend/src/models/task.rs
  backend/src/models/task_manager/participant_tags_config.rs
  backend/src/models/teams.rs
  backend/src/models/user_participant_tags.rs
  backend/src/routes/admin/teams/clear_confirmation_code.rs
  backend/src/routes/admin/teams/generate_confirmation_code.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/teams/confirm.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/verification.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/event/participant_tags.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/confirm.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/routes/teams/mod.rs
  backend/tests/test_utils/database.rs
  backend/tests/test_utils/mod.rs
  backend/tests/test_utils/task_manager.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

chore(backend): Add bun db:migrate script to package.json
  backend/DEVELOPMENT.md
  backend/package.json
Owners: @Hack4Krak/Backend

refactor(backend): Split utils/task.rs into dedicated modules for every config type
  backend/migration/src/lib.rs
  backend/src/middlewares/event.rs
  backend/src/models/external_team_invitation.rs
  backend/src/models/mod.rs
  backend/src/models/task_manager/event_config.rs
  backend/src/models/task_manager/mod.rs
  backend/src/models/task_manager/registration_config.rs
  backend/src/models/task_manager/task_config.rs
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/src/models/user_participant_tags.rs
  backend/src/routes/event/info.rs
  backend/src/routes/event/participant_tags.rs
  backend/src/routes/event/registration.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/teams/create.rs
  backend/src/services/task_manager.rs
  backend/src/services/verification.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/event/participant_tags.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/create.rs
  backend/tests/test_utils/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
