Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

feat: Update rust version in Dockerfile along with rust-toolchain.toml
  backend/Dockerfile
  renovate.json
Owners: @Hack4Krak/Backend, @Norbiros

fix: Run bun updates in Dockerfile along with .bun-version updates
  renovate.json
Owners: @Norbiros

feat: Update rust version in Dockerfile along with rust-toolchain.toml
  backend/Dockerfile
  renovate.json
Owners: @Hack4Krak/Backend, @Norbiros

fix: Run bun updates in Dockerfile along with .bun-version updates
  renovate.json
Owners: @Norbiros

fix: Remove matchFileName from bun group, add separateMultipleMajors: false to bun and rust group in renovate
  renovate.json
Owners: @Norbiros

fix: Remove matchFileName from bun group, add separateMultipleMajors: false to bun and rust group in renovate
  renovate.json
Owners: @Norbiros

chore: Add mise.toml to .gitignore
  .gitignore
Owners: @Norbiros

chore: Regenerate bun lockfile
  bun.lock
Owners: @Norbiros

fix(frontend): resolve commit info layout issues in the `Footer`
  frontend/app/components/Footer.server.vue
Owners: @Hack4Krak/Frontend

feat(frontend): improve leaderboard page on mobile devices
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

fix(frontend): properly implement the "minimum full height" layout
  frontend/app/assets/css/main.css
  frontend/app/error.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/app/layouts/no-navbar.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/profile.vue
  frontend/tests/e2e/error.spec.ts
Owners: @Hack4Krak/Frontend

fix(frontend): resolve panel's layout issues on mobile devices
  frontend/app/components/panel/tile/Links.vue
  frontend/app/layouts/panel.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

fix(frontend): add missing await before navigateTo
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Diacritic letters not working
  frontend/public/fonts/Pixelify Sans Hack4Krak.ttf
  frontend/public/fonts/Pixelify Sans Hack4Krak.woff2
Owners: @Hack4Krak/Frontend

fix: Refresh Nuxt data after logout (#717)
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

fix(frontend): add missing await before navigateTo
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
Owners: @Hack4Krak/Frontend

refactor: Refresh Nuxt data instead of making external redirect
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/InviteUser.vue
Owners: @Hack4Krak/Frontend

feat(frontend): improve leaderboard page on mobile devices
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

fix(frontend): resolve commit info layout issues in the `Footer`
  frontend/app/components/Footer.server.vue
Owners: @Hack4Krak/Frontend

fix(frontend): properly implement the "minimum full height" layout
  frontend/app/assets/css/main.css
  frontend/app/error.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/app/layouts/no-navbar.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/profile.vue
  frontend/tests/e2e/error.spec.ts
Owners: @Hack4Krak/Frontend

fix(frontend): resolve panel's layout issues on mobile devices
  frontend/app/components/panel/tile/Links.vue
  frontend/app/layouts/panel.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

feat(frontend): redesigned some characters in the `Pixelify Sans Hack4Krak` font
  frontend/app/assets/css/main.css
  frontend/public/fonts/Pixelify Sans Hack4Krak.woff2
  frontend/public/fonts/pixelify-sans-hack4krak.ttf
Owners: @Hack4Krak/Frontend

fix(frontend): remove incorrectly used `gravity` modifier in `NuxtImg`
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

fix(frontend): remove incorrectly used `gravity` modifier in `NuxtImg`
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Standarize logo and replace logo component with img
  frontend/app/assets/css/main.css
  frontend/app/assets/img/logo-no-text.svg
  frontend/app/assets/img/logo.svg
  frontend/app/components/Footer.server.vue
  frontend/app/components/Logo.vue
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/og-image/DefaultOgImage.vue
  frontend/public/img/logo-text.webp
  frontend/public/img/logo.svg
Owners: @Hack4Krak/Frontend

fix(frontend): shorten site description to <160 characters
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): shorten site description to <160 characters
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix: Add missing alt text to satisfy Bing requirements for indexing
  frontend/app/components/LogoWithText.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/content/info-tiles.ts
Owners: @Hack4Krak/Frontend

fix: form fields don't have consistent styling #715
  frontend/app/app.config.ts
Owners: @Hack4Krak/Frontend

fix: make marketing consent default to false instead of undefined #687
  frontend/app/pages/account/submit_personal_info.vue
Owners: @Hack4Krak/Frontend

fix: form fields don't have consistent styling #715
  frontend/app/app.config.ts
Owners: @Hack4Krak/Frontend

fix: make marketing consent default to false instead of undefined #687
  frontend/app/pages/account/submit_personal_info.vue
Owners: @Hack4Krak/Frontend

fix: Consistent casing in Dockerfille
  frontend/Dockerfile
Owners: @Hack4Krak/Frontend

refactor(backend): use built-in `raw_header` method in `EmailBuilder`
  backend/src/utils/email.rs
Owners: @Hack4Krak/Backend

refactor(backend): use built-in `raw_header` method in `EmailBuilder`
  backend/src/utils/email.rs
Owners: @Hack4Krak/Backend

refactor(frontend): Standarize logo and replace logo component with img
  frontend/app/assets/css/main.css
  frontend/app/assets/img/logo-no-text.svg
  frontend/app/assets/img/logo.svg
  frontend/app/components/Footer.server.vue
  frontend/app/components/Logo.vue
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/og-image/DefaultOgImage.vue
  frontend/public/img/logo-text.webp
  frontend/public/img/logo.svg
Owners: @Hack4Krak/Frontend

perf: Optimize building backend on prod (#745)
  .dockerignore
  backend/Dockerfile
Owners: @Norbiros, @Hack4Krak/Backend

enhancement(frontend): Update about us with new informations
  frontend/app/components/EventCard.vue
  frontend/content/about-us-timeline.ts
Owners: @Hack4Krak/Frontend

feat: Added endpoint for getting username from email
  backend/src/lib.rs
  backend/src/routes/mod.rs
  backend/src/routes/users/mod.rs
  backend/src/routes/users/username_by_email.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

enhancement(frontend): Make about us compliant with new informations (#759)
  frontend/app/components/EventCard.vue
  frontend/content/about-us-timeline.ts
Owners: @Hack4Krak/Frontend
