Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

enhancement: Added sending task_id, task_name, team_name and username with flag submission event
  backend/src/routes/flag/submit.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/sse_handler.rs
Owners: @Hack4Krak/Backend

refactor: Added columns schema to table, changed refs to computed, so value doesn't need to be redefined after refresh
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

enhancement: Added comment describing why we use data: \n\n, changed sse path to /updates and changed channel capacity to 4, fixed refreshing of data on event
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/sse_handler.rs
  backend/src/utils/app_state.rs
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(frontend): Remove unused `@nuxt/scripts`
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

fix(frontend): Use svg favicon (#119, #120) It was already commited and approved, but someone forcepushed it...
  frontend/app/app.vue
  frontend/app/composables/useFavicon.ts
  frontend/nuxt.config.ts
  frontend/public/favicon-light.ico
  frontend/public/favicon.ico
  frontend/public/favicon.svg
Owners: @Hack4Krak/Frontend

refactor(frontend): Remove unused `@nuxt/scripts`
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

chore(frontend): Update to `@nuxtjs/seo` v3.0.0-beta.3
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

fix(frontend): Use svg favicon (#119, #120) It was already commited and approved, but someone forcepushed it...
  frontend/app/app.vue
  frontend/app/composables/useFavicon.ts
  frontend/nuxt.config.ts
  frontend/public/favicon-light.ico
  frontend/public/favicon.ico
  frontend/public/favicon.svg
Owners: @Hack4Krak/Frontend

refactor: Remove kebab case from event config (#311)
  backend/src/models/task.rs
  frontend/app/components/panel/tile/Main.vue
  frontend/app/pages/leaderboard.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(backend): Use proper default env config for tests (#277)
  backend/src/services/env.rs
Owners: @Hack4Krak/Backend

fix(backend): Properly parse email body in tests
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/teams/management/mod.rs
  backend/tests/auth.rs
Owners: @Hack4Krak/Backend

fix: Removed error.message from toast description, cuz eventSource error doesnt have any message
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

fix: Fixed parsing result of flag_capture::completed in flag::submit, so is_first_submission is false when flag_captures::has_any_flags returned true, also given proper name to last of those functions
  backend/src/models/flag_capture.rs
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

refactor: Moved stream_events to SseMessages enum method
  backend/src/routes/flag/submit.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/updates.rs
  backend/src/utils/mod.rs
  backend/src/utils/sse_handler.rs
  backend/src/utils/sse_message.rs
Owners: @Hack4Krak/Backend

refactor: Merged change password with update, removed changing email, cuz its too much pain in butt
  backend/src/models/user.rs
  backend/src/routes/account/change_password.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/users/update.rs
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

feat: Added account management backend
  backend/src/lib.rs
  backend/src/models/user.rs
  backend/src/routes/account/change_password.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/mod.rs
  backend/src/services/auth.rs
  backend/tests/roles.rs
Owners: @Hack4Krak/Backend

feat: Added password reset
  backend/migration/src/lib.rs
  backend/migration/src/m20250225_160500_create_password_reset_table.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/password_reset.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/reset_password.html
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

chore: Clean up mess after rebase
  backend/src/services/env.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

chore: Moved imported used only by test from full-test-suite to itself
  backend/tests/auth.rs
Owners: @Hack4Krak/Backend

chore: Removed unnecessary and duplicated operation_id
  backend/src/routes/auth/reset_password.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

chore: Fixed indent
  backend/src/utils/sse_message.rs
Owners: @Hack4Krak/Backend

refactor: Norbiros breaks everything as always
  backend/src/routes/flag/submit.rs
  backend/src/routes/leaderboard/updates.rs
  backend/src/utils/app_state.rs
  backend/src/utils/mod.rs
  backend/src/utils/sse_event.rs
  backend/src/utils/sse_message.rs
Owners: @Hack4Krak/Backend

Feat: SSE on leaderboard (#286)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/models/flag_capture.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/updates.rs
  backend/src/utils/app_state.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/src/utils/sse_event.rs
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor: Changed reset password email template to generic one
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/reset_password.html
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

wip
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/src/utils/oauth.rs
Owners: @Hack4Krak/Backend

fix(frontend) Use `$auth` instead of `useAuth` in client events (#271)
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
Owners: @Hack4Krak/Frontend

feat: Added account management backend
  backend/src/lib.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/mod.rs
  backend/src/services/auth.rs
  backend/tests/roles.rs
Owners: @Hack4Krak/Backend

refactor: Removed update user function from auth service and moved it functionalities to update function in users model, replaced reset password email template with generic
  backend/src/lib.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/emails_assets/reset_password_body.html
  backend/tests/auth.rs
  backend/tests/roles.rs
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Added password reset (#291)
  backend/migration/src/lib.rs
  backend/migration/src/m20250225_160500_create_password_reset_table.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/password_reset.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/tests/auth.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor: Remove pub(crate) from passwords in structs and implement debug for them without password fields
  backend/src/routes/account/update.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
Owners: @Hack4Krak/Backend

fix(frontend): Switch to `nuxt-open-fetch-x` (#95)
  frontend/app/components/panel/tile/Main.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
  frontend/app/middleware/tasks.global.ts
  frontend/app/pages/leaderboard.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/team.vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

fix(frontend): Manually extend dayjs
  frontend/app/components/panel/tile/Main.vue
Owners: @Hack4Krak/Frontend

refactor: Switched to UserPassword struct with debug implemented as ****** instead of directly implementing it in every use case of password
  backend/src/models/user.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(frontend): Manually extend dayjs
  frontend/app/components/panel/tile/Main.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Switch to `nuxt-open-fetch-x` (#95)
  frontend/app/components/panel/tile/Main.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
  frontend/app/middleware/tasks.global.ts
  frontend/app/pages/leaderboard.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/team.vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

feat: Reset password tests
  backend/tests/auth.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

refactor(frontend): WIP Modals
  frontend/app/components/panel/modal/ConfirmDelete.vue
  frontend/app/composables/useConfirmationModal.ts
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Frontend

feat: Added password reset (#291)
  backend/migration/src/lib.rs
  backend/migration/src/m20250225_160500_create_password_reset_table.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/password_reset.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/tests/auth.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Added account management backend
  backend/src/lib.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/mod.rs
  backend/src/services/auth.rs
  backend/tests/roles.rs
Owners: @Hack4Krak/Backend

refactor: Removed update user function from auth service and moved it functionalities to update function in users model, replaced reset password email template with generic
  backend/src/lib.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/emails_assets/reset_password_body.html
  backend/tests/auth.rs
  backend/tests/roles.rs
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend
