Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

perf(frontend): Use server components in `StoryViewer`
  frontend/app/components/StoryViewer.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Make faq page interactable
  frontend/app/pages/faq.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

perf(frontend): Use lazy hydration for navbar
  frontend/app/components/Navbar.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): Do not require props with default
  frontend/app/components/og-image/DefaultOgImage.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Improve accessibility
  .gitignore
  frontend/app/components/Navbar.vue
  frontend/app/pages/index.vue
Owners: @Norbiros, @Hack4Krak/Frontend

refactor(frontend): Do not require props with default
  frontend/app/components/og-image/DefaultOgImage.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Improve accessibility
  .gitignore
  frontend/app/components/Navbar.vue
  frontend/app/pages/index.vue
Owners: @Norbiros, @Hack4Krak/Frontend

perf(frontend): Use server components in `StoryViewer`
  frontend/app/components/StoryViewer.vue
Owners: @Hack4Krak/Frontend

perf(frontend): Use lazy hydration for navbar
  frontend/app/components/Navbar.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Make faq page interactable
  frontend/app/pages/faq.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat: Use `renovate` instead of dependabot (#429)
  renovate.json
Owners: @Norbiros

fix: Make tests run properly on pre-commit
  .husky/pre-commit
Owners: @Norbiros

feat(frontend): Include icons in `package.json` (#274)
  bun.lock
  frontend/app/components/Auth.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): Include icons in `package.json` (#274)
  bun.lock
  frontend/app/components/Auth.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

refactor(frontend): Reorganize `nuxt.config.ts`
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor: Remove obsolete version from `docker-compose.yml`
  docker-compose.yml
Owners: @Norbiros

refactor(frontend): Define navbar in default layout
  frontend/app/app.vue
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/app/error.vue
  frontend/app/layouts/default.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): Don't use `props` in vue templates
  frontend/app/components/Auth.vue
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/StoryViewer.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/tile/WithTeam.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Add missing aria-labels in login page
  frontend/app/components/Auth.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Use type safe route parameters
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Define navbar in default layout
  frontend/app/app.vue
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/app/error.vue
  frontend/app/layouts/default.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Use type safe route parameters
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Don't use `props` in vue templates
  frontend/app/components/Auth.vue
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/StoryViewer.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/tile/WithTeam.vue
Owners: @Hack4Krak/Frontend

refactor: Remove obsolete version from `docker-compose.yml`
  docker-compose.yml
Owners: @Norbiros

fix(frontend): Add missing aria-labels in login page
  frontend/app/components/Auth.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Reorganize `nuxt.config.ts`
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat: Added account management backend
  backend/src/lib.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/mod.rs
  backend/src/services/auth.rs
  backend/tests/account.rs
  backend/tests/auth.rs
  backend/tests/roles.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Added password reset (#291)
  backend/migration/src/lib.rs
  backend/migration/src/m20250225_160500_create_password_reset_table.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/password_reset.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/tests/auth.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor: Removed update user function from auth service and moved it functionalities to update function in users model, replaced reset password email template with generic
  backend/src/lib.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/emails_assets/reset_password_body.html
  backend/tests/roles.rs
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor: Switched to UserPassword struct with debug implemented as ****** instead of directly implementing it in every use case of password
  backend/src/models/user.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Created macro for update structs (#431)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/hack4krak-backend-macros/Cargo.toml
  backend/hack4krak-backend-macros/src/lib.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/models/user.rs
  backend/src/models/user_roles.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update.rs
  backend/src/services/auth.rs
  backend/src/utils/error.rs
  backend/src/utils/handle_database_error.rs
  backend/src/utils/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(backend): Reorganize crates
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/hack4krak-backend-macros/Cargo.toml
  backend/macros/Cargo.toml
  backend/macros/src/lib.rs
  backend/migration/Cargo.toml
  backend/openapi-cli/Cargo.toml
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
Owners: @Hack4Krak/Backend

feat(frontend): Configure frontend tests (#282)
  .gitignore
  bun.lock
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/e2e/basic.test.ts
  frontend/vitest.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): Configure frontend tests (#282)
  .github/workflows/ci.yaml
  .gitignore
  bun.lock
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/e2e/basic.test.ts
  frontend/vitest.config.ts
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): Implemented some basic tests
  frontend/package.json
  frontend/tests/components/Navbar.test.ts
  frontend/tests/e2e/basic.test.ts
Owners: @Hack4Krak/Frontend

chore: Move quoted_printable so it doesn't display as unused
  backend/tests/auth.rs
Owners: @Hack4Krak/Backend

feat: Added password reset backend
  backend/migration/src/lib.rs
  backend/migration/src/m20250225_160500_create_password_reset_table.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/password_reset.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/tests/auth.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Added account management backend
  backend/src/lib.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/mod.rs
  backend/src/services/auth.rs
  backend/tests/account.rs
  backend/tests/auth.rs
  backend/tests/roles.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Created macro for update structs (#431)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/hack4krak-backend-macros/Cargo.toml
  backend/hack4krak-backend-macros/src/lib.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/models/user.rs
  backend/src/models/user_roles.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update.rs
  backend/src/services/auth.rs
  backend/src/utils/error.rs
  backend/src/utils/handle_database_error.rs
  backend/src/utils/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor: Unified user updates functions, replaced reset password email with generic
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/emails_assets/reset_password_body.html
  backend/tests/roles.rs
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
