Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

enhancement: Added posibility of sending email to all participants, also some fixes, mainly syntax related
  backend/src/routes/admin/email/send.rs
  backend/src/services/emails.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

feat: Added generic email template
  backend/src/services/emails.rs
  backend/src/services/emails_assets/generic.html
Owners: @Hack4Krak/Backend

docs: Docs string
  backend/src/routes/admin/email/send.rs
Owners: @Hack4Krak/Backend

minor changes and fixes which take 1 hour
  backend/src/routes/admin/email/get_placeholders.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Email sending from admin panel
  backend/src/routes/admin/email/get_placeholders.rs
  backend/src/routes/admin/email/get_templates.rs
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/email/send.rs
  backend/src/routes/admin/mod.rs
  backend/src/services/emails.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

minor changes and fixes.
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/email/placeholders.rs
  backend/src/routes/admin/email/templates.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/generic.html
  frontend/openapi/api/openapi.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Backend, @Norbiros

something-something path in some endpoints idk
  backend/src/routes/admin/email/placeholders.rs
  backend/src/routes/admin/email/templates.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Email sending from admin panel (#207)
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/email/placeholders.rs
  backend/src/routes/admin/email/send.rs
  backend/src/routes/admin/email/templates.rs
  backend/src/routes/admin/mod.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/generic.html
  backend/src/utils/error.rs
  frontend/openapi/api/openapi.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Backend, @Norbiros

chore(frontend): Update to Nuxt UI `3.0.0-beta.3`
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

chore(frontend): Update to Nuxt `3.16.0`
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

fix(backend): Add proper response types to openapi specification
  backend/src/routes/task/assets/list.rs
  backend/src/routes/teams/management/invited_users.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: SSE on leaderboard
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/flag/submit.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/sse_handler.rs
  backend/src/utils/app_state.rs
  backend/src/utils/error.rs
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore: Removed `data: ` from string
  backend/src/routes/leaderboard/sse_handler.rs
Owners: @Hack4Krak/Backend

refactor: Changed error handling from map error which returned error for user where there werent any sse receivers to let _ = expr
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

death…
  backend/src/routes/leaderboard/sse_handler.rs
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): Added type checking! And fixed over 63 issues that had been ignored before :3
  .github/workflows/ci.yaml
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/panel/team.vue
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/plugins/openFetch.ts
  frontend/nuxt.config.ts
  frontend/package.json
  package.json
  pnpm-lock.yaml
Owners: @Norbiros, @Hack4Krak/Frontend

enhancement: Added comment describing why we use data: \n\n, changed sse path to /updates and changed channel capacity to 4, fixed refreshing of data on event
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/sse_handler.rs
  backend/src/utils/app_state.rs
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore: Rename teamsRefresh and chartRefresh to refreshTeams adn refreshChart
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

refactor: Added columns schema to table, changed refs to computed, so value doesn't need to be redefined after refresh
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

feat: Added account management backend
  backend/src/lib.rs
  backend/src/models/user.rs
  backend/src/routes/account/change_password.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/mod.rs
  backend/src/services/auth.rs
  backend/tests/roles.rs
Owners: @Hack4Krak/Backend

refactor: Merged change password with update, removed changing email, cuz its too much pain in butt
  backend/src/models/user.rs
  backend/src/routes/account/change_password.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/users/update.rs
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

feat: Added password reset
  backend/migration/src/lib.rs
  backend/migration/src/m20250225_160500_create_password_reset_table.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/password_reset.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/reset_password.html
  backend/src/services/env.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(frontend): Replace `cfg` abbreviation with `config` (#338)
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/tasks/mod.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/event/mod.rs
  backend/src/routes/flag/mod.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/task/assets/mod.rs
  backend/src/routes/task/mod.rs
  backend/src/routes/teams/invitations/mod.rs
  backend/src/routes/teams/management/mod.rs
  backend/src/routes/teams/mod.rs
Owners: @Hack4Krak/Backend

refactor(frontend): Replace `cfg` abbreviation with `config` (#338)
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/tasks/mod.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/event/mod.rs
  backend/src/routes/flag/mod.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/task/assets/mod.rs
  backend/src/routes/task/mod.rs
  backend/src/routes/teams/invitations/mod.rs
  backend/src/routes/teams/management/mod.rs
  backend/src/routes/teams/mod.rs
Owners: @Hack4Krak/Backend

fix(backend): Add proper response types to openapi specification
  backend/src/routes/task/assets/list.rs
  backend/src/routes/teams/management/invited_users.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(frontend): Added type checking (#348)!
  .github/workflows/ci.yaml
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/panel/team.vue
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/plugins/openFetch.ts
  frontend/nuxt.config.ts
  frontend/package.json
  package.json
  patches/@nuxt__image.patch
  pnpm-lock.yaml
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): Added type checking (#348)!
  .github/workflows/ci.yaml
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/panel/team.vue
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/plugins/openFetch.ts
  frontend/nuxt.config.ts
  frontend/package.json
  package.json
  patches/@nuxt__image.patch
  pnpm-lock.yaml
Owners: @Norbiros, @Hack4Krak/Frontend

fix(backend): Add proper response types to openapi specification
  backend/src/routes/task/assets/list.rs
  backend/src/routes/teams/management/invited_users.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): Properly parse email body in tests
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/teams/management/mod.rs
  backend/tests/auth.rs
Owners: @Hack4Krak/Backend

fix(backend): Use proper default env config for tests (#277)
  backend/src/services/env.rs
Owners: @Hack4Krak/Backend

fix(frontend) Use `$auth` instead of `useAuth` in client events (#271)
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
Owners: @Hack4Krak/Frontend

enhancement: Remove kebab case from event config (#311)
  backend/src/models/task.rs
  frontend/app/components/panel/tile/Main.vue
  frontend/app/pages/leaderboard.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(frontend): Update to `@nuxtjs/seo` v3.0.0-beta.3
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

feat: SSE on leaderboard
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/flag/submit.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/sse_handler.rs
  backend/src/utils/app_state.rs
  backend/src/utils/error.rs
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

death…
  backend/src/routes/leaderboard/sse_handler.rs
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore: Rename teamsRefresh and chartRefresh to refreshTeams adn refreshChart
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

enhancement: Added fucking is first flag submission flag
  backend/src/models/flag_capture.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/leaderboard/sse_handler.rs
Owners: @Hack4Krak/Backend

refactor: Changed error handling from map error which returned error for user where there werent any sse receivers to let _ = expr
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

chore: Removed `data: ` from string
  backend/src/routes/leaderboard/sse_handler.rs
Owners: @Hack4Krak/Backend

fix: Fixed leaderboard?
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend
