Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(backend): Drop legacy `relaxed_security_mode`
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/services/env.rs
  backend/src/utils/cookies.rs
Owners: @Hack4Krak/Backend

fix(frontend): Load env variables for the build step in Dockerfile
  frontend/Dockerfile
Owners: @Hack4Krak/Frontend

perf(frontend): Do not prefetch `/rules` page
  frontend/app/content/navbar.ts
Owners: @Hack4Krak/Frontend

perf(frontend): Always use `dayjs` for date formatting
  bun.lock
  frontend/app/pages/leaderboard.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): Resolve hydration errors in the new navbar
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/primitive/ElevatedButtonLink.vue
  frontend/app/pages/index.vue
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Frontend

fix(backend): Store utc dates in database
  backend/src/models/email_confirmation.rs
  backend/src/models/flag_capture.rs
  backend/src/models/password_reset.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/teams/create.rs
  backend/src/services/auth.rs
  backend/tests/routes/auth.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
Owners: @Hack4Krak/Backend

fix(frontend): Resolve hydration errors in the new navbar
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/primitive/ElevatedButtonLink.vue
  frontend/app/pages/index.vue
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Frontend

perf(frontend): Always use `dayjs` for date formatting
  bun.lock
  frontend/app/pages/leaderboard.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(backend): Store utc dates in database
  backend/src/models/email_confirmation.rs
  backend/src/models/flag_capture.rs
  backend/src/models/password_reset.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/teams/create.rs
  backend/src/services/auth.rs
  backend/tests/routes/auth.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
Owners: @Hack4Krak/Backend

chore(frontend): Include `lucide` icon pack
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

perf(frontend): Optimize frontend `Dockerfile`
  frontend/Dockerfile
Owners: @Hack4Krak/Frontend

perf(frontend): Do not prefetch `/rules` page
  frontend/app/content/navbar.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Load env variables for the build step in Dockerfile
  frontend/Dockerfile
Owners: @Hack4Krak/Frontend

perf(frontend): Preload landing background image
  frontend/app/components/hero/DesktopHeroBackground.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Add `prose` property to `MarkdownContent`
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/pages/rules.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Add `prose` property to `MarkdownContent`
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/pages/rules.vue
Owners: @Hack4Krak/Frontend

feat: disable 'vue/no-multiple-template-root' rule in eslint
  frontend/eslint.config.ts
Owners: @Hack4Krak/Frontend

feat: implemented nuxt content
  .gitignore
  frontend/app/pages/docs/[slug].vue
  frontend/app/pages/rules.vue
  frontend/content.config.ts
  frontend/content/rules.md
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

refactor: update hero section component imports and usage to use prefixed names for consistency
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

feat: redesign FAQ page and implement reusable StaticPage layout for hero sections
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/HeroContent.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/layouts/static-page.vue
  frontend/app/pages/docs/[slug].vue
  frontend/app/pages/faq.vue
  frontend/app/pages/index.vue
  frontend/app/pages/rules.vue
  frontend/content/faq.json
  frontend/content/info-tiles.ts
  frontend/content/landing-socials.ts
  frontend/content/navbar.ts
  frontend/content/pages/faq.md
  frontend/content/pages/rules.md
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat: enhance slot handling for dynamic content in HeroSection and HeroContent components
  frontend/app/components/hero/HeroContent.vue
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

refactor: consolidate and simplify stroked-text utilities for reusability
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

fix: update faq accordion icon and styling for consistency
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

feat: integrate dynamic landing page content via JSON configuration
  frontend/app/components/hero/HeroContent.vue
  frontend/app/pages/index.vue
  frontend/content/landing-page.json
Owners: @Hack4Krak/Frontend

feat: enhance slot handling for dynamic content in HeroSection and HeroContent components
  frontend/app/components/hero/HeroContent.vue
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

refactor: consolidate and simplify stroked-text utilities for reusability
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

refactor: update hero section component imports and usage to use prefixed names for consistency
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

fix: update faq accordion icon and styling for consistency
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

feat: redesign FAQ page and implement reusable StaticPage layout for hero sections
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/HeroContent.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/layouts/static-page.vue
  frontend/app/pages/docs/[slug].vue
  frontend/app/pages/faq.vue
  frontend/app/pages/index.vue
  frontend/app/pages/rules.vue
  frontend/content/faq.json
  frontend/content/info-tiles.ts
  frontend/content/landing-socials.ts
  frontend/content/navbar.ts
  frontend/content/pages/faq.md
  frontend/content/pages/rules.md
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat: implemented nuxt content
  .gitignore
  frontend/app/pages/docs/[slug].vue
  frontend/app/pages/rules.vue
  frontend/content.config.ts
  frontend/content/rules.md
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat: integrate dynamic landing page content via JSON configuration
  frontend/app/components/hero/HeroContent.vue
  frontend/app/pages/index.vue
  frontend/content/landing-page.json
Owners: @Hack4Krak/Frontend

feat: disable 'vue/no-multiple-template-root' rule in eslint
  frontend/eslint.config.ts
Owners: @Hack4Krak/Frontend

Revert "refactor: update hero section component imports and usage to use prefixed names for consistency"
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

Revert "feat: redesign FAQ page and implement reusable StaticPage layout for hero sections"
  frontend/app/assets/css/main.css
  frontend/app/assets/faq.json
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/HeroContent.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/content/info-tiles.ts
  frontend/app/content/landing-socials.ts
  frontend/app/content/navbar.ts
  frontend/app/layouts/static-page.vue
  frontend/app/pages/docs/[slug].vue
  frontend/app/pages/faq.vue
  frontend/app/pages/index.vue
  frontend/app/pages/rules.vue
  frontend/content/pages/faq.md
  frontend/content/rules.md
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

Revert "feat: integrate dynamic landing page content via JSON configuration"
  frontend/app/components/hero/HeroContent.vue
  frontend/app/pages/index.vue
  frontend/content/landing-page.json
Owners: @Hack4Krak/Frontend

Revert "feat: disable 'vue/no-multiple-template-root' rule in eslint"
  frontend/eslint.config.ts
Owners: @Hack4Krak/Frontend

Revert "fix: update faq accordion icon and styling for consistency"
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

Revert "feat: implemented nuxt content"
  .gitignore
  frontend/app/content/docs/School_Edition_Guidelines.md
  frontend/app/pages/docs/[slug].vue
  frontend/app/pages/rules.vue
  frontend/content.config.ts
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

Revert "refactor: consolidate and simplify stroked-text utilities for reusability"
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

Revert "feat: enhance slot handling for dynamic content in HeroSection and HeroContent components"
  frontend/app/components/hero/HeroContent.vue
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
