Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

refactor: Created Password struct with debug implemented as ****** to replace all types in password fields
  backend/src/models/user.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(backend): Reorganize crates
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/hack4krak-backend-macros/Cargo.toml
  backend/macros/Cargo.toml
  backend/macros/src/lib.rs
  backend/migration/Cargo.toml
  backend/openapi-cli/Cargo.toml
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
Owners: @Hack4Krak/Backend

refactor: Unified user updates functions, replaced reset password email with generic
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/emails_assets/reset_password_body.html
  backend/tests/roles.rs
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor: Created Password struct with debug implemented as ****** to replace all types in password fields
  backend/src/models/user.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(backend): Reorganize crates
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/hack4krak-backend-macros/Cargo.toml
  backend/macros/Cargo.toml
  backend/macros/src/lib.rs
  backend/migration/Cargo.toml
  backend/openapi-cli/Cargo.toml
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
Owners: @Hack4Krak/Backend

feat: Added password reset backend
  backend/migration/src/lib.rs
  backend/migration/src/m20250225_160500_create_password_reset_table.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/password_reset.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/tests/auth.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Added account management backend
  backend/src/lib.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/mod.rs
  backend/src/services/auth.rs
  backend/tests/account.rs
  backend/tests/auth.rs
  backend/tests/roles.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

chore: Move quoted_printable so it doesn't display as unused
  backend/tests/auth.rs
Owners: @Hack4Krak/Backend

feat: Created macro for update structs (#431)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/hack4krak-backend-macros/Cargo.toml
  backend/hack4krak-backend-macros/src/lib.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/models/user.rs
  backend/src/models/user_roles.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update.rs
  backend/src/services/auth.rs
  backend/src/utils/error.rs
  backend/src/utils/handle_database_error.rs
  backend/src/utils/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(frontend): Implemented some basic tests
  frontend/package.json
  frontend/tests/components/Navbar.test.ts
  frontend/tests/e2e/basic.test.ts
Owners: @Hack4Krak/Frontend

feat(frontend): Configure frontend tests (#282)
  .github/workflows/ci.yaml
  .gitignore
  bun.lock
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/e2e/basic.test.ts
  frontend/vitest.config.ts
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

docs: Redesign & remove technical information from `README.md`
  .github/assets/banner-dark.png
  .github/assets/banner-light.png
  .github/assets/banner.png
  README.md
Owners: @Norbiros

docs: Write backend documentation
  backend/ARCHITECTURE.md
  backend/DEVELOPMENT.md
  backend/README.md
Owners: @Hack4Krak/Backend

docs: Write frontend documentation
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

docs: Write deployment documentation
  DEPLOYMENT.md
Owners: @Norbiros

chore: Reformat files, fix some wording, clean-up .env.example
  .env.example
  DEPLOYMENT.md
  README.md
  backend/ARCHITECTURE.md
  backend/DEVELOPMENT.md
  frontend/DEVELOPMENT.md
Owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

docs: Write documentation for developers (#439)
  .env.example
  .github/assets/banner-dark.png
  .github/assets/banner-light.png
  .github/assets/banner.png
  DEPLOYMENT.md
  README.md
  backend/ARCHITECTURE.md
  backend/DEVELOPMENT.md
  backend/README.md
  frontend/DEVELOPMENT.md
Owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): Fix favicon once and for all (#404)
  frontend/app/layouts/default.vue
  frontend/nuxt.config.ts
  frontend/public/favicon-dark.ico
  frontend/public/favicon-light.ico
  frontend/public/favicon.ico
Owners: @Hack4Krak/Frontend

fix(frontend): Fix favicon once and for all (#404)
  frontend/app/layouts/default.vue
  frontend/nuxt.config.ts
  frontend/public/favicon-dark.ico
  frontend/public/favicon-light.ico
  frontend/public/favicon.ico
Owners: @Hack4Krak/Frontend

refactor(frontend): WIP Modals
  frontend/app/components/panel/modal/ConfirmDelete.vue
  frontend/app/composables/useConfirmationModal.ts
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Frontend

chore(backend): Make password reset link comply to convention where frontend paths are hardcoded
  backend/src/services/auth.rs
  backend/src/services/env.rs
Owners: @Hack4Krak/Backend

chore(backend): Read domain name from env while sending password reset email and translate sender name to polish
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

fix(frontend): Display message as plain text in `StoryViewer`
  frontend/app/components/StoryViewer.vue
Owners: @Hack4Krak/Frontend

feat(backend): Localize error messages (#363)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/macros/Cargo.toml
  backend/macros/src/lib.rs
  backend/macros/src/macros/localized_error.rs
  backend/macros/src/macros/mod.rs
  backend/macros/src/macros/updatable_model.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/flag/mod.rs
  backend/src/routes/task/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

refactor(frontend): Extract `AnimatedText` to a new component (#428)
  frontend/app/components/AnimatedText.vue
  frontend/app/components/StoryViewer.vue
  frontend/tests/components/AnimatedText.test.ts
Owners: @Hack4Krak/Frontend

feat(backend): Localize error messages (#363)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/macros/Cargo.toml
  backend/macros/src/lib.rs
  backend/macros/src/macros/localized_error.rs
  backend/macros/src/macros/mod.rs
  backend/macros/src/macros/updatable_model.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/flag/mod.rs
  backend/src/routes/task/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

refactor(frontend): Extract `AnimatedText` to a new component (#428)
  frontend/app/components/AnimatedText.vue
  frontend/app/components/StoryViewer.vue
  frontend/tests/components/AnimatedText.test.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Display message as plain text in `StoryViewer`
  frontend/app/components/StoryViewer.vue
Owners: @Hack4Krak/Frontend

enhancement: Remove tests from pre-commit hooks
  .husky/pre-commit
Owners: @Norbiros

feat: Fail `vitest` when `console.error` is used
  bun.lock
  frontend/package.json
  frontend/tests/setup.ts
  frontend/vitest.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

chore: Remove outdated entries from `.env.example`
  .env.example
Owners: @Norbiros

fix(backend): Properly serialize validation errors (#382)
  backend/locales/error.yaml
  backend/src/lib.rs
  backend/src/utils/error.rs
  backend/tests/auth.rs
Owners: @Hack4Krak/Backend

fix(backend): Properly serialize validation errors (#382)
  backend/locales/error.yaml
  backend/src/lib.rs
  backend/src/utils/error.rs
  backend/tests/auth.rs
Owners: @Hack4Krak/Backend

feat: Improve a11y by adding HTML lang attribute
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Correct favicon size
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore: Update docs to mention our new, self-hosted infrastructure
  DEPLOYMENT.md
  README.md
  backend/Dockerfile
  fly.toml
Owners: @Norbiros, @Hack4Krak/Backend

fix(docs): Remove false information from `DEPLOYMENT.md`
  DEPLOYMENT.md
Owners: @Norbiros

feat(frontend): Docker configuration for frontend
  .dockerignore
  frontend/Dockerfile
  frontend/nuxt.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

chore: Remove CD workflow for `fly.io` deployment
  .github/workflows/cd.yaml
Owners: @Norbiros

feat(frontend): Docker configuration for frontend
  .dockerignore
  frontend/Dockerfile
  frontend/nuxt.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend
