Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Reset password tests
  backend/tests/auth.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

refactor: Remove pub(crate) from passwords in structs and implement debug for them without password fields
  backend/src/routes/account/update.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
Owners: @Hack4Krak/Backend

refactor: Switched to UserPassword struct with debug implemented as ****** instead of directly implementing it in every use case of password
  backend/src/models/user.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Account deletion tests
  backend/tests/account.rs
  backend/tests/auth.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

fix: Fixed path for /account/update
  backend/src/routes/account/update.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Account update tests
  backend/tests/account.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

chore: Rename UserPassword to Password
  backend/src/models/user.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

enhancement: Remove hardcoded domain
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/src/utils/oauth.rs
Owners: @Hack4Krak/Backend

enhancement(backend): Use polish names for sending emails
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

fix: Added confirmation code generate and reset endpoints in admin panel to config
  backend/src/routes/admin/teams/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

enhancement(backend): Use polish names for sending emails
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

refactor: Rename backend_ and frontend_ domain envs to _url
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/src/utils/oauth.rs
Owners: @Hack4Krak/Backend

wip macro
  backend/src/models/user.rs
  backend/src/routes/account/update.rs
Owners: @Hack4Krak/Backend

refactor(backend): Made some modules private
  backend/src/middlewares/auth.rs
  backend/src/models/mod.rs
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/teams/invitations/mod.rs
  backend/src/routes/teams/management/mod.rs
  backend/src/routes/teams/membership/mod.rs
Owners: @Hack4Krak/Backend

refactor: Made middlewares module pub(crate)
  backend/src/lib.rs
Owners: @Hack4Krak/Backend

refactor(backend): Use Url crate for url parsing
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/src/utils/common_responses.rs
Owners: @Hack4Krak/Backend

feat: Added openapi generation cli and renamed openapi-check crate to openapi-cli
  .github/workflows/ci.yaml
  .husky/pre-commit
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi-check/src/main.rs
  backend/openapi-cli/Cargo.toml
  backend/openapi-cli/src/main.rs
  backend/package.json
  package.json
Owners: @Norbiros, @Hack4Krak/Backend

feat: Created middleware for confirmed teams
  backend/src/middlewares/auth.rs
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

feat(backend): Created middleware for confirmed teams (#310)
  backend/src/middlewares/auth.rs
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

refactor: Load openapi path from env
  backend/openapi-cli/src/main.rs
Owners: @Hack4Krak/Backend

feat: Added openapi generation cli and renamed openapi-check crate to openapi-cli (#248)
  .github/workflows/ci.yaml
  .husky/pre-commit
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi-check/src/main.rs
  backend/openapi-cli/Cargo.toml
  backend/openapi-cli/src/main.rs
  backend/package.json
  package.json
Owners: @Norbiros, @Hack4Krak/Backend

refactor: Removed redirection urls from envs and moved them to hardcoded strings
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/src/utils/app_state.rs
  backend/src/utils/common_responses.rs
  backend/src/utils/oauth.rs
Owners: @Hack4Krak/Backend

enhancement: Removed hardcoded domain(#365)
  backend/src/lib.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/src/utils/openapi.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor: Changed push_str to format!
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

chore: Some name changes
  backend/src/lib.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/src/utils/openapi.rs
Owners: @Hack4Krak/Backend

refactor(backend): Reorganize redirection & domain env variables (#365)
  backend/src/lib.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/src/utils/app_state.rs
  backend/src/utils/common_responses.rs
  backend/src/utils/oauth.rs
  backend/src/utils/openapi.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(backend): Standardize module visibility
  backend/src/lib.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/services/emails.rs
Owners: @Hack4Krak/Backend

refactor(backend): Remove unused errors
  backend/src/routes/task/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

fix(backend): Correctly define cors allowed origin url
  backend/src/lib.rs
Owners: @Hack4Krak/Backend

feat(frontend): Add `compodium` dev module (#409)
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

feat(frontend): Add `compodium` dev module (#409)
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

feat(frontend): Update to `vue-tsc` `3.0.0-alpha.2`
  frontend/app/assets/css/main.css
  frontend/app/components/Auth.vue
  frontend/app/components/panel/FlagForm.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/package.json
  package.json
  patches/@nuxt__image.patch
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

feat!: Switch to bun (#374)
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .husky/pre-commit
  README.md
  bun.lock
  frontend/public/favicon.svg
  frontend/public/icon-dark.ico
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @Norbiros, @Hack4Krak/Frontend

fix: Added confirmation code generate and reset endpoints in admin panel to config
  backend/src/routes/admin/teams/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(backend): Standardize module visibility (#249)
  backend/src/middlewares/auth.rs
  backend/src/models/mod.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/teams/invitations/mod.rs
  backend/src/routes/teams/management/mod.rs
  backend/src/routes/teams/membership/mod.rs
  backend/src/services/emails.rs
Owners: @Hack4Krak/Backend

refactor(backend): Remove unused errors
  backend/src/routes/task/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

fix: Added confirmation code generate and reset endpoints in admin panel to config
  backend/src/routes/admin/teams/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(backend): Standardize module visibility (#249)
  backend/src/middlewares/auth.rs
  backend/src/models/mod.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/teams/invitations/mod.rs
  backend/src/routes/teams/management/mod.rs
  backend/src/routes/teams/membership/mod.rs
  backend/src/services/emails.rs
Owners: @Hack4Krak/Backend

refactor(backend): Remove unused errors
  backend/src/routes/task/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

feat!: Switch to bun (#374)
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .husky/pre-commit
  README.md
  bun.lock
  frontend/public/favicon.svg
  frontend/public/icon-dark.ico
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @Norbiros, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
