Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

Fix: Added to navbar & json & color change
  frontend/app/app.config.ts
  frontend/app/assets/faq.json
  frontend/app/components/Navbar.vue
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

Fix: Cursor pointer & lint
  frontend/app/app.config.ts
  frontend/app/assets/faq.json
  frontend/app/components/Navbar.vue
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Redesign a bit, change icon in faq page
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Don't override all accordions
  frontend/app/app.config.ts
  frontend/app/pages/faq.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

Fix: Cursor pointer 2.0
  frontend/app/app.config.ts
Owners: @Hack4Krak/Frontend

enhancement: Updated faq.json adding new questions and reformating some old
  frontend/app/assets/faq.json
Owners: @Hack4Krak/Frontend

enhancement: Rneamed error
  backend/src/utils/common_responses.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

fix(backend): Use proper default env config for tests (#277)
  backend/src/services/env.rs
Owners: @Hack4Krak/Backend

refactor(frontend): Removed unimplemented links from navbar
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Correctly display `timeLeft` on SSR load
  frontend/app/components/panel/tile/Main.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Improved requests response handling
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/middleware/tasks.global.ts
  frontend/app/pages/panel/index.vue
  frontend/app/plugins/openFetch.ts
Owners: @Hack4Krak/Frontend

Feat: Create FAQ page (#259)
  frontend/app/assets/faq.json
  frontend/app/components/Navbar.vue
  frontend/app/pages/faq.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat: oauth error redirect (#89)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/services/env.rs
  backend/src/utils/common_responses.rs
  backend/src/utils/error.rs
  backend/tests/auth.rs
  frontend/app/pages/login.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Added completed tasks endpoint
  backend/src/models/teams.rs
  backend/src/routes/teams/membership/completed_tasks.rs
  backend/src/routes/teams/membership/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

chore: Made completed tasks public, added response body to completed tasks openapi docs
  backend/src/routes/teams/membership/completed_tasks.rs
  backend/src/routes/teams/membership/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Added completed tasks endpoint (#285)
  backend/src/models/teams.rs
  backend/src/routes/teams/membership/completed_tasks.rs
  backend/src/routes/teams/membership/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

Enhancement: Display more information on error page
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

feat: Added team confirmation
  backend/migration/src/lib.rs
  backend/migration/src/m20250225_171450_add_confirmation_code_and_status_fields_to_team.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/team_status.rs
  backend/src/models/teams.rs
  backend/src/routes/teams/confirm.rs
  backend/src/routes/teams/membership/my_team.rs
  backend/src/routes/teams/mod.rs
  backend/tests/teams.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

enhancement: Implement ToSchema manually, changed error code for invalid confirmaiton code, added team already confirmed error
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/models/team_status.rs
  backend/src/models/teams.rs
  backend/src/routes/teams/mod.rs
Owners: @Hack4Krak/Backend

enhancement: Clear confirmation code after confirming, add confirmation code and team status management to admin panel
  backend/migration/src/m20250225_171450_add_confirmation_code_and_status_fields_to_team.rs
  backend/src/entities/teams.rs
  backend/src/models/teams.rs
  backend/src/routes/admin/teams/clear_confirmation_code.rs
  backend/src/routes/admin/teams/generate_confirmation_code.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/teams/mod.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: Properly defined math expression for points gained from tasks in school regulations
  frontend/app/content/docs/School_Edition_Guidelines.md
Owners: @Hack4Krak/Frontend

Fix: Font size and margin
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Add different shadow for completed tasks (#284)
  frontend/app/components/Map.vue
  frontend/app/pages/tasks/index.vue
Owners: @Hack4Krak/Frontend

chore: Make `lint` checks pass
  frontend/app/content/docs/School_Edition_Guidelines.md
Owners: @Hack4Krak/Frontend

enhancement: Tests
  backend/tests/teams.rs
Owners: @Hack4Krak/Backend

feat: Added team confirmation (#293)
  backend/migration/src/lib.rs
  backend/migration/src/m20250225_171450_add_confirmation_code_and_status_fields_to_team.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/team_status.rs
  backend/src/models/teams.rs
  backend/src/routes/admin/teams/clear_confirmation_code.rs
  backend/src/routes/admin/teams/generate_confirmation_code.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/teams/confirm.rs
  backend/src/routes/teams/membership/my_team.rs
  backend/src/routes/teams/mod.rs
  backend/tests/teams.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(backend): Calculate points over time, leaderboard endpoints (#247)
  backend/src/lib.rs
  backend/src/models/task.rs
  backend/src/routes/event/info.rs
  backend/src/routes/leaderboard/chart.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/teams.rs
  backend/src/routes/mod.rs
  backend/src/utils/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/points_counter.rs
  frontend/app/pages/leaderboard.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): Display basic leaderboard (#246)
  frontend/app/components/Navbar.vue
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

feat(frontend): Improved custom `openFetch` implementation
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/panel/team.vue
  frontend/app/plugins/openFetch.ts
Owners: @Hack4Krak/Frontend

feat(frontend): Handle flag submissions (#281)
  frontend/app/components/panel/FlagForm.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/pages/panel/index.vue
  frontend/app/utils/jokes.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

chore: Lint
  backend/src/utils/points_counter.rs
Owners: @Hack4Krak/Backend

Enhancement: Display more information on error page (#299)
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

feat: Added task assets to description page
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

enhancement: Disalllowed unconfirmed teams from submiting flag
  backend/src/routes/flag/mod.rs
  backend/src/routes/flag/submit.rs
  backend/tests/flag.rs
Owners: @Hack4Krak/Backend

feat(frontend): Handle flag submissions (#281)
  frontend/app/components/panel/FlagForm.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/pages/panel/index.vue
  frontend/app/utils/jokes.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

feat(frontend): Improved custom `openFetch` implementation
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/panel/team.vue
  frontend/app/plugins/openFetch.ts
Owners: @Hack4Krak/Frontend

minor changes and fixes
  backend/src/routes/flag/mod.rs
Owners: @Hack4Krak/Backend

chore: Various, mainly naming related fixes
  backend/src/models/task.rs
  backend/src/routes/leaderboard/chart.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/teams.rs
  backend/src/utils/points_counter.rs
  frontend/app/pages/leaderboard.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): Add different shadow for completed tasks (#284)
  frontend/app/components/Map.vue
  frontend/app/pages/tasks/index.vue
Owners: @Hack4Krak/Frontend

feat: Scoreboard (#246, 247)
  backend/src/lib.rs
  backend/src/models/task.rs
  backend/src/routes/event/info.rs
  backend/src/routes/leaderboard/chart.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/teams.rs
  backend/src/routes/mod.rs
  backend/src/utils/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/points_counter.rs
  frontend/app/components/Navbar.vue
  frontend/app/pages/leaderboard.vue
  frontend/openapi/api/openapi.json
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend, @Norbiros

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
