Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

refactor: Something somnething showerror doesnt work on server components, something something… leave my alone nuxt
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/tasks/index.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

minor changes and fixes
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/tasks/description/[id].vue
Owners: @Hack4Krak/Frontend

feat: Added description display (#151)
  backend/src/routes/task/description.rs
  backend/src/routes/task/mod.rs
  backend/src/utils/task.rs
  frontend/app/assets/css/main.css
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/index.vue
  frontend/nuxt.config.ts
  frontend/openapi/api/openapi.json
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend, @Norbiros

feat(frontend): Populate tasks page (#118)
  frontend/app/assets/css/main.css
  frontend/app/components/Map.vue
  frontend/app/components/Navbar.vue
  frontend/app/pages/tasks/index.vue
  frontend/public/img/map.png
Owners: @Hack4Krak/Frontend

fix: I got scammed
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

feat(backend): Improved Auth Middleware (#84)
  backend/src/middlewares/auth.rs
  backend/src/middlewares/auth_middleware.rs
Owners: @Hack4Krak/Backend

docs(backend): Improved backend's `README.md`
  backend/README.md
Owners: @Hack4Krak/Backend

fix(backend): Don't require nightly in rustfmt
  backend/rustfmt.toml
Owners: @Hack4Krak/Backend

fix nuxt link
  frontend/app/components/Map.vue
Owners: @Hack4Krak/Frontend

fix link again
  frontend/app/components/Map.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Populate tasks page (#118)
  frontend/app/components/Map.vue
  frontend/app/components/Navbar.vue
  frontend/app/pages/tasks/index.vue
  frontend/public/img/map.png
Owners: @Hack4Krak/Frontend

fix(backend): Don't require nightly in rustfmt
  backend/rustfmt.toml
Owners: @Hack4Krak/Backend

feat(backend): Improved Auth Middleware (#84)
  backend/src/middlewares/auth.rs
  backend/src/middlewares/auth_middleware.rs
Owners: @Hack4Krak/Backend

docs(backend): Improved backend's `README.md`
  backend/README.md
Owners: @Hack4Krak/Backend

feat: Docker caching (might not work)
  .github/workflows/ci.yaml
Owners: @Norbiros

fix(frontend): Properly display icon in OgImage (#102)
  frontend/app/components/og-image/DefaultOgImage.vue
Owners: @Hack4Krak/Frontend

fix(backend): Correctly handle duplicated username in OAuth
  backend/src/main.rs
  backend/src/models/user.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): Correctly handle duplicated username in OAuth
  backend/src/main.rs
  backend/src/models/user.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): More fixes to GitHub OAuth implementation
  backend/src/models/user.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

fix(frontend): Properly define `NuxtLink` in `Map.vue`
  frontend/app/components/Map.vue
Owners: @Hack4Krak/Frontend

fix(backend): Fix `/auth/login` endpoint
  backend/src/routes/auth/login.rs
Owners: @Hack4Krak/Backend

main functionality of StoryViewer
  frontend/app/components/StoryViewer.vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

change url to background image to proper one
  backend/src/routes/task/background.rs
Owners: @Hack4Krak/Backend

fix: Change image url in background endpoint to proper one (#181)
  backend/src/routes/task/background.rs
Owners: @Hack4Krak/Backend

feat: Created roles system (#114)
  backend/migration/src/lib.rs
  backend/migration/src/m20250203_105134_setup_roles_system.rs
  backend/src/entities/mod.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/users.rs
  backend/src/main.rs
  backend/src/middlewares/auth.rs
  backend/src/models/user.rs
  backend/src/routes/user.rs
  backend/src/utils/error.rs
  backend/tests/auth.rs
  backend/tests/roles.rs
  backend/tests/teams.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

after dialogues redirect to task description
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

Style changes
  frontend/app/components/StoryViewer.vue
Owners: @Hack4Krak/Frontend

eslint
  frontend/app/components/StoryViewer.vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

fix(backend): Random permissions fixes
  backend/src/main.rs
  backend/src/middlewares/auth.rs
  backend/src/routes/user.rs
  backend/tests/auth.rs
  backend/tests/roles.rs
Owners: @Hack4Krak/Backend

fix(backend): Remove debug prints
  backend/src/routes/auth/oauth/github.rs
Owners: @Hack4Krak/Backend

refactor(backend): Correctly format code
  backend/src/routes/task/background.rs
Owners: @Hack4Krak/Backend

feat: Roles permission system (#114)
  backend/migration/src/lib.rs
  backend/migration/src/m20250203_105134_setup_roles_system.rs
  backend/src/entities/mod.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/users.rs
  backend/src/main.rs
  backend/src/middlewares/auth.rs
  backend/src/models/user.rs
  backend/src/routes/user.rs
  backend/src/utils/error.rs
  backend/tests/auth.rs
  backend/tests/roles.rs
  backend/tests/teams.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(frontend): Properly display icon in OgImage (#102)
  frontend/app/components/og-image/DefaultOgImage.vue
Owners: @Hack4Krak/Frontend

enhancement: (Maybe) Cache docker images
  .github/workflows/ci.yaml
Owners: @Norbiros

wip
  backend/src/main.rs
Owners: @Hack4Krak/Backend

fix: Fix borrows in main.rs
  backend/src/main.rs
Owners: @Hack4Krak/Backend

feat: Added this workflow (also openapi wasnt up to date btw xddd)
  backend/src/lib.rs
  backend/src/main.rs
  backend/tests/openapi.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor: Replaced std::fs with tokio
  backend/tests/openapi.rs
Owners: @Hack4Krak/Backend

refactor: Moved openapi check to bin crate and added it to workflow and pre-commit
  .github/workflows/ci.yaml
  .husky/pre-commit
  backend/Cargo.toml
  backend/package.json
  backend/src/bin/openapi_check.rs
  package.json
Owners: @Norbiros, @Hack4Krak/Backend

refactor: Moved openapi check to other crate (tho according to rust book definition it was already in other crate in main project)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi_check/Cargo.toml
  backend/openapi_check/src/main.rs
Owners: @Hack4Krak/Backend
