Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): Update meta
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

feat(frontend): EventCard background image meta
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): update UIcon class names and remove unused size utility styles
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): replace SizedIcon with UIcon in EventCard component
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): replace NuxtImg with img in about us page and relocate blockAccentVector.svg asset
  frontend/app/assets/img/blockAccentVector.svg
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add badge component configuration in app.config.ts
  frontend/app/app.config.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): remove Label component and replace with UBadge in about us page, update CSS spacing definition
  frontend/app/assets/css/main.css
  frontend/app/components/primitive/Label.vue
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add official logo to the `public` directory
  frontend/public/img/logo.png
Owners: @Hack4Krak/Frontend

fix(backend): correct type in email confirmation button
  backend/templates/email/email_confirmation.html
Owners: @Hack4Krak/Backend

fix(backend): properly render Hack4Krak logo in emails (#646)
  backend/templates/email/base.html
Owners: @Hack4Krak/Backend

refactor(backend): Use proper templating library (#215)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/email/placeholders.rs
  backend/src/routes/admin/email/send.rs
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/routes/admin/email/templates.rs
  backend/src/routes/admin/mod.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/email_confirmation.html
  backend/src/services/emails_assets/external_registration_form.html
  backend/src/services/emails_assets/hello_world.html
  backend/src/services/emails_assets/images/hack4krak_logo_black.webp
  backend/src/services/emails_assets/reset_password_body.html
  backend/src/utils/error.rs
  backend/templates/email/base.html
  backend/templates/email/config.yaml
  backend/templates/email/email_confirmation.html
  backend/templates/email/external_registration_form.html
  backend/templates/email/informational.html
  backend/templates/email/reset_password.html
  backend/tests/utils/email.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(frontend): change naming of custom icon sizing to avoid tw conflicts
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

feat(tests): add e2e tests for error modal functionality and responsiveness
  frontend/tests/e2e/error-modal.test.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): standardize page min-height, update related utilities and layouts
  frontend/app/assets/css/main.css
  frontend/app/error.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
Owners: @Hack4Krak/Frontend

feat(backend): use `bcc` when sending mass informational emails (#628)
  backend/src/routes/admin/email/send_informational.rs
  backend/src/services/emails.rs
  backend/src/utils/email.rs
  backend/src/utils/mod.rs
  backend/templates/email/config.yaml
  backend/templates/email/informational.html
  backend/tests/utils/email.rs
Owners: @Hack4Krak/Backend

refactor(backend): relocate `Email` struct to `utils`
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/utils/email.rs
  backend/tests/utils/email.rs
Owners: @Hack4Krak/Backend

enhancement: Pin rust to specific version and enable rust updates in renovate (#663)
  backend/rust-toolchain.toml
  renovate.json
Owners: @Hack4Krak/Backend, @Norbiros

refactor(backend): add `macros` to the email templates
  backend/templates/email/base.html
  backend/templates/email/email_confirmation.html
  backend/templates/email/external_registration_form.html
  backend/templates/email/macros.html
  backend/templates/email/reset_password.html
Owners: @Hack4Krak/Backend

fix: charts aren't used globally, just frontend
  bun.lock
  frontend/app/pages/leaderboard.vue
  frontend/package.json
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): image rendering mode and image name scheme
  frontend/app/assets/img/block_accent_vector.svg
  frontend/app/components/EventCard.vue
  frontend/app/pages/about_us.vue
  frontend/content/about-us-content.ts
  frontend/public/img/about-us/gallery1.webp
  frontend/public/img/about-us/gallery2.webp
  frontend/public/img/about-us/gallery3.webp
  frontend/public/img/about-us/gallery_main.webp
Owners: @Hack4Krak/Frontend

refactor(tests): streamline and consolidate error modal e2e test cases
  frontend/tests/e2e/error-modal.test.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): replace icon size classes with utility classes for consistency and cleanup
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): rename Logo and Sygnet components and relocate to primitive directory
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/primitive/Logo.vue
  frontend/app/components/primitive/LogoWithoutText.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): continue migrating some forms to `AutoForm`
  bun.lock
  frontend/app/components/AuthForm.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/reset_password.vue
  frontend/app/utils/form.ts
  frontend/package.json
  frontend/tests/e2e/authform.test.ts
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): add toast component configuration in app.config.ts
  frontend/app/app.config.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): replace Logo and LogoWithoutText components with NuxtImg in multiple components
  frontend/app/components/Footer.server.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/primitive/Logo.vue
  frontend/app/components/primitive/LogoWithoutText.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): update MobileLogoSection to use `logo-no-text.svg`
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/public/img/logo-no-text.svg
  frontend/public/img/logo-text.webp
Owners: @Hack4Krak/Frontend

feat(backend): use `bcc` when sending mass informational emails (#628)
  backend/src/routes/admin/email/send_informational.rs
  backend/src/services/emails.rs
  backend/src/utils/email.rs
  backend/src/utils/mod.rs
  backend/templates/email/config.yaml
  backend/templates/email/informational.html
  backend/tests/utils/email.rs
Owners: @Hack4Krak/Backend

refactor(backend): relocate `Email` struct to `utils`
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/utils/email.rs
  backend/tests/utils/email.rs
Owners: @Hack4Krak/Backend

fix(backend): correct type in email confirmation button
  backend/templates/email/email_confirmation.html
Owners: @Hack4Krak/Backend

fix(backend): properly render Hack4Krak logo in emails (#646)
  backend/templates/email/base.html
Owners: @Hack4Krak/Backend

feat(frontend): add official logo to the `public` directory
  frontend/public/img/logo.png
Owners: @Hack4Krak/Frontend

refactor(backend): Use proper templating library (#215)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/email/placeholders.rs
  backend/src/routes/admin/email/send.rs
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/routes/admin/email/templates.rs
  backend/src/routes/admin/mod.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/email_confirmation.html
  backend/src/services/emails_assets/external_registration_form.html
  backend/src/services/emails_assets/hello_world.html
  backend/src/services/emails_assets/images/hack4krak_logo_black.webp
  backend/src/services/emails_assets/reset_password_body.html
  backend/src/utils/error.rs
  backend/templates/email/base.html
  backend/templates/email/config.yaml
  backend/templates/email/email_confirmation.html
  backend/templates/email/external_registration_form.html
  backend/templates/email/informational.html
  backend/templates/email/reset_password.html
  backend/tests/utils/email.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(backend): add `macros` to the email templates
  backend/templates/email/base.html
  backend/templates/email/email_confirmation.html
  backend/templates/email/external_registration_form.html
  backend/templates/email/macros.html
  backend/templates/email/reset_password.html
Owners: @Hack4Krak/Backend

refactor(frontend): update CSS variables naming and standardize component styles
  frontend/app/app.config.ts
  frontend/app/assets/css/fundaments.css
  frontend/app/assets/css/main.css
  frontend/app/components/EventCard.vue
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add official logo to the `public` directory
  frontend/public/img/logo.png
Owners: @Hack4Krak/Frontend

refactor(backend): relocate `Email` struct to `utils`
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/utils/email.rs
  backend/tests/utils/email.rs
Owners: @Hack4Krak/Backend

fix(backend): correct type in email confirmation button
  backend/templates/email/email_confirmation.html
Owners: @Hack4Krak/Backend

refactor(backend): add `macros` to the email templates
  backend/templates/email/base.html
  backend/templates/email/email_confirmation.html
  backend/templates/email/external_registration_form.html
  backend/templates/email/macros.html
  backend/templates/email/reset_password.html
Owners: @Hack4Krak/Backend

feat(backend): use `bcc` when sending mass informational emails (#628)
  backend/src/routes/admin/email/send_informational.rs
  backend/src/services/emails.rs
  backend/src/utils/email.rs
  backend/src/utils/mod.rs
  backend/templates/email/config.yaml
  backend/templates/email/informational.html
  backend/tests/utils/email.rs
Owners: @Hack4Krak/Backend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
