Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(backend): update dependencies and Rust version
  backend/Cargo.lock
  backend/Cargo.toml
  backend/Dockerfile
  backend/macros/Cargo.toml
  backend/rust-toolchain.toml
  backend/src/utils/email.rs
Owners: @Hack4Krak/Backend

chore(frontend): lint code
  frontend/app/components/leaderboard/Table.vue
  frontend/app/pages/admin/identification.vue
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

fix(ci): do not install backend dependencies in `frontend` job
  .github/workflows/ci.yaml
Owners: @Norbiros

fix(ci): do not install backend dependencies in `frontend` job
  .github/workflows/ci.yaml
Owners: @Norbiros

refactor(frontend)!: migrate from `bun` to `pnpm`
  .bun-version
  .github/workflows/ci.yaml
  .husky/pre-commit
  .node-version
  .npmrc
  .nvmrc
  AGENTS.md
  DEPLOYMENT.md
  backend/DEVELOPMENT.md
  bun.lock
  bunfig.toml
  frontend/DEVELOPMENT.md
  frontend/Dockerfile
  frontend/package.json
  frontend/playwright.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(frontend): update all dependencies
  .bun-version
  bun.lock
  frontend/.nuxtrc
  frontend/Dockerfile
  frontend/app/plugins/openFetch.ts
  frontend/package.json
  frontend/tests/pages/tasks/index.spec.ts
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(backend): update dependencies and Rust version
  backend/Cargo.lock
  backend/Cargo.toml
  backend/Dockerfile
  backend/macros/Cargo.toml
  backend/rust-toolchain.toml
  backend/src/utils/email.rs
Owners: @Hack4Krak/Backend

chore(frontend): lint code
  frontend/app/components/leaderboard/Table.vue
  frontend/app/pages/admin/identification.vue
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

fix(frontend): remove manually installed `@nuxt/devtools` dependency
  frontend/package.json
Owners: @Hack4Krak/Frontend

fix(frontend): resolve backend URL at runtime instead of build time
  .env.example
  DEPLOYMENT.md
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/plugins/openFetch.ts
  frontend/nuxt.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): resolve backend URL at runtime instead of build time
  .env.example
  DEPLOYMENT.md
  docker-compose.yml
  frontend/Dockerfile
  frontend/app/plugins/openFetch.ts
  frontend/nuxt.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

fix: strip input fields properly
  backend/src/models/user.rs
  backend/src/routes/account/submit_onboarding.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/event/participate/submit.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/management/change_leader.rs
  backend/src/routes/teams/management/invite_user.rs
  backend/src/routes/teams/management/kick_user.rs
  backend/src/routes/teams/management/rename.rs
  frontend/app/components/AuthForm.vue
  frontend/app/components/panel/event/registration/StepPersonal.vue
  frontend/app/composables/useEventRegistration.ts
  frontend/app/pages/account/onboarding.vue
  frontend/app/utils/form.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(backend): Migrate codebase to SeaORM v2
  backend/src/models/flag_capture.rs
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/tests/test_utils/mod.rs
Owners: @Hack4Krak/Backend

chore(backend): Migrate codebase to SeaORM v2
  backend/src/models/flag_capture.rs
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/tests/test_utils/mod.rs
Owners: @Hack4Krak/Backend

chore: Add Zerya Foundation to README
  README.md
Owners: @Norbiros

feat(frontend): Redesign about us page
  frontend/app/components/EventCard.vue
  frontend/app/components/about/EditionStory.vue
  frontend/app/components/about/Header.vue
  frontend/app/components/about/JoinUs.vue
  frontend/app/pages/about_us.vue
  frontend/content/about-us-content.ts
  frontend/content/about-us-timeline.ts
Owners: @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
