Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

chore(frontend): prepare for Nuxt v5 Also removes unused `how-to-participate.json` file
  frontend/content/how-to-participate.json
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

# This is a combination of 6 commits. # This is the 1st commit message:
  bun.lock
  frontend/app/components/TaskDescription.vue
  frontend/app/error.vue
  frontend/app/middleware/admin.ts
  frontend/app/middleware/event-access-guard.ts
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/admin/register_external_team.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): unpin & update `@nuxt/content` to `v3.12.0` ref: https://github.com/Hack4Krak/Hack4KrakSite/issues/681#issuecomment-3671205887
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): refresh lockfile
  bun.lock
Owners: @Norbiros

chore(frontend): upgrade to `@nuxtjs/seo` v4 https://nuxtseo.com/docs/og-image/migration-guide/v6
  bun.lock
  frontend/app/components/og-image/DefaultOgImage.takumi.vue
  frontend/app/composables/useOgImage.ts
  frontend/content/pages/faq.md
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): update `vitest` and related deps Also removes unused `happy-dom` and `jiti` packages
  bun.lock
  frontend/.nuxtrc
  frontend/package.json
  frontend/vitest.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): update to latest `@norbiros/nuxt-auto-form` Also migrate `UModal` usages to the new `AutoFormModal` component Thanks to Norbi for the original commit
  bun.lock
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/panel/profile.vue
  frontend/app/pages/panel/team.vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): update to `eslint` v10 Also removes unused `@iconify-json/octicon` package
  bun.lock
  frontend/app/utils/hexToRgb.ts
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): upgrade Nuxt UI & `vue-tsc` Also add back `happy-dom` because Vitest needs it
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): move `nuxt-auto-form`'s modal settings to the app config
  frontend/app/app.config.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): add missing `appLayout: 'centered'` for `account/`
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): switch back to `UModal` in `ConfirmDeleteModal`
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
Owners: @Hack4Krak/Frontend

perf(frontend): enable experimental tree shaking for `@nuxt/ui` (#587)
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add TV display page
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/tv/Leaderboard.vue
  frontend/app/components/tv/NotificationToast.vue
  frontend/app/components/tv/ScoreChart.vue
  frontend/app/components/tv/TaskProgress.vue
  frontend/app/components/tv/TopBar.vue
  frontend/app/composables/useAutoScroll.ts
  frontend/app/composables/useLeaderboardChart.ts
  frontend/app/composables/useTvData.ts
  frontend/app/composables/useTvSound.ts
  frontend/app/pages/tv.vue
Owners: @Hack4Krak/Frontend

Added Q2 in date
  README.md
Owners: @Norbiros

feat: specify `q2` in the current edition date in `README.md`
  README.md
Owners: @Norbiros

fix(frontend): update FAQ content #828
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

feat: Update organizator in regulations
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

fix(frontend): update date format in FAQ
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

fix(frontend): update FAQ content (#828)
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

wip
  frontend/app/components/og-image/DefaultOgImage.takumi.vue
  frontend/public/img/logo-dark.png
  frontend/public/img/logo-light.png
Owners: @Hack4Krak/Frontend

feat: add `Zerya` branding in `README.md` and footer
  README.md
  frontend/app/components/Footer.server.vue
Owners: @Norbiros, @Hack4Krak/Frontend

feat: add `Zerya` branding in `README.md` and footer
  README.md
  frontend/app/components/Footer.server.vue
Owners: @Norbiros, @Hack4Krak/Frontend

chore(release): `v2.1.0` - Many Small Fixes
  backend/Cargo.lock
  backend/Cargo.toml
  bun.lock
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

IMPORTANT DO NOT DELETE New landing site
  Arkanet logo+haslo.pdf
  Arkanet logo+haslo_page-0001.jpg
  DEPENDENCY_UPDATE_REVIEW.md
  bun.lock
  frontend/app/components/AuthForm.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/CallToAction.vue
  frontend/app/components/hero/HeroContent.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/components/og-image/DefaultOgImage.takumi.vue
  frontend/app/components/section/EventBanner.vue
  frontend/app/components/section/EventDetails.vue
  frontend/app/components/section/Faq.vue
  frontend/app/components/section/HowItWorks.server.vue
  frontend/app/components/section/InfoTiles.vue
  frontend/app/components/section/Sponsors.vue
  frontend/app/components/section/Stats.server.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/app/layouts/static-page.vue
  frontend/app/pages/about_us.vue
  frontend/app/pages/index.vue
  frontend/content/info-tiles.ts
  frontend/content/landing-page.json
  frontend/content/organizers.ts
  frontend/knip.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/img/arkanet-logo-white.webp
  frontend/public/img/arkanet-logo.webp
  frontend/public/img/cyberfolks-logo.png
  frontend/public/img/cyberfolks-logo.svg
  frontend/public/img/zerya-logo.png
  frontend/public/img/zerya-logo.svg
Owners: @Norbiros, @Hack4Krak/Frontend

chore(release): `v2.1.0` - Many Small Fixes
  backend/Cargo.lock
  backend/Cargo.toml
  bun.lock
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

Discard changes to frontend/app/pages/panel/index.vue
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/components/FlagSubmitModal.vue
  frontend/app/components/panel/tile/FlagForm.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

chore(release): `v2.1.0` - Many Small Fixes
  backend/Cargo.lock
  backend/Cargo.toml
  bun.lock
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

chore(backend): update docker runtime image to Debian Trixie
  backend/Dockerfile
Owners: @Hack4Krak/Backend

feat(cp): allow to collapse all categories
  frontend/app/components/CommandPalette.vue
Owners: @Hack4Krak/Frontend

fix: Use json error format for json deserialization error (#672)
  backend/locales/error.yaml
  backend/src/lib.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

fix: Use json error format for uuid parsing error (#549)
  backend/locales/error.yaml
  backend/src/lib.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

chore: address review feedback
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/composables/useCommandPaletteUtils.ts
Owners: @Hack4Krak/Frontend

wip
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add API proxy for local development
  .env.example
  frontend/nuxt.config.ts
  frontend/server/routes/api-proxy/[...path].ts
Owners: @Norbiros, @Hack4Krak/Frontend

Revert "wip"
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

add `cursor-pointer` rule
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix lint
  frontend/server/routes/api-proxy/[...path].ts
Owners: @Hack4Krak/Frontend

address feedback
  frontend/nuxt.config.ts
  frontend/server/routes/api-proxy/[...path].ts
Owners: @Hack4Krak/Frontend

refactor(backend): Use closure function for overwriting error handlers
  backend/src/lib.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend
