Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

fix: lock
  bun.lock
Owners: @Norbiros

fix: implemented forgorer lock from #508
  bun.lock
Owners: @Norbiros

feat: improve Navbar layout
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

feat: add size variants to LogoWithText component and implement in Footer component
  frontend/app/components/Footer.server.vue
  frontend/app/components/LogoWithText.vue
Owners: @Hack4Krak/Frontend

feat: Resolve and display git hash and branch in the footer
  .dockerignore
  frontend/Dockerfile
  frontend/app/components/Footer.server.vue
  frontend/app/composables/useGitInfo.ts
  frontend/app/utils/gitInfo.ts
  frontend/nuxt.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

feat: Footer component
  frontend/app/components/Footer.server.vue
  frontend/app/components/Navbar.vue
  frontend/app/layouts/static-page.vue
  frontend/app/pages/docs/[slug].vue
  frontend/app/pages/faq.vue
  frontend/app/pages/index.vue
  frontend/content/footer-socials.ts
Owners: @Hack4Krak/Frontend

feat: add size prop to SocialIcon component for customizable icon dimensions
  frontend/app/components/primitive/SocialIcon.vue
Owners: @Hack4Krak/Frontend

feat: Resolve and display git hash and branch in the footer
  .dockerignore
  frontend/Dockerfile
  frontend/app/components/Footer.server.vue
  frontend/app/composables/useGitInfo.ts
  frontend/app/utils/gitInfo.ts
  frontend/nuxt.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

feat: add size prop to SocialIcon component for customizable icon dimensions
  frontend/app/components/primitive/SocialIcon.vue
Owners: @Hack4Krak/Frontend

feat: Footer component
  frontend/app/components/Footer.server.vue
  frontend/app/components/Navbar.vue
  frontend/app/layouts/static-page.vue
  frontend/app/pages/docs/[slug].vue
  frontend/app/pages/faq.vue
  frontend/app/pages/index.vue
  frontend/content/footer-socials.ts
Owners: @Hack4Krak/Frontend

feat: improve Navbar layout
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

feat: add size variants to LogoWithText component and implement in Footer component
  frontend/app/components/Footer.server.vue
  frontend/app/components/LogoWithText.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Update regulations to primary schools edition (#472)
  frontend/content/pages/rules.md
  frontend/public/docs/Zgoda_rodzica_lub_opiekuna_prawnego_na_przetwarzanie_danych_osobowych_uczestnika_Hack4Krak_edycja_dla_szkół_podstawowych.pdf
  frontend/public/docs/Zgoda_rodzica_lub_opiekuna_prawnego_na_uczestnictwo_w_Hack4Krak_edycja_dla_szkół_podstawowych.pdf
Owners: @Hack4Krak/Frontend

feat(frontend): event countdown page
  frontend/app/assets/css/main.css
  frontend/app/components/Timer.vue
  frontend/app/middleware/eventAccessGuard.global.ts
  frontend/app/pages/timer.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Update regulations for the primary schools edition (#472)
  frontend/content/pages/rules.md
  frontend/public/docs/Zgoda_rodzica_lub_opiekuna_prawnego_na_przetwarzanie_danych_osobowych_uczestnika_Hack4Krak_edycja_dla_szkół_podstawowych.pdf
  frontend/public/docs/Zgoda_rodzica_lub_opiekuna_prawnego_na_uczestnictwo_w_Hack4Krak_edycja_dla_szkół_podstawowych.pdf
Owners: @Hack4Krak/Frontend

chore(frontend): Update landing page subtitle to mention the new event
  frontend/content/landing-page.json
Owners: @Hack4Krak/Frontend

chore(frontend): Remove leftover from removed provision of regulations
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

enhancement(frontend): Use frozen lockfile in `ci.yaml` (#522)
  .github/workflows/ci.yaml
Owners: @Norbiros

enhancement(frontend): Use frozen lockfile in `ci.yaml` (#522)
  .github/workflows/ci.yaml
Owners: @Norbiros

feat(frontend): Add privacy policy page (#463)
  frontend/content/footer-socials.ts
  frontend/content/pages/privacy-policy.md
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

docs(frontend): Unified all agreements
  frontend/content/pages/rules.md
  frontend/public/docs/Zgoda_rodzica_lub_opiekuna_prawnego_na_przetwarzanie_danych_osobowych_uczestnika_Hack4Krak_edycja_dla_szkół_podstawowych.pdf
  frontend/public/docs/Zgoda_rodzica_lub_opiekuna_prawnego_na_uczestnictwo_w_Hack4Krak_edycja_dla_szkół_podstawowych.pdf
  frontend/public/documents/Zgoda_rodzica_lub_opiekuna_prawnego_na_uczestnictwo_w_wydarzeniu.pdf
Owners: @Hack4Krak/Frontend

refactor(frontend): Standardize `to` prop name in SocialIcon component
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/components/primitive/SocialIcon.vue
Owners: @Hack4Krak/Frontend

docs(frontend): Unified all agreements
  frontend/content/pages/rules.md
  frontend/public/docs/Zgoda_rodzica_lub_opiekuna_prawnego_na_przetwarzanie_danych_osobowych_uczestnika_Hack4Krak_edycja_dla_szkół_podstawowych.pdf
  frontend/public/docs/Zgoda_rodzica_lub_opiekuna_prawnego_na_uczestnictwo_w_Hack4Krak_edycja_dla_szkół_podstawowych.pdf
  frontend/public/documents/Zgoda_rodzica_lub_opiekuna_prawnego_na_uczestnictwo_w_wydarzeniu.pdf
Owners: @Hack4Krak/Frontend

feat(frontend): Add privacy policy page (#463)
  frontend/content/footer-socials.ts
  frontend/content/pages/privacy-policy.md
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

feat(frontend): Added `how-to-participate` section
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/primitive/OrderedList.vue
  frontend/app/components/section/HowToParticipate.vue
  frontend/app/pages/index.vue
  frontend/content/how-to-participate.json
Owners: @Hack4Krak/Frontend

refactor(frontend): Standardize `to` prop name in SocialIcon component
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/components/primitive/SocialIcon.vue
Owners: @Hack4Krak/Frontend

chore: update dependencies by adding @iconify-json/hugeicons and adjusting detect-libc versions
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): Added `how-to-participate` section
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/primitive/OrderedList.vue
  frontend/app/components/section/HowToParticipate.vue
  frontend/app/pages/index.vue
  frontend/content/how-to-participate.json
Owners: @Hack4Krak/Frontend

chore: update dependencies by adding @iconify-json/hugeicons and adjusting detect-libc versions
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat: add e2e test for navbar visibility on mobile when scrolled to bottom
  frontend/tests/e2e/navbar-mobile.test.ts
Owners: @Hack4Krak/Frontend

Update frontend/tests/e2e/navbar-mobile.test.ts
  frontend/tests/e2e/navbar-mobile.test.ts
Owners: @Hack4Krak/Frontend

fix: wrong rebase
  frontend/app/pages/index.vue
  frontend/tests/e2e/navbar-mobile.test.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Resolve navbar disappearing due to unnecesary full-screen (#524)
  frontend/app/pages/index.vue
  frontend/tests/e2e/navbar-mobile.test.ts
Owners: @Hack4Krak/Frontend

enhancement: Add utoipa::ToSchema to sea-orm model derives
  backend/DEVELOPMENT.md
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/routes/admin/teams/update.rs
Owners: @Hack4Krak/Backend

feat(frontend): Add markdown support to FAQ page
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Extract `inline` option to `MarkdownContent`
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/primitive/OrderedList.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Prevent unmounting markdown dynamic content
  frontend/app/components/section/HowToParticipate.vue
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Extract `inline` option to `MarkdownContent`
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/primitive/OrderedList.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Prevent unmounting markdown dynamic content
  frontend/app/components/section/HowToParticipate.vue
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Add markdown support to FAQ page
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend
