Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(backend): Use proper templating library (#215)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/email/placeholders.rs
  backend/src/routes/admin/email/send.rs
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/routes/admin/email/templates.rs
  backend/src/routes/admin/mod.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/email_confirmation.html
  backend/src/services/emails_assets/external_registration_form.html
  backend/src/services/emails_assets/hello_world.html
  backend/src/services/emails_assets/images/hack4krak_logo_black.webp
  backend/src/services/emails_assets/reset_password_body.html
  backend/src/utils/error.rs
  backend/templates/email/base.html
  backend/templates/email/config.yaml
  backend/templates/email/email_confirmation.html
  backend/templates/email/external_registration_form.html
  backend/templates/email/informational.html
  backend/templates/email/reset_password.html
  backend/tests/utils/email.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): properly render Hack4Krak logo in emails (#646)
  backend/templates/email/base.html
Owners: @Hack4Krak/Backend

refactor(frontend): update gallery image paths and improve EventCard cropping functionality
  frontend/app/app.config.ts
  frontend/app/assets/css/main.css
  frontend/app/components/EventCard.vue
  frontend/app/pages/about_us.vue
  frontend/content/about-us-content.ts
  frontend/content/about-us-timeline.ts
  frontend/public/img/about-us/gallery_main.webp
  frontend/public/img/our-team.webp
Owners: @Hack4Krak/Frontend

enhancement(frontend): add "configuring your ide" section (#636)
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

fix(frontend): improved formating in "configuring your ide" section
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

enhancement(frontend): add "configuring your ide" section (#636)
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

Update frontend/DEVELOPMENT.md
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

enhancement(frontend): add "configuring your ide" section (#636)
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

refactor(frontend): continue migrating some forms to `AutoForm`
  bun.lock
  frontend/app/components/AuthForm.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/reset_password.vue
  frontend/app/utils/form.ts
  frontend/package.json
  frontend/tests/e2e/authform.test.ts
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): customize our core styles according to designs v3
  frontend/app/app.config.ts
  frontend/app/assets/css/fundaments.css
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

fix(frontend): use `text-secondary` for active link url in navbar
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix(frontend): resolve `spacing` class overlap issues (#689)
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/tests/e2e/error-modal.test.ts
Owners: @Hack4Krak/Frontend

fix(frontend): use `text-secondary` for active link url in navbar
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

feat(frontend): about us page (#551)
  frontend/app/assets/img/block_accent_vector.svg
  frontend/app/components/EventCard.vue
  frontend/app/pages/about_us.vue
  frontend/compodium/examples/EventCardExample.vue
  frontend/content/about-us-content.ts
  frontend/content/about-us-timeline.ts
  frontend/content/navbar.ts
  frontend/nuxt.config.ts
  frontend/public/img/about-us/gallery1.webp
  frontend/public/img/about-us/gallery2.webp
  frontend/public/img/about-us/gallery3.webp
  frontend/public/img/events/event1.webp
  frontend/public/img/events/event2.webp
  frontend/public/img/flag_n_clouds.webp
  frontend/public/img/our-team.webp
Owners: @Hack4Krak/Frontend

feat(frontend): customize our core styles according to designs v3
  frontend/app/app.config.ts
  frontend/app/assets/css/fundaments.css
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

feat(frontend): about us page (#551)
  frontend/app/assets/img/block_accent_vector.svg
  frontend/app/components/EventCard.vue
  frontend/app/pages/about_us.vue
  frontend/compodium/examples/EventCardExample.vue
  frontend/content/about-us-content.ts
  frontend/content/about-us-timeline.ts
  frontend/content/navbar.ts
  frontend/nuxt.config.ts
  frontend/public/img/about-us/gallery1.webp
  frontend/public/img/about-us/gallery2.webp
  frontend/public/img/about-us/gallery3.webp
  frontend/public/img/events/event1.webp
  frontend/public/img/events/event2.webp
  frontend/public/img/flag_n_clouds.webp
  frontend/public/img/our-team.webp
Owners: @Hack4Krak/Frontend

refactor(frontend): use img instead of nuxtimg
  frontend/app/components/Footer.server.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/MobileLogoSection.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): clean up unnecessary SVG elements
  frontend/public/img/logo-no-text.svg
  frontend/public/img/logo.svg
Owners: @Hack4Krak/Frontend

refactor(frontend): Use better alt attr for logos
  frontend/app/components/Footer.server.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/MobileLogoSection.vue
Owners: @Hack4Krak/Frontend

refactor(frobntend): Move logo.svg to assets
  frontend/app/assets/img/logo.svg
  frontend/app/components/Footer.server.vue
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix(frontend): some merging error idk
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

chore: remove unused `chartjs-adapter-dayjs-4` dependency
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat: added rust-src-dir to setup rust toolchain action
  .github/workflows/ci.yaml
Owners: @Norbiros

chore: be normal and dont use random file on internet (we like to be secure)
  renovate.json
Owners: @Norbiros

remove components option in setup rust toolchain action
  .github/workflows/ci.yaml
Owners: @Norbiros

enhancement: Pin rust to specific version and enable rust updates in renovate (#663)
  .github/workflows/ci.yaml
  backend/rust-toolchain.toml
  renovate.json
Owners: @Norbiros, @Hack4Krak/Backend

chore(backend): Switch to `serde_norway` from `serde_yml`
  backend/Cargo.lock
  backend/Cargo.toml
  backend/macros/Cargo.toml
  backend/macros/src/macros/localized_error.rs
  backend/src/services/task_manager.rs
  backend/src/utils/email.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

chore(backend): Switch to `serde_norway` from `serde_yml`
  backend/Cargo.lock
  backend/Cargo.toml
  backend/macros/Cargo.toml
  backend/macros/src/macros/localized_error.rs
  backend/src/services/task_manager.rs
  backend/src/utils/email.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

refactor(frontend): move logo-no-text to assets
  frontend/app/assets/img/logo-no-text.svg
  frontend/app/components/hero/MobileLogoSection.vue
Owners: @Hack4Krak/Frontend

fix(frontend): use `bun preview` command in `e2e` tests
  frontend/playwright.config.ts
Owners: @Hack4Krak/Frontend

chore(style): resolve linter issues in `error.vue`
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

chore(style): resolve linter issues in `error.vue`
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

fix(frontend): use `bun preview` command in `e2e` tests
  frontend/playwright.config.ts
Owners: @Hack4Krak/Frontend

fix: make sure `frontend/node_modules` is handled by `.dockerignore`
  .dockerignore
Owners: @Norbiros

perf: add more `backend/` subdirectories to `.dockerignore`
  .dockerignore
Owners: @Norbiros

refactor(frontend): clean up git metadata retrieval logic
  frontend/Dockerfile
  frontend/app/components/Footer.server.vue
  frontend/app/composables/useGitInfo.ts
  frontend/app/utils/gitInfo.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): clean up git metadata retrieval logic
  frontend/Dockerfile
  frontend/app/components/Footer.server.vue
  frontend/app/composables/useGitInfo.ts
  frontend/app/utils/gitInfo.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

perf: add more `backend/` subdirectories to `.dockerignore`
  .dockerignore
Owners: @Norbiros

refactor(frontend): migrate to Nuxt UI typography
  frontend/app/assets/css/main.css
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/docs/faq.vue
Owners: @Hack4Krak/Frontend

perf(frontend): remove `theme(static)` from `@import 'tailwindcss'`
  frontend/app/assets/css/main.css
  frontend/app/components/hero/info/InfoTile.vue
  frontend/content/info-tiles.ts
Owners: @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
