Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

chore: Cleanup formatting in CI action
  .github/workflows/ci.yaml
Owners: @Norbiros

perf: Exclude other binaries than hack4krak-backend from recipe.json
  backend/Dockerfile
Owners: @Hack4Krak/Backend

fix(backend): don't leak account existence on password reset
  backend/src/services/auth.rs
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): optimize page size
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
  package.json
  patches/nuxt-purgecss@2.0.0.patch
Owners: @Norbiros, @Hack4Krak/Frontend

lajczi thingy
  frontend/app/pages/typing-test.vue
Owners: @Hack4Krak/Frontend

fix(backend): correct typo in reset password email
  backend/templates/email/reset_password.html
Owners: @Hack4Krak/Backend

chore: apply suggestion from code review
  backend/templates/email/reset_password.html
Owners: @Hack4Krak/Backend

fix(backend): correct typo in reset password email (
  backend/templates/email/reset_password.html
Owners: @Hack4Krak/Backend

fix(frontend): Add newlines to list in regulations
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

perf: Exclude other binaries than hack4krak-backend from recipe.json
  .nvmrc
  backend/Dockerfile
  bun.lock
  frontend/.nuxtrc
  frontend/app/error.vue
  frontend/package.json
  package.json
Owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(frontend): fix deprecation warning
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

fix(frontend): fix `Invalid value "100" for height"."` warning
  frontend/app/components/og-image/DefaultOgImage.vue
Owners: @Hack4Krak/Frontend

fix: what I broke
  backend/Dockerfile
Owners: @Hack4Krak/Backend

chore: add required `better-sqlite3` package
  bun.lock
  frontend/app/components/og-image/DefaultOgImage.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore: fix lint
  frontend/app/components/AuthForm.vue
  frontend/app/pages/login.vue
  frontend/app/utils/hexToRgb.ts
  frontend/tests/composables/useMarkdownParser.test.ts
Owners: @Hack4Krak/Frontend

fix: correct path to tests setup in Vitest config
  frontend/vitest.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): fix undefined task name on task pages
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

chore(frontend): use X icon instead of plain text in the panel
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(frontend): allow logged-in users to access password reset page
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

chore: apply suggestion from code review
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

chore(frontend): use X icon instead of plain text in the panel
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

chore: apply suggestion from code review
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(frontend): allow logged-in users to access password reset page
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

chore(renovate): don't ignore Zod updates
  renovate.json
Owners: @Norbiros

fix(frontend): fix email validation on password reset page
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

chore: apply review suggestion
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

feat(frontend): use appLayout route rules instead of per-page definePageMeta
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/admin/register_external_team.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/docs/faq.vue
  frontend/app/pages/login.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/profile.vue
  frontend/app/pages/register.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore(frontend): update `@norbiros/nuxt-auto-form` to `0.6.0`
  bun.lock
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/pages/panel/profile.vue
  frontend/app/pages/panel/team.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): fix email validation on password reset page
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

fix(frontend): define typed slots in `HeroSection` (#519)
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

fix(frontend): make background effect scale with page height (#540)
  frontend/app/components/hero/DesktopHeroBackground.vue
  frontend/app/layouts/static-page.vue
Owners: @Hack4Krak/Frontend

chore: fix lint
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/components/FlagSubmitModal.vue
  frontend/app/composables/useKeyboardShortcuts.ts
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

feat(frontend): migrate FAQ to markdown file
  frontend/app/components/content/FaqAccordion.vue
  frontend/app/pages/docs/faq.vue
  frontend/content/faq.json
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

feat: add callback url to `submit_personal_info` page
  backend/src/routes/auth/register.rs
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/account/submit_personal_info.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(backend): don't leak account existence on password reset
  backend/src/services/auth.rs
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): migrate FAQ to markdown file
  frontend/app/components/content/FaqAccordion.vue
  frontend/app/pages/docs/faq.vue
  frontend/content/faq.json
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

fix(frontend): fix footer width on static pages
  frontend/app/components/Footer.server.vue
  frontend/app/layouts/static-page.vue
Owners: @Hack4Krak/Frontend

chore(frontend): fix deprecation warning
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

perf: Exclude other binaries than hack4krak-backend from recipe.json
  .nvmrc
  bun.lock
  frontend/.nuxtrc
  frontend/app/error.vue
  frontend/package.json
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): fix `Invalid value "100" for height"."` warning
  frontend/app/components/og-image/DefaultOgImage.vue
Owners: @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
