Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

fix(frontend): fix bug with agreements opening inside a Nuxt app
  frontend/app/components/panel/ActionButton.vue
  frontend/app/components/panel/event/WhatToBringList.vue
  frontend/app/components/panel/event/registration/StepAgreements.vue
Owners: @Hack4Krak/Frontend

feat: Add option to send email to all users in teams
  backend/src/routes/admin/email/send_informational.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Add option to send email to all users in teams
  backend/src/routes/admin/email/send_informational.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

docs: Update regulations to allow particpants from whole Poland
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

feat(frontend): improve form validation on the client
  frontend/app/components/AuthForm.vue
  frontend/app/components/onboarding/StageAbout.vue
  frontend/app/pages/account/onboarding.vue
  frontend/app/utils/form.ts
Owners: @Hack4Krak/Frontend

fix(frontend): improve slider discoverability in `StageAbout` form
  frontend/app/components/onboarding/StageAbout.vue
Owners: @Hack4Krak/Frontend

feat(frontend): improve form validation on the client
  frontend/app/components/AuthForm.vue
  frontend/app/components/onboarding/StageAbout.vue
  frontend/app/pages/account/onboarding.vue
  frontend/app/utils/form.ts
Owners: @Hack4Krak/Frontend

fix(frontend): improve slider discoverability in `StageAbout` form
  frontend/app/components/onboarding/StageAbout.vue
Owners: @Hack4Krak/Frontend

refactor(backend): improve error handling and logging
  backend/src/middlewares/status_code_drain_middleware.rs
  backend/src/models/email_verification_request.rs
  backend/src/routes/flag/submit.rs
  backend/src/services/task_manager.rs
  backend/src/utils/email.rs
  backend/src/utils/points_counter.rs
Owners: @Hack4Krak/Backend

chore: Update head coordinator email in faq
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

refactor: redesign server events system (#658)
  backend/src/lib.rs
  backend/src/routes/events/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/updates.rs
  backend/src/routes/mod.rs
  backend/src/utils/app_state.rs
  backend/src/utils/mod.rs
  backend/src/utils/openapi.rs
  backend/src/utils/server_event.rs
  backend/src/utils/sse_event.rs
  backend/tests/utils/mod.rs
  backend/tests/utils/server_event.rs
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/leaderboard/Table.vue
  frontend/app/composables/useServerEvents.ts
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): add privacy-focused Umami analytics
  .env.example
  DEPLOYMENT.md
  bun.lock
  frontend/app/components/AuthForm.vue
  frontend/app/components/content/FaqAccordion.vue
  frontend/app/components/section/EventBanner.vue
  frontend/app/components/section/HowToParticipate.vue
  frontend/app/components/section/elements/PartnerCard.vue
  frontend/app/pages/panel/event/register.vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): add privacy-focused Umami analytics
  .env.example
  DEPLOYMENT.md
  bun.lock
  frontend/app/components/AuthForm.vue
  frontend/app/components/content/FaqAccordion.vue
  frontend/app/components/section/EventBanner.vue
  frontend/app/components/section/HowToParticipate.vue
  frontend/app/components/section/elements/PartnerCard.vue
  frontend/app/pages/panel/event/register.vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): disable IP anonymization for analytics
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): temporarily disable ogimage until #822 is completed
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): resolve typecheck errors
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix: age question logic
  frontend/app/components/panel/event/registration/StepPersonal.vue
Owners: @Hack4Krak/Frontend

fix: age question logic
  frontend/app/components/panel/event/registration/StepPersonal.vue
Owners: @Hack4Krak/Frontend

chore(frontend): update list of partners
  frontend/content/landing/partners.ts
  frontend/public/img/partners/fablab.webp
  frontend/public/img/partners/krakow.webp
  frontend/public/img/partners/teachforpoland.webp
Owners: @Hack4Krak/Frontend

fix(frontend): Correct link for Fablab partner
  frontend/content/landing/partners.ts
Owners: @Hack4Krak/Frontend

feat(backend): add even more Prometheus metrics
  backend/src/routes/metrics.rs
Owners: @Hack4Krak/Backend

chore(backend): format code using `rustfmt` 1.9.0 (2026-04-14)
  backend/src/models/email_verification_request.rs
  backend/src/routes/flag/submit.rs
  backend/src/utils/points_counter.rs
Owners: @Hack4Krak/Backend

feat(frontend): add `Egzaminy zawodowe` as a partner
  frontend/content/landing/partners.ts
  frontend/public/img/partners/egzaminy-zawodowe.webp
Owners: @Hack4Krak/Frontend

feat(frontend): make the "Egzaminy zawodowe" partner logo more legible
  frontend/content/landing/partners.ts
  frontend/public/img/partners/egzaminy-zawodowe.png
  frontend/public/img/partners/egzaminy-zawodowe.webp
Owners: @Hack4Krak/Frontend

fix(backend): change task coordinates type from `i32` to `f32`
  backend/src/models/task_manager/task_config.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(backend): Add announcements system (#891)
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20260513_000000_announcements.rs
  backend/src/entities/announcement.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/lib.rs
  backend/src/models/announcement.rs
  backend/src/models/mod.rs
  backend/src/routes/admin/announcements/create.rs
  backend/src/routes/admin/announcements/list.rs
  backend/src/routes/admin/announcements/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/announcements/latest.rs
  backend/src/routes/announcements/mod.rs
  backend/src/routes/mod.rs
  backend/src/routes/task/list.rs
  backend/src/routes/task/mod.rs
  backend/src/routes/task/status/mod.rs
  backend/src/routes/task/status/updates.rs
  backend/src/services/task_manager.rs
  backend/src/utils/error.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/announcements.rs
  backend/tests/routes/event/participant_tags.rs
  backend/tests/routes/mod.rs
  backend/tests/test_utils/mod.rs
  backend/tests/test_utils/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(backend): enhance announcements handling
  backend/migration/src/m20260513_000000_announcements.rs
  backend/src/models/announcement.rs
  backend/src/routes/admin/announcements/create.rs
  backend/src/routes/admin/announcements/list.rs
  backend/src/routes/announcements/latest.rs
  backend/src/routes/task/status/updates.rs
  backend/src/services/task_manager.rs
  backend/src/utils/openapi.rs
  backend/tests/routes/announcements.rs
  backend/tests/test_utils/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(backend): ad announcements system (#891)
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20260513_000000_announcements.rs
  backend/src/entities/announcement.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/lib.rs
  backend/src/models/announcement.rs
  backend/src/models/mod.rs
  backend/src/routes/admin/announcements/create.rs
  backend/src/routes/admin/announcements/list.rs
  backend/src/routes/admin/announcements/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/announcements/latest.rs
  backend/src/routes/announcements/mod.rs
  backend/src/routes/mod.rs
  backend/src/routes/task/list.rs
  backend/src/routes/task/mod.rs
  backend/src/routes/task/status/mod.rs
  backend/src/routes/task/status/updates.rs
  backend/src/services/task_manager.rs
  backend/src/utils/error.rs
  backend/src/utils/openapi.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/announcements.rs
  backend/tests/routes/event/participant_tags.rs
  backend/tests/routes/mod.rs
  backend/tests/test_utils/mod.rs
  backend/tests/test_utils/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(frontend): New partner: 'Programowanie.org'
  frontend/content/landing/partners.ts
  frontend/public/img/partners/programowanie.webp
Owners: @Hack4Krak/Frontend

feat: add ctftime stats endpoint (#581)
  backend/src/routes/leaderboard/ctftime.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: shitty points counter standings impl and other review stuff
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: capture log for ctftime
  backend/src/routes/leaderboard/ctftime.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime.rs
  backend/tests/routes/leaderboard/mod.rs
  backend/tests/routes/mod.rs
  backend/tests/test_utils/database.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: split ctftime endpoint files & other Norbert's concerns
  backend/src/routes/leaderboard/ctftime/capture_log.rs
  backend/src/routes/leaderboard/ctftime/mod.rs
  backend/src/routes/leaderboard/ctftime/team_standings.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/ctftime.rs
  backend/src/utils/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime/capture_log.rs
  backend/tests/routes/leaderboard/ctftime/mod.rs
  backend/tests/routes/leaderboard/ctftime/team_standings.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: random comments and code quality improvements
  backend/src/routes/leaderboard/ctftime/capture_log.rs
  backend/src/routes/leaderboard/ctftime/team_standings.rs
  backend/src/utils/ctftime.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime/capture_log.rs
  backend/tests/routes/leaderboard/ctftime/team_standings.rs
  backend/tests/test_utils/database.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: New partner: INFOSEC
  frontend/content/landing/partners.ts
  frontend/public/img/partners/infosec.png
Owners: @Hack4Krak/Frontend

feat: Add enum variant for sending email only to registered participants
  backend/src/routes/admin/email/send_informational.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: Forbid team leader from leaving team (#911)
  backend/locales/error.yaml
  backend/src/models/teams.rs
  backend/src/routes/teams/membership/leave_team.rs
  backend/src/routes/teams/mod.rs
  backend/tests/models/mod.rs
  backend/tests/models/teams.rs
Owners: @Hack4Krak/Backend

feat: add support for task authors in UI and API
  backend/src/models/task_manager/task_config.rs
  frontend/app/components/Map.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: add support for task authors in UI and API
  backend/src/models/task_manager/task_config.rs
  frontend/app/components/Map.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: New partner: CyberDot
  frontend/content/landing/partners.ts
  frontend/public/img/partners/cyberdot.png
Owners: @Hack4Krak/Frontend
