Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

fix: update also norbiros changes opinion like slawomir mentzen
  backend/src/models/user.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/register.rs
Owners: @Hack4Krak/Backend

fix: xenophobia for teams :)
  backend/src/models/user.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/management/rename.rs
  backend/tests/routes/auth.rs
Owners: @Hack4Krak/Backend

enhancement(frontend): exclude reset password from tab navigation on login page
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Frontend

fix: Changed silly oklch to hex
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

chore: Move scroll images to separate folder in assets/img
  frontend/app/assets/img/scroll/scroll_left.png
  frontend/app/assets/img/scroll/scroll_middle.png
  frontend/app/assets/img/scroll/scroll_right.png
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

fix: Add visually hidden dialog title for screen readers
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

refactor: Make task description scroll bigger
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

WIP responsivnes
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

fix: Make rules normal page, not server
  frontend/app/pages/rules.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Use absolute path for favicon
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Use absolute path for favicon
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix: Make rules normal page, not server (#486)
  frontend/app/pages/rules.vue
Owners: @Hack4Krak/Frontend

Stuck in dead-end, so I say fuck frontend
  frontend/app/assets/img/scroll/scroll_left.png
  frontend/app/assets/img/scroll/scroll_middle.png
  frontend/app/assets/img/scroll/scroll_right.png
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Properly display complex durations (#479)
  frontend/app/components/panel/tile/Main.vue
  frontend/app/utils/duration.ts
  frontend/tests/utils/duration.test.ts
Owners: @Hack4Krak/Frontend

refactor: Remove abbreviations
  backend/src/models/user.rs
  backend/tests/routes/auth.rs
Owners: @Hack4Krak/Backend

enhancement(backend): Restrict allowed characters in usernames (#297)
  backend/src/models/user.rs
  backend/src/routes/account/update.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/management/rename.rs
  backend/tests/routes/auth.rs
Owners: @Hack4Krak/Backend

feat(frontend): Redesign frontend `Dockerfile`
  .dockerignore
  frontend/Dockerfile
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): Redesign frontend `Dockerfile`
  .dockerignore
  frontend/Dockerfile
Owners: @Norbiros, @Hack4Krak/Frontend

enhancement(frontend): update FAQ
  frontend/app/assets/faq.json
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): update FAQ (#496)
  frontend/app/assets/faq.json
  frontend/app/pages/faq.vue
Owners: @Hack4Krak/Frontend

chore: Change renovate updating strategy
  bun.lock
  frontend/package.json
  renovate.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore: Change renovate updating strategy
  bun.lock
  frontend/package.json
  renovate.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): Upgrade to `@nuxt/ui` `v3.1.0`
  bun.lock
  frontend/app/components/AuthForm.vue
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/panel/Tile.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/primitive/Placeholder.vue
  frontend/app/pages/index.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): Remove outdated `@nuxt/image` patch
  bun.lock
  frontend/Dockerfile
  package.json
  patches/@nuxt__image.patch
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): Use `mdi` icon pack
  frontend/app/pages/faq.vue
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Frontend

feat(backend): Basic support for the new `registration.yaml` config
  backend/src/models/task.rs
  backend/src/models/team_invites.rs
  backend/src/routes/event/mod.rs
  backend/src/routes/event/registration.rs
  backend/src/routes/teams/invitations/accept_invitation.rs
  backend/src/routes/teams/management/invite_user.rs
  backend/src/services/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(backend): Validate team creation period and mode (#502)
  backend/locales/error.yaml
  backend/src/models/task.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/mod.rs
  backend/tests/routes/teams/create.rs
Owners: @Hack4Krak/Backend

fix: Add visually hidden dialog title for screen readers
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

fix: Changed silly oklch to hex
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

fix(frontend): Properly display the task description instead of 404 :3
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

refactor: Make task description scroll bigger
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

Stuck in dead-end, so I say fuck frontend
  frontend/app/assets/img/scroll/scroll_left.png
  frontend/app/assets/img/scroll/scroll_middle.png
  frontend/app/assets/img/scroll/scroll_right.png
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

enhancement: Added lazy hydration
  frontend/app/pages/tasks/index.vue
Owners: @Hack4Krak/Frontend

enhancement: Style task description (#283)
  frontend/app/assets/css/main.css
  frontend/app/assets/img/scroll_left.png
  frontend/app/assets/img/scroll_middle.png
  frontend/app/assets/img/scroll_right.png
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

chore: Move scroll images to separate folder in assets/img
  frontend/app/assets/img/scroll/scroll_left.png
  frontend/app/assets/img/scroll/scroll_middle.png
  frontend/app/assets/img/scroll/scroll_right.png
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

WIP responsivnes
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

chore: Remove description pages, cuz its useless now
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore(frontend): Upgrade to `@nuxt/ui` `v3.1.0`
  bun.lock
  frontend/app/components/AuthForm.vue
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/panel/Tile.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/primitive/Placeholder.vue
  frontend/app/pages/index.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): Use `mdi` icon pack
  frontend/app/pages/faq.vue
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Frontend

chore(frontend): Remove outdated `@nuxt/image` patch
  bun.lock
  frontend/Dockerfile
  package.json
  patches/@nuxt__image.patch
Owners: @Norbiros, @Hack4Krak/Frontend
