Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(frontend): new LogoType
  frontend/app/components/LogoWithText.vue
  frontend/public/img/logo-text.webp
Owners: @Hack4Krak/Frontend

feat(frontend): add new CSS variables and fundaments for consistent theming and typography
  frontend/app/app.config.ts
  frontend/app/assets/css/fundaments.css
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add About Us page with initial content and styling
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Component now works properly on mobile devices
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add timeline section and EventCard component to About Us page
  frontend/app/assets/css/fundaments.css
  frontend/app/assets/css/main.css
  frontend/app/components/EventCard.vue
  frontend/app/components/primitive/SizedIcon.vue
  frontend/app/pages/about_us.vue
  frontend/compodium/examples/EventCardExample.vue
  frontend/content/about-us-timeline.ts
  frontend/public/img/blockAccentVector.svg
  frontend/public/img/events/Event1.webp
  frontend/public/img/events/Event2.webp
  frontend/public/img/events/Event3.webp
Owners: @Hack4Krak/Frontend

feat(frontend): timeline component
  frontend/app/components/EventCard.vue
  frontend/app/components/primitive/SizedIcon.vue
  frontend/app/pages/about_us.vue
  frontend/content/about-us-timeline.ts
  frontend/public/img/events/Event1.webp
  frontend/public/img/events/Event2.webp
  frontend/public/img/events/Event3.webp
  frontend/public/img/events/event1.webp
  frontend/public/img/events/event2.webp
  frontend/public/img/events/event3.webp
Owners: @Hack4Krak/Frontend

feat(frontend): Mission section
  frontend/app/components/primitive/Label.vue
  frontend/app/pages/about_us.vue
  frontend/public/img/flag_n_clouds.webp
Owners: @Hack4Krak/Frontend

feat(frontend): refactor EventCard component
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

enhancement: Delete expired email verification requests on server startup (#595)
  backend/src/main.rs
  backend/src/models/email_verification_request.rs
  backend/tests/mod.rs
  backend/tests/models/email_verification_model.rs
  backend/tests/models/mod.rs
Owners: @Hack4Krak/Backend

enhancement: Delete expired email verification requests on server startup (#595)
  backend/src/main.rs
  backend/src/models/email_verification_request.rs
  backend/tests/mod.rs
  backend/tests/models/email_verification_model.rs
  backend/tests/models/mod.rs
Owners: @Hack4Krak/Backend

fix(frontend): require nonempty strings in forms (#640)
  frontend/app/components/admin/form/RegisterExternalTeam.vue
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/utils/form.ts
Owners: @Hack4Krak/Frontend

enhancement: Move pixelarts to assets directory
  frontend/DEVELOPMENT.md
  frontend/app/assets/img/character/dragon.png
  frontend/app/assets/img/character/king.webp
  frontend/app/assets/img/character/knight.webp
  frontend/app/assets/img/character/princess.webp
  frontend/app/assets/img/character/witch_tower.webp
  frontend/app/components/section/InfoTiles.server.vue
  frontend/content/info-tiles.ts
  frontend/public/img/character/king.png
  frontend/public/img/character/knight.png
  frontend/public/img/character/princess.png
  frontend/public/img/character/tower.png
  frontend/public/img/character/witch_tower.png
Owners: @Hack4Krak/Frontend

chore(deps): pin zod to `4.0.5` to prevent OOM error
  bun.lock
  package.json
Owners: @Norbiros

fix(frontend): disable `ogImage` in vitest environment
  frontend/vitest.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): properly use lazy-hydration props in components
  frontend/app/components/hero/HeroSection.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

chore(frontend): update to `@nuxt/content` with zod v4 support
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): properly use lazy-hydration props in components
  frontend/app/components/hero/HeroSection.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix(frontend): disable `ogImage` in vitest environment
  frontend/vitest.config.ts
Owners: @Hack4Krak/Frontend

chore(deps): pin zod to `4.0.5` to prevent OOM error
  bun.lock
  package.json
Owners: @Norbiros

chore(frontend): update to `@nuxt/content` with zod v4 support
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(deps): ignore zod version updates (#681)
  renovate.json
Owners: @Norbiros

chore(deps): ignore zod version updates (#681)
  renovate.json
Owners: @Norbiros

perf(frontend): remove unused `theme(static)` from import tailwind
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

fix(frontend): require nonempty strings in forms (#640)
  frontend/app/components/admin/form/RegisterExternalTeam.vue
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/utils/form.ts
Owners: @Hack4Krak/Frontend

wip
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/components/section/InfoTiles.server.vue
Owners: @Hack4Krak/Frontend

feat: Add backend and frontend services to docker compose and implement profiling (#583)
  DEPLOYMENT.md
  docker-compose.yml
Owners: @Norbiros

review changes and fixes
  DEPLOYMENT.md
  docker-compose.yml
Owners: @Norbiros

enhancement: Send emails with bcc (#628)
  backend/src/services/emails.rs
Owners: @Hack4Krak/Backend

feat(frontend): introduce SizedIcon component
  frontend/app/components/primitive/SizedIcon.vue
Owners: @Hack4Krak/Frontend

minor changes and fixes
  DEPLOYMENT.md
Owners: @Norbiros

enhancement: add docker commands to package.json
  DEPLOYMENT.md
  package.json
Owners: @Norbiros

feat: Add backend and frontend services to docker compose and implement profiling (#583)
  DEPLOYMENT.md
  docker-compose.yml
  package.json
Owners: @Norbiros

feat: new charts lib
  bun.lock
  frontend/app/pages/leaderboard.vue
  frontend/nuxt.config.ts
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

enhancement(frontend): partially adjust navbar to new designs
  bun.lock
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/app/components/primitive/SizedIcon.vue
  frontend/content/navbar.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

enhancement(frontend): partially adjust navbar to new designs
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

feat(frontend): refactor about us layout with UContainer component
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

chore(frontend): simplify css array formatting in nuxt config
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore(frontend): update lock
  bun.lock
Owners: @Norbiros

enhancement(frontend): partially adjust navbar to new designs
  bun.lock
Owners: @Norbiros

feat(frontend): add meta title for about us page and update navbar with about us link
  frontend/app/pages/about_us.vue
  frontend/content/navbar.ts
Owners: @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
