Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

feat: Display username in Navbar
  frontend/app/components/Navbar.vue
  frontend/app/composables/useNavbarUser.server.ts
Owners: @Hack4Krak/Frontend

fix: Proper alt labels
  frontend/app/components/Footer.server.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/og-image/DefaultOgImage.vue
Owners: @Hack4Krak/Frontend

wip
  frontend/app/components/Navbar.server.vue
  frontend/app/composables/useNavbarUser.server.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): Standarize logo and replace logo component with img
  frontend/app/assets/css/main.css
  frontend/app/assets/img/logo-no-text.svg
  frontend/app/assets/img/logo.svg
  frontend/app/components/Footer.server.vue
  frontend/app/components/Logo.vue
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/og-image/DefaultOgImage.vue
  frontend/public/img/logo-text.webp
  frontend/public/img/logo.svg
Owners: @Hack4Krak/Frontend

fix: Proper alt labels
  frontend/app/components/Footer.server.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/og-image/DefaultOgImage.vue
Owners: @Hack4Krak/Frontend

feat: Use `nuxt-charts` for charts library
  bun.lock
  frontend/app/assets/css/main.css
  frontend/app/pages/leaderboard.vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix: Fixed mobile display
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

feat(backend): implement tiebreakers (#602)
  backend/src/utils/points_counter.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

fix(backend): correct chart calculation with the start date
  backend/src/routes/leaderboard/chart.rs
  backend/src/routes/leaderboard/teams.rs
  backend/src/routes/teams/membership/stats.rs
  backend/src/utils/points_counter.rs
  backend/tests/utils/mod.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

refactor(backend): redesign PointsCounter
  backend/src/routes/flag/submit.rs
  backend/src/routes/leaderboard/chart.rs
  backend/src/routes/leaderboard/teams.rs
  backend/src/routes/teams/membership/stats.rs
  backend/src/utils/app_state.rs
  backend/src/utils/points_counter.rs
  backend/tests/utils/points_counter.rs
  frontend/app/pages/leaderboard.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(frontend): update nuxt-open-fetch to `0.13.8`
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): update nuxt-open-fetch to `0.13.8`
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): load `.env` from project root
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

docs: update Nuxt version to 4
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

docs: remove Nuxt version mention
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

feat(backend): implement tiebreakers (#602)
  backend/src/utils/points_counter.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

refactor(backend): redesign PointsCounter
  backend/src/routes/flag/submit.rs
  backend/src/routes/leaderboard/chart.rs
  backend/src/routes/leaderboard/teams.rs
  backend/src/routes/teams/membership/stats.rs
  backend/src/utils/app_state.rs
  backend/src/utils/points_counter.rs
  backend/tests/utils/points_counter.rs
  frontend/app/pages/leaderboard.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(backend): correct chart calculation with the start date
  backend/src/routes/leaderboard/chart.rs
  backend/src/routes/leaderboard/teams.rs
  backend/src/routes/teams/membership/stats.rs
  backend/src/utils/points_counter.rs
  backend/tests/utils/mod.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

fix(frontend): load `.env` from project root
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

docs: update Nuxt version to 4
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

feat: update footer to match design
  frontend/app/components/Footer.server.vue
  frontend/content/footer-socials.ts
Owners: @Hack4Krak/Frontend

fix: adjust margin for logo and copyright
  frontend/app/components/Footer.server.vue
Owners: @Hack4Krak/Frontend

fix: adjust margin for logo, again
  frontend/app/components/Footer.server.vue
Owners: @Hack4Krak/Frontend

docs: Updated backend/DEVELOPMENT.md
  backend/DEVELOPMENT.md
Owners: @Hack4Krak/Backend

feat(frontend): update footer to match the designs (#666)
  frontend/app/components/Footer.server.vue
  frontend/content/footer-socials.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add `@nuxt/hints` module
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore: fix lint
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add `@nuxt/hints` module (#733)
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

docs(backend): fix incorrect command for starting db
  backend/DEVELOPMENT.md
Owners: @Hack4Krak/Backend

fix: use proper volume path for postgres docker image
  docker-compose.yml
Owners: @Norbiros

fix(frontend): remove double buttons in modals
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
Owners: @Hack4Krak/Frontend

feat(ci): add lighthouse performance checks
  .github/workflows/ci.yaml
Owners: @Norbiros

fix(ci): remove budget parameter for now
  .github/workflows/ci.yaml
Owners: @Norbiros

Revert "fix(ci): remove budget parameter for now"
  .github/workflows/ci.yaml
Owners: @Norbiros

fix(ci): fix unlighthouse report path
  .github/workflows/ci.yaml
Owners: @Norbiros

chore(ci): bump `actions/upload-artifact` to v6
  .github/workflows/ci.yaml
Owners: @Norbiros

fix(ci): fix unlighthouse command parsing
  .github/workflows/ci.yaml
Owners: @Norbiros

chore(ci): debug unlighthouse report output path
  .github/workflows/ci.yaml
Owners: @Norbiros

fix: use proper volume path for postgres docker image
  docker-compose.yml
Owners: @Norbiros

ci(unlighthouse): remove uploading html results
  .github/workflows/ci.yaml
Owners: @Norbiros
