Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

feat: Landing site
  frontend/app/assets/css/main.css
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/SocialIcon.vue
  frontend/app/components/hero/CallToAction.vue
  frontend/app/components/hero/HeroBackground.vue
  frontend/app/components/hero/HeroContent.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/components/info/InfoTile.vue
  frontend/app/components/panel/FlagForm.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/components/primitive/ElevatedButtonLink.vue
  frontend/app/content/landing-socials.ts
  frontend/app/content/navbar.ts
  frontend/app/pages/index.vue
  frontend/nuxt.config.ts
  frontend/public/img/dragon.png
  frontend/public/img/king.png
  frontend/public/img/knight.png
  frontend/public/img/landing_background.webp
  frontend/public/img/princess.png
  frontend/public/img/tower.png
  frontend/public/img/witch_tower.png
Owners: @Hack4Krak/Frontend

fix: panel ui
  frontend/app/components/panel/tile/WithoutTeam.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): FAQ for landing page
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: first tile text alignment
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: firefox selection expereience
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

fix: use one contact list
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/content/landing-socials.ts
  frontend/app/content/navbar.ts
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: tests
  frontend/app/components/Navbar.vue
  frontend/app/components/info/InfoTile.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: add tasks
  frontend/app/content/info-tiles.ts
  frontend/app/content/navbar.ts
Owners: @Hack4Krak/Frontend

fix: info-tiles content and text-size
  frontend/app/components/info/InfoTile.vue
  frontend/app/content/info-tiles.ts
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: navbar content and mailto link
  frontend/app/components/Navbar.vue
  frontend/app/content/landing-socials.ts
Owners: @Hack4Krak/Frontend

fix: logo on mobile navbar
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

feat: zapisy otwarte section
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: hydration on visible on viewport dependent components
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

fix: move images to a new directory
  frontend/app/content/info-tiles.ts
  frontend/public/img/characters/dragon.png
  frontend/public/img/characters/king.png
  frontend/public/img/characters/knight.png
  frontend/public/img/characters/princess.png
  frontend/public/img/characters/tower.png
  frontend/public/img/characters/witch_tower.png
Owners: @Hack4Krak/Frontend

fix: Hydration error
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: change "Zapisy otwarte" section to devonly
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: remove unsued x scroll axis
  frontend/app/components/hero/DesktopHeroBackground.vue
Owners: @Hack4Krak/Frontend

fix: primary color
  frontend/app/assets/css/main.css
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/primitive/ElevatedButtonLink.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: comments and naming scheme
  frontend/app/components/hero/DesktopHeroBackground.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: hydrate mismatch fix
  frontend/app/components/hero/info/InfoTile.vue
Owners: @Hack4Krak/Frontend

enhancement: use only css animation
  frontend/app/components/hero/info/InfoTile.vue
Owners: @Hack4Krak/Frontend

fix: hydrate when visible
  frontend/app/components/hero/CallToAction.vue
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

fix: remove distinction by classname
  frontend/app/components/hero/CallToAction.vue
  frontend/app/components/hero/DesktopHeroBackground.vue
  frontend/app/components/hero/HeroContent.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: use tailwind and nuxt ui colors
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/app/components/primitive/ElevatedButtonLink.vue
  frontend/app/content/info-tiles.ts
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: public img dir references
  frontend/app/content/info-tiles.ts
  frontend/app/pages/index.vue
  frontend/public/img/character/dragon.png
  frontend/public/img/character/king.png
  frontend/public/img/character/knight.png
  frontend/public/img/character/princess.png
  frontend/public/img/character/tower.png
  frontend/public/img/character/witch_tower.png
Owners: @Hack4Krak/Frontend

feat: color on active navbar link
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Use `katex` for math formulas in Markdown
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore: add vueuse/nuxt
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

perf(frontend): Optimize images
  frontend/app/assets/img/king.png
  frontend/public/img/character/dragon.png
  frontend/public/img/character/king.png
  frontend/public/img/character/knight.png
  frontend/public/img/character/princess.png
Owners: @Hack4Krak/Frontend

chore(frontend): Standarize icons
  bun.lock
  frontend/app/content/landing-socials.ts
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): Remove manual ids
  frontend/app/content/info-tiles.ts
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Redesign frontend
  frontend/app/components/Navbar.vue
  frontend/app/content/navbar.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): More frontend improvements
  bun.lock
  frontend/app/assets/css/main.css
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/components/panel/King.vue
  frontend/app/components/primitive/SocialIcon.vue
  frontend/app/pages/index.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): Use testid in tests
  frontend/app/components/Navbar.vue
  frontend/tests/components/Navbar.test.ts
Owners: @Hack4Krak/Frontend

fix(frontend): nav width
  bun.lock
  frontend/app/components/Navbar.vue
  frontend/app/content/navbar.ts
Owners: @Norbiros, @Hack4Krak/Frontend

feat(backend): Validate team creation period and mode (#502)
  backend/locales/error.yaml
  backend/src/models/task.rs
  backend/src/models/team_invites.rs
  backend/src/routes/event/mod.rs
  backend/src/routes/event/registration.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/invitations/accept_invitation.rs
  backend/src/routes/teams/management/invite_user.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/task_manager.rs
  backend/tests/routes/teams/create.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

enhancement(frontend): Use `katex` for math formulas in Markdown
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

Feat(frontend): Landing page rewrite (#450)
  bun.lock
  frontend/app/assets/css/main.css
  frontend/app/assets/img/king.png
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/hero/CallToAction.vue
  frontend/app/components/hero/DesktopHeroBackground.vue
  frontend/app/components/hero/HeroContent.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/components/panel/FlagForm.vue
  frontend/app/components/panel/King.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/components/primitive/ElevatedButtonLink.vue
  frontend/app/components/primitive/SocialIcon.vue
  frontend/app/content/info-tiles.ts
  frontend/app/content/landing-socials.ts
  frontend/app/content/navbar.ts
  frontend/app/pages/index.vue
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/public/img/character/dragon.png
  frontend/public/img/character/king.png
  frontend/public/img/character/knight.png
  frontend/public/img/character/princess.png
  frontend/public/img/character/tower.png
  frontend/public/img/character/witch_tower.png
  frontend/public/img/landing_background.webp
  frontend/tests/components/Navbar.test.ts
Owners: @Norbiros, @Hack4Krak/Frontend

perf(frontend): Optimize frontend `Dockerfile`
  frontend/Dockerfile
Owners: @Hack4Krak/Frontend

chore(frontend): Include `lucide` icon pack
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend
