Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

build: use Docker secrets for GIT_ACCESS_TOKEN
  backend/Dockerfile
  docker-compose.yml
Owners: @Hack4Krak/Backend, @Norbiros

fix(frontend): make `error.vue` handle custom errors
  frontend/app/error.vue
  frontend/app/middleware/event-access-guard.ts
Owners: @Hack4Krak/Frontend

feat(frontend): redesign og image
  bun.lock
  frontend/app/components/og-image/DefaultOgImage.takumi.vue
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/public/img/logo-light.png
Owners: @Norbiros, @Hack4Krak/Frontend

feat: capture log for ctftime
  backend/src/routes/leaderboard/ctftime.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime.rs
  backend/tests/routes/leaderboard/mod.rs
  backend/tests/routes/mod.rs
  backend/tests/test_utils/database.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(frontend): make `error.vue` handle custom errors
  frontend/app/error.vue
  frontend/app/middleware/event-access-guard.ts
Owners: @Hack4Krak/Frontend

feat: configure unlighthouse in CI
  .github/workflows/ci.yaml
  bun.lock
  frontend/package.json
  frontend/unlighthouse.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): update og images for multiple pages
  frontend/app/components/og-image/DefaultOgImage.takumi.vue
  frontend/app/pages/about_us.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/index.vue
  frontend/app/pages/leaderboard.vue
  frontend/app/pages/login.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/team.vue
  frontend/app/pages/register.vue
  frontend/app/pages/tasks/index.vue
Owners: @Hack4Krak/Frontend

chore: fix lint...
  frontend/app/components/og-image/DefaultOgImage.takumi.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor(backend): merge email_confirmation_without_callback into email_confirmation_success
  backend/tests/routes/auth.rs
Owners: @Hack4Krak/Backend

fix: add validation message and safe callback query cast
  backend/src/utils/validation.rs
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

...
  frontend/app/pages/account/submit_personal_info.vue
Owners: @Hack4Krak/Frontend

fix(frontend): address some UX issues from site review
  backend/Cargo.lock
  backend/Cargo.toml
  backend/rust-toolchain.toml
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/mail.rs
  backend/tests/utils/email.rs
  frontend/.nuxtrc
  frontend/app/components/EventCard.vue
  frontend/app/components/Footer.server.vue
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/panel/tile/EventProgressBar.vue
  frontend/app/composables/useEventStartAndEnd.ts
  frontend/app/error.vue
  frontend/app/middleware/event-access-guard.ts
  frontend/app/pages/panel/index.vue
  frontend/app/pages/request_password_reset.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

one last place
  frontend/app/middleware/guest.ts
Owners: @Hack4Krak/Frontend

fix(backend): enforce verification of GitHub primary email
  backend/src/routes/auth/oauth/github.rs
Owners: @Hack4Krak/Backend

enchantment: fix lighthouse scores and increase test limits
  frontend/app/components/EventCard.vue
  frontend/app/pages/about_us.vue
  frontend/content/about-us-content.ts
  frontend/unlighthouse.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): resolve merge conflict, revert oxlint formatting, unify school terminology
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/leaderboard/Table.vue
  frontend/content/about-us-timeline.ts
  frontend/content/info-tiles.ts
  frontend/content/landing-page.json
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

feat(frontend): add icon legend and labels to leaderboard table
  frontend/app/components/leaderboard/Table.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add lightbox gallery to about us page
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

fix(frontend): show question label on info tile back side
  frontend/app/components/hero/info/InfoTile.vue
Owners: @Hack4Krak/Frontend

feat(frontend): expand task names on hover in leaderboard
  frontend/app/components/leaderboard/Table.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add chart zoom and translate axis label in leaderboard
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/leaderboard/Table.vue
  frontend/content/info-tiles.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): improve mobile UX for EventCard on about us page
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

fix(frontend): address some UX issues from site review
  frontend/app/components/EventCard.vue
  frontend/app/components/Footer.server.vue
  frontend/app/components/ImageLightbox.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/leaderboard/Table.vue
  frontend/app/error.vue
  frontend/app/pages/about_us.vue
  frontend/app/pages/panel/index.vue
  frontend/content/info-tiles.ts
  frontend/content/landing-page.json
Owners: @Hack4Krak/Frontend

refactor(backend): Move email_verification_request creation to test_utils::database
  backend/tests/routes/auth.rs
  backend/tests/test_utils/database.rs
Owners: @Hack4Krak/Backend

refactor: Change verification system to user-based from team-based (#498)
  backend/migration/src/lib.rs
  backend/migration/src/m20260412_000001_remove_team_confirmation_fields.rs
  backend/src/entities/teams.rs
  backend/src/lib.rs
  backend/src/middlewares/auth.rs
  backend/src/models/task.rs
  backend/src/models/task_manager/participant_tags_config.rs
  backend/src/models/teams.rs
  backend/src/models/user_participant_tags.rs
  backend/src/routes/admin/teams/clear_confirmation_code.rs
  backend/src/routes/admin/teams/generate_confirmation_code.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/teams/confirm.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/verification.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/event/participant_tags.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/confirm.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/routes/teams/mod.rs
  backend/tests/test_utils/database.rs
  backend/tests/test_utils/mod.rs
  backend/tests/test_utils/task_manager.rs
  backend/tests/utils/points_counter.rs
  frontend/app/pages/admin/verification.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(backend): Add bun db:migrate script to package.json
  backend/DEVELOPMENT.md
  backend/package.json
Owners: @Hack4Krak/Backend

refactor(backend): Split utils/task.rs into dedicated modules for every config type
  backend/src/middlewares/event.rs
  backend/src/models/external_team_invitation.rs
  backend/src/models/mod.rs
  backend/src/models/task.rs
  backend/src/models/task_manager/event_config.rs
  backend/src/models/task_manager/mod.rs
  backend/src/models/task_manager/registration_config.rs
  backend/src/models/task_manager/task_config.rs
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/src/routes/event/info.rs
  backend/src/routes/event/participant_tags.rs
  backend/src/routes/event/registration.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/teams/create.rs
  backend/src/services/task_manager.rs
  backend/src/services/verification.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/event/participant_tags.rs
  backend/tests/routes/teams/create.rs
  backend/tests/test_utils/task_manager.rs
Owners: @Hack4Krak/Backend

refactor(backend): Use SMTPClient trait instead of bare lettre::SmtpTransport to allow for DI in app_state
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/routes/auth/confirm.rs
  backend/src/services/auth.rs
  backend/src/services/verification.rs
  backend/src/utils/app_state.rs
  backend/src/utils/email.rs
  backend/tests/mocks/mod.rs
  backend/tests/mocks/smtp_mock.rs
  backend/tests/mod.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/mod.rs
  backend/tests/test_utils/verification_mock.rs
Owners: @Hack4Krak/Backend

refactor(backend): Create TestAuthHeader from id and email instead of user
  backend/tests/middlewares/auth.rs
  backend/tests/routes/account/submit_personal_information.rs
  backend/tests/routes/account/update.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/create.rs
  backend/tests/routes/teams/external_invitations.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/header.rs
Owners: @Hack4Krak/Backend

refactor: Rename VerificationService and all related things to IdentificationService
  backend/locales/error.yaml
  backend/migration/src/m20250604_000001_new_identification_system.rs
  backend/src/entities/users.rs
  backend/src/models/task_manager/participant_tags_config.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/models/user_participant_tags.rs
  backend/src/routes/account/identification.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/admin/identification/apply_tag.rs
  backend/src/routes/admin/identification/identify.rs
  backend/src/routes/admin/identification/mod.rs
  backend/src/routes/admin/identification/reset_identification_code.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/verification/identify.rs
  backend/src/routes/teams/membership/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/identification.rs
  backend/src/services/mod.rs
  backend/src/utils/error.rs
  backend/templates/email/config.yaml
  backend/templates/email/identification_qr_code.html
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/admin/mod.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/QRCodeScan.vue
  frontend/app/pages/admin/identification.vue
  frontend/app/pages/panel/profile.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor: Change participant_tags table to be direct mapping of user_id to tag_id instead of table of arrays
  backend/migration/src/m20250604_000001_new_identification_system.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_participant_tags.rs
  backend/src/entities/users.rs
  backend/src/models/user_participant_tags.rs
  backend/src/services/authorization.rs
  backend/tests/test_utils/mod.rs
Owners: @Hack4Krak/Backend

feat(backend): Email attachements system
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/services/identification.rs
  backend/src/utils/email.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/src/utils/qr_code.rs
  backend/templates/email/identification_qr_code.html
  backend/tests/utils/email.rs
Owners: @Hack4Krak/Backend

refactor(backend): Split AuthService into Authentication and Authorization - additionally move participant_tags logic to AuthorizationService
  backend/src/middlewares/auth.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/identification.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/identification/apply_tag.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/logout.rs
  backend/src/routes/auth/refresh.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/authentication.rs
  backend/src/services/authorization.rs
  backend/src/services/identification.rs
  backend/src/services/mod.rs
  backend/src/utils/oauth.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/auth.rs
Owners: @Hack4Krak/Backend

chore(frontend): update the date of `3rd` edition to `May 2026`
  frontend/content/about-us-timeline.ts
Owners: @Hack4Krak/Frontend

fix(frontend): make the footer of static pages look as intended
  frontend/app/components/hero/DesktopHeroBackground.vue
  frontend/app/layouts/static-page.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add `scroll-behavior: smooth` for the entire page
  frontend/app/assets/css/main.css
Owners: @Hack4Krak/Frontend

feat(frontend): update `centered` layout styling
  frontend/app/layouts/centered.vue
Owners: @Hack4Krak/Frontend

feat(frontend): enable and configure `nuxt-schema-org`
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

docs: Add `AGENTS.md`
  AGENTS.md
Owners: @Norbiros

docs: Add `AGENTS.md`
  AGENTS.md
Owners: @Norbiros

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
