Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

enhancement: Got rid of _team _user suffixes (and prefixes!!!), simplified syntax in teams::leader method and user::assert_is_unique method, changed way of deleting team in teams::delete
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/models/mod.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/models/user_roles.rs
  backend/src/routes/admin/teams/delete.rs
  backend/src/routes/admin/teams/list.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/admin/users/delete.rs
  backend/src/routes/admin/users/list.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Added delete account endpoint
  backend/src/lib.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

wip
  backend/src/routes/admin/index.rs
  backend/src/routes/admin/mod.rs
  frontend/app/components/SideNavigation.vue
  frontend/app/pages/admin/index.vue
  frontend/app/pages/admin/users/index.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

minor changes and fixes
  backend/src/models/team_invites.rs
  backend/src/routes/teams/mod.rs
Owners: @Hack4Krak/Backend

fix: Disallowed multiple invitations for one user (#237)
  backend/src/models/team_invites.rs
  backend/src/routes/teams/mod.rs
Owners: @Hack4Krak/Backend

refactor: Merged user with accounts endpoint
  backend/src/lib.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/mod.rs
  backend/src/routes/user.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Added delete account endpoint (#196)
  backend/src/routes/user.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): Update default value for `TASKS_BASE_PATH`
  Dockerfile
Owners: @Norbiros

fix: Norbiros is stupid :3
  backend/src/models/team_invites.rs
  backend/src/routes/user.rs
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

feat(frontend): Team page
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Accept invites, kick users etc.
  backend/src/routes/teams/membership/my_team.rs
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): Add `key` to requests
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Add `key` to requests
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Frontend

finished. this. shit.
  backend/src/models/teams.rs
  backend/src/routes/teams/management/delete.rs
  backend/src/routes/teams/management/index.rs
  backend/src/routes/teams/management/mod.rs
  backend/src/routes/teams/membership/my_team.rs
  frontend/app/components/panel/modal/DeleteTeam.vue
  frontend/app/components/panel/modal/LeaveTeam.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

enhancement: Changed parsing placeholders to text template library
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/email_confirmation.html
Owners: @Hack4Krak/Backend

feat(backend): Implement `PartialOrd` for `UserRoles`
  backend/src/middlewares/auth.rs
  backend/src/models/user.rs
Owners: @Hack4Krak/Backend

feat(backend): Event middleware (#200)
  backend/src/lib.rs
  backend/src/middlewares/event.rs
  backend/src/middlewares/mod.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

feat(backend): Implement `PartialOrd` for `UserRoles`
  backend/src/middlewares/auth.rs
  backend/src/models/user.rs
Owners: @Hack4Krak/Backend

feat(backend): Event middleware (#200)
  backend/src/lib.rs
  backend/src/middlewares/event.rs
  backend/src/middlewares/mod.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

ehnancement: Fixed everything from requested changes aside from useAuth => $auth
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/DeleteTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/LeaveTeam.vue
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Frontend

feat: Added invited_users endpoints to teams/management
  backend/README.md
  backend/src/entities/email_confirmation.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/team_invites.rs
  backend/src/models/user_roles.rs
  backend/src/routes/teams/management/invited_users.rs
  backend/src/routes/teams/management/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Added revoke invitation endpoint
  backend/src/models/team_invites.rs
  backend/src/routes/teams/management/mod.rs
  backend/src/routes/teams/management/revoke_invitation.rs
Owners: @Hack4Krak/Backend

feat: Implemented invitations in frontend (there is some styling to do, but its mostly good so it will be fixed in future)
  backend/src/routes/teams/management/revoke_invitation.rs
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/pages/panel/team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): Team page
  backend/src/models/teams.rs
  backend/src/routes/teams/management/delete.rs
  backend/src/routes/teams/management/index.rs
  backend/src/routes/teams/management/mod.rs
  backend/src/routes/teams/membership/my_team.rs
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(backend): More invitations related endpoints
  backend/README.md
  backend/src/entities/email_confirmation.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/team_invites.rs
  backend/src/models/user_roles.rs
  backend/src/routes/teams/management/invited_users.rs
  backend/src/routes/teams/management/mod.rs
  backend/src/routes/teams/management/revoke_invitation.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(frontend): Implemented invitations
  backend/src/routes/teams/management/revoke_invitation.rs
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/pages/panel/team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(backend): Update default backend address in Scalar docs
  backend/src/utils/openapi.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Added rules page
  frontend/app/assets/md/Regulamin_Hack4Krak_LO31.md
  frontend/app/pages/rules.vue
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

fix: Include secrets in CD action
  .github/workflows/cd.yaml
Owners: @Norbiros

feat(backend): Handle flag submissions (#245)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migration/src/lib.rs
  backend/migration/src/m20250221_165419_add_flag_capture.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/lib.rs
  backend/src/models/flag_capture.rs
  backend/src/models/mod.rs
  backend/src/models/task.rs
  backend/src/routes/flag/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/mod.rs
  backend/src/services/task_manager.rs
  backend/src/utils/error.rs
  backend/tests/auth.rs
  backend/tests/flag.rs
  backend/tests/teams.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(backend): Handle flag submissions (#245)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migration/src/lib.rs
  backend/migration/src/m20250221_165419_add_flag_capture.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/lib.rs
  backend/src/models/flag_capture.rs
  backend/src/models/mod.rs
  backend/src/models/task.rs
  backend/src/routes/flag/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/mod.rs
  backend/src/services/task_manager.rs
  backend/src/utils/error.rs
  backend/tests/auth.rs
  backend/tests/flag.rs
  backend/tests/teams.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

chore: Release `v0.0.3`
  backend/Cargo.lock
  backend/Cargo.toml
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

enhancement: Moved rules markdown to /docs and renamed, changed width of rendered rules and added props to markdowncontent component, added page prerendering
  frontend/app/assets/docs/School_Edition_Guidelines.md
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/pages/rules.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(backend): Handle flag submissions (#245)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/migration/src/lib.rs
  backend/migration/src/m20250221_165419_add_flag_capture.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/lib.rs
  backend/src/models/flag_capture.rs
  backend/src/models/mod.rs
  backend/src/models/task.rs
  backend/src/routes/flag/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/mod.rs
  backend/src/services/task_manager.rs
  backend/src/utils/error.rs
  backend/tests/auth.rs
  backend/tests/flag.rs
  backend/tests/teams.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

chore: Switched from width property to class propperty
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/pages/rules.vue
Owners: @Hack4Krak/Frontend

enhancement: Added refreshing and fixed height of leave/remove team box
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Frontend

chore: Moved regulations markdown to content
  frontend/app/content/docs/School_Edition_Guidelines.md
  frontend/app/pages/rules.vue
Owners: @Hack4Krak/Frontend

feat: Added rules page (#255)
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/content/docs/School_Edition_Guidelines.md
  frontend/app/pages/rules.vue
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

enhancement: Added responsivnes (apparaently simple as that
  frontend/app/pages/panel/team.vue
Owners: @Hack4Krak/Frontend

feat: Added users and teams endpoints (#133, #134)
  backend/src/lib.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/teams/delete.rs
  backend/src/routes/admin/teams/list.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/admin/users/delete.rs
  backend/src/routes/admin/users/email_confirmations_list.rs
  backend/src/routes/admin/users/list.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update.rs
  backend/src/routes/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/utils/error.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
