Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

docs(frontend): use Nuxt UI prose components in `rules.md`
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

refactor(frontend): switch to `UMain` component
  frontend/app/app.vue
  frontend/app/assets/css/main.css
  frontend/app/components/StoryViewer.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/app/layouts/no-navbar.vue
  frontend/app/layouts/static-page.vue
  frontend/app/pages/index.vue
  frontend/app/pages/tasks/index.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): migrate `Footer` component to `UFooter`
  frontend/app/components/Footer.server.vue
  frontend/content/footer-socials.ts
Owners: @Hack4Krak/Frontend

fix(frontend): manually prerender all `docs/` pages
  frontend/app/utils/getDocsPages.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): migrate `Navbar` component to `UHeader`
  frontend/app/components/Navbar.vue
  frontend/tests/components/Navbar.test.ts
  frontend/tests/e2e/navbar-mobile.test.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): migrate `Navbar` component to `UHeader`
  frontend/app/components/Navbar.vue
  frontend/tests/components/Navbar.test.ts
  frontend/tests/e2e/navbar-mobile.test.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): migrate to Nuxt UI typography
  frontend/app/assets/css/main.css
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/docs/faq.vue
Owners: @Hack4Krak/Frontend

docs(frontend): use Nuxt UI prose components in `rules.md`
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

refactor(frontend): switch to `UMain` component
  frontend/app/app.vue
  frontend/app/assets/css/main.css
  frontend/app/components/StoryViewer.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/app/layouts/no-navbar.vue
  frontend/app/layouts/static-page.vue
  frontend/app/pages/index.vue
  frontend/app/pages/tasks/index.vue
Owners: @Hack4Krak/Frontend

perf(frontend): remove `theme(static)` from `@import 'tailwindcss'`
  frontend/app/assets/css/main.css
  frontend/app/components/hero/info/InfoTile.vue
  frontend/content/info-tiles.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): migrate `Footer` component to `UFooter`
  frontend/app/components/Footer.server.vue
  frontend/content/footer-socials.ts
Owners: @Hack4Krak/Frontend

fix(frontend): manually prerender all `docs/` pages
  frontend/app/utils/getDocsPages.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix: Fix typecheck errors
  bun.lock
  frontend/app/pages/tasks/solution/[id].vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix: Fix typecheck errors - disabled isolated install - assure that task_id value in /solution/[id] is string
  bunfig.toml
  frontend/app/pages/tasks/solution/[id].vue
Owners: @Norbiros, @Hack4Krak/Frontend

fix: Fix typecheck errors - disabled isolated install - assure that task_id value in /solution/[id] is string
  bunfig.toml
  frontend/app/pages/tasks/solution/[id].vue
Owners: @Norbiros, @Hack4Krak/Frontend

feat: new charts lib
  bun.lock
  frontend/app/pages/leaderboard.vue
  frontend/nuxt.config.ts
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix: charts aren't used globally, just frontend
  bun.lock
  frontend/app/pages/leaderboard.vue
  frontend/package.json
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix: dark theme tooltip & overall chart look
  bun.lock
  frontend/app/assets/css/main.css
  frontend/app/pages/leaderboard.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore: remove unused `chartjs-adapter-dayjs-4` dependency
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix: make marketing consent default to false instead of undefined #687
  frontend/app/pages/account/submit_personal_info.vue
Owners: @Hack4Krak/Frontend

fix: form fields don't have consistent styling #715
  frontend/app/app.config.ts
Owners: @Hack4Krak/Frontend

fix: Redirect with external: true after logout (#717)
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

fix: Refresh Nuxt data after logout (#717)
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

refactor: Refresh Nuxt data instead of making external redirect
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/InviteUser.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Switch from using `better-sqlite3` implementation to native sqlite in nuxt content
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): Copy `bunfig.toml` in Dockerfile
  frontend/Dockerfile
Owners: @Hack4Krak/Frontend

refactor(frontend): Switch from using `better-sqlite3` implementation to native sqlite in nuxt content
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): Copy `bunfig.toml` in Dockerfile
  frontend/Dockerfile
Owners: @Hack4Krak/Frontend

fix: Add glob operator before .rs category in editorconfig
  .editorconfig
Owners: @Norbiros

wip i fucking hate openapi or utoipa i dont know what causes this mess
  backend/src/models/teams.rs
  backend/src/routes/admin/flag_captures/list.rs
  backend/src/routes/admin/flag_captures/list_by_task.rs
  backend/src/routes/admin/flag_captures/list_by_team_id.rs
  backend/src/routes/admin/flag_captures/mod.rs
  backend/src/routes/admin/team_invites/delete_external.rs
  backend/src/routes/admin/team_invites/list.rs
  backend/src/routes/admin/team_invites/list_by_team_id.rs
  backend/src/routes/admin/team_invites/mod.rs
  frontend/app/pages/panel/team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Define names of objects in openapi based on file path not struct name in entities
  backend/macros/src/lib.rs
  backend/macros/src/macros/mod.rs
  backend/macros/src/macros/to_schema_from_file_name.rs
  backend/macros/src/macros/updatable_model.rs
  backend/package.json
  backend/src/entities/email_verification_request.rs
  backend/src/entities/external_team_invitation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/routes/teams/membership/my_team.rs
  frontend/app/pages/panel/team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Admin endpoints for flag_captures and team_invites
  backend/locales/error.yaml
  backend/src/models/teams.rs
  backend/src/routes/admin/flag_captures/list.rs
  backend/src/routes/admin/flag_captures/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/team_invites/delete.rs
  backend/src/routes/admin/team_invites/list.rs
  backend/src/routes/admin/team_invites/list_for_team.rs
  backend/src/routes/admin/team_invites/mod.rs
  backend/src/utils/error.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

wip
  backend/src/routes/admin/email_verification_request/list.rs
  backend/src/routes/admin/email_verification_request/mod.rs
  backend/src/routes/admin/mod.rs
Owners: @Hack4Krak/Backend

refactor(frontend): Use isolated install when possible
  bunfig.toml
  frontend/Dockerfile
Owners: @Norbiros, @Hack4Krak/Frontend

refactor: Refresh Nuxt data instead of making external redirect
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/InviteUser.vue
Owners: @Hack4Krak/Frontend

fix: Refresh Nuxt data after logout (#717)
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Chnaged "T" in Pixelify Sans Hack4Krak
  frontend/app/assets/css/main.css
  frontend/public/fonts/Pixelify Sans Hack4Krak.ttf
  frontend/public/fonts/pixelify-sans-hack4krak.ttf
Owners: @Hack4Krak/Frontend

feat(frontend): Resolved Firefox console error
  frontend/app/assets/css/main.css
  frontend/public/fonts/Pixelify Sans Hack4Krak.woff2
Owners: @Hack4Krak/Frontend

feat: Add bun updates in renovate
  .bun-version
  .github/workflows/ci.yaml
  bun.lock
  frontend/Dockerfile
  renovate.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat: Add bun updates in renovate
  .bun-version
  .github/workflows/ci.yaml
  bun.lock
  frontend/Dockerfile
  renovate.json
Owners: @Norbiros, @Hack4Krak/Frontend
