Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

refactor(backend): Use SMTPClient trait instead of bare lettre::SmtpTransport to allow for DI in app_state
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/routes/auth/confirm.rs
  backend/src/services/auth.rs
  backend/src/services/verification.rs
  backend/src/utils/app_state.rs
  backend/src/utils/email.rs
  backend/tests/mocks/mod.rs
  backend/tests/mocks/smtp_mock.rs
  backend/tests/mod.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/mod.rs
  backend/tests/test_utils/verification_mock.rs
Owners: @Hack4Krak/Backend

refactor(backend): Create TestAuthHeader from id and email instead of user
  backend/tests/middlewares/auth.rs
  backend/tests/routes/account/onboarding.rs
  backend/tests/routes/account/update.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/create.rs
  backend/tests/routes/teams/external_invitations.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/header.rs
Owners: @Hack4Krak/Backend

refactor(backend): Move email_verification_request creation to test_utils::database
  backend/tests/routes/auth.rs
  backend/tests/test_utils/database.rs
Owners: @Hack4Krak/Backend

refactor: Rename VerificationService and all related things to IdentificationService
  backend/locales/error.yaml
  backend/migration/src/m20250604_000001_new_identification_system.rs
  backend/src/entities/users.rs
  backend/src/models/task_manager/participant_tags_config.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/account/identification.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/admin/identification/apply_tag.rs
  backend/src/routes/admin/identification/identify.rs
  backend/src/routes/admin/identification/mod.rs
  backend/src/routes/admin/identification/reset_identification_code.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/verification/identify.rs
  backend/src/routes/teams/membership/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/identification.rs
  backend/src/services/mod.rs
  backend/src/utils/error.rs
  backend/templates/email/config.yaml
  backend/templates/email/identification_qr_code.html
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/admin/mod.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/QRCodeScan.vue
  frontend/app/components/panel/tile/ParticipantTags.vue
  frontend/app/pages/account/settings.vue
  frontend/app/pages/admin/identification.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(backend): Split AuthService into Authentication and Authorization - additionally move participant_tags logic to AuthorizationService
  backend/src/middlewares/auth.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/identification.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/identification/apply_tag.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/logout.rs
  backend/src/routes/auth/refresh.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/authentication.rs
  backend/src/services/authorization.rs
  backend/src/services/identification.rs
  backend/src/services/mod.rs
  backend/src/utils/oauth.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/auth.rs
Owners: @Hack4Krak/Backend

refactor: Change participant_tags table to be direct mapping of user_id to tag_id instead of table of arrays
  backend/migration/src/m20250604_000001_new_identification_system.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_participant_tags.rs
  backend/src/entities/users.rs
  backend/src/models/user_participant_tags.rs
  backend/src/services/authorization.rs
  backend/tests/test_utils/mod.rs
Owners: @Hack4Krak/Backend

feat(backend): Email attachements system
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/services/identification.rs
  backend/src/utils/email.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/src/utils/qr_code.rs
  backend/templates/email/identification_qr_code.html
  backend/tests/utils/email.rs
Owners: @Hack4Krak/Backend

fix(backend): do not send identification code email in `confirm_email`
  backend/src/services/authentication.rs
Owners: @Hack4Krak/Backend

fix(backend): restore correct migration order after rebase
  backend/migration/src/lib.rs
Owners: @Hack4Krak/Backend

feat: improve admin identification interface to include user tags
  backend/src/routes/admin/identification/identify.rs
  backend/src/services/authentication.rs
  backend/src/services/identification.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/auth.rs
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/QRCodeScan.vue
  frontend/app/components/panel/tile/ParticipantTags.vue
  frontend/app/pages/admin/identification.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(deps): update to `@nuxt/test-utils` `4.0.3`
  bun.lock
  frontend/.nuxtrc
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

refactor: Change participant_tags table to be direct mapping of user_id to tag_id instead of table of arrays
  backend/migration/src/m20250604_000001_new_identification_system.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_participant_tags.rs
  backend/src/entities/users.rs
  backend/src/models/user_participant_tags.rs
  backend/src/services/authorization.rs
  backend/tests/test_utils/mod.rs
Owners: @Hack4Krak/Backend

refactor(backend): Split utils/task.rs into dedicated modules for every config type
  backend/migration/src/lib.rs
  backend/src/middlewares/event.rs
  backend/src/models/external_team_invitation.rs
  backend/src/models/mod.rs
  backend/src/models/task_manager/event_config.rs
  backend/src/models/task_manager/mod.rs
  backend/src/models/task_manager/registration_config.rs
  backend/src/models/task_manager/task_config.rs
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/src/models/user_participant_tags.rs
  backend/src/routes/event/info.rs
  backend/src/routes/event/participant_tags.rs
  backend/src/routes/event/registration.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/teams/create.rs
  backend/src/services/task_manager.rs
  backend/src/services/verification.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/event/participant_tags.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/create.rs
  backend/tests/test_utils/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

chore(deps): update to `@nuxt/test-utils` `4.0.3`
  bun.lock
  frontend/.nuxtrc
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(backend): Add bun db:migrate script to package.json
  backend/DEVELOPMENT.md
  backend/package.json
Owners: @Hack4Krak/Backend

refactor(backend): Move email_verification_request creation to test_utils::database
  backend/tests/routes/auth.rs
  backend/tests/test_utils/database.rs
Owners: @Hack4Krak/Backend

feat: improve admin identification interface to include user tags
  backend/src/routes/admin/identification/identify.rs
  backend/src/services/authentication.rs
  backend/src/services/identification.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/auth.rs
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/QRCodeScan.vue
  frontend/app/components/panel/tile/ParticipantTags.vue
  frontend/app/pages/admin/identification.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(backend): Create TestAuthHeader from id and email instead of user
  backend/tests/middlewares/auth.rs
  backend/tests/routes/account/onboarding.rs
  backend/tests/routes/account/update.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/create.rs
  backend/tests/routes/teams/external_invitations.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/header.rs
Owners: @Hack4Krak/Backend

fix(backend): do not send identification code email in `confirm_email`
  backend/src/services/authentication.rs
Owners: @Hack4Krak/Backend

refactor(backend): Split AuthService into Authentication and Authorization - additionally move participant_tags logic to AuthorizationService
  backend/src/middlewares/auth.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/identification.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/identification/apply_tag.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/logout.rs
  backend/src/routes/auth/refresh.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/authentication.rs
  backend/src/services/authorization.rs
  backend/src/services/identification.rs
  backend/src/services/mod.rs
  backend/src/utils/oauth.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/auth.rs
Owners: @Hack4Krak/Backend

refactor: Change verification system to user-based from team-based (#498)
  backend/migration/src/lib.rs
  backend/migration/src/m20260412_000001_remove_team_confirmation_fields.rs
  backend/src/entities/teams.rs
  backend/src/lib.rs
  backend/src/middlewares/auth.rs
  backend/src/models/task.rs
  backend/src/models/task_manager/participant_tags_config.rs
  backend/src/models/teams.rs
  backend/src/models/user_participant_tags.rs
  backend/src/routes/admin/teams/clear_confirmation_code.rs
  backend/src/routes/admin/teams/generate_confirmation_code.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/teams/confirm.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/verification.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/event/participant_tags.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/confirm.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/routes/teams/mod.rs
  backend/tests/test_utils/database.rs
  backend/tests/test_utils/mod.rs
  backend/tests/test_utils/task_manager.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

refactor(backend): Use SMTPClient trait instead of bare lettre::SmtpTransport to allow for DI in app_state
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/routes/auth/confirm.rs
  backend/src/services/auth.rs
  backend/src/services/verification.rs
  backend/src/utils/app_state.rs
  backend/src/utils/email.rs
  backend/tests/mocks/mod.rs
  backend/tests/mocks/smtp_mock.rs
  backend/tests/mod.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/mod.rs
  backend/tests/test_utils/verification_mock.rs
Owners: @Hack4Krak/Backend

feat(backend): Email attachements system
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/services/identification.rs
  backend/src/utils/email.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/src/utils/qr_code.rs
  backend/templates/email/identification_qr_code.html
  backend/tests/utils/email.rs
Owners: @Hack4Krak/Backend

refactor: Rename VerificationService and all related things to IdentificationService
  backend/locales/error.yaml
  backend/migration/src/m20250604_000001_new_identification_system.rs
  backend/src/entities/users.rs
  backend/src/models/task_manager/participant_tags_config.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/account/identification.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/admin/identification/apply_tag.rs
  backend/src/routes/admin/identification/identify.rs
  backend/src/routes/admin/identification/mod.rs
  backend/src/routes/admin/identification/reset_identification_code.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/verification/identify.rs
  backend/src/routes/teams/membership/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/identification.rs
  backend/src/services/mod.rs
  backend/src/utils/error.rs
  backend/templates/email/config.yaml
  backend/templates/email/identification_qr_code.html
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/admin/mod.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/QRCodeScan.vue
  frontend/app/components/panel/tile/ParticipantTags.vue
  frontend/app/pages/account/settings.vue
  frontend/app/pages/admin/identification.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(backend): restore correct migration order after rebase
  backend/migration/src/lib.rs
Owners: @Hack4Krak/Backend

feat: add ctftime stats endpoint (#581)
  backend/src/routes/leaderboard/ctftime.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: shitty points counter standings impl and other review stuff
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: capture log for ctftime
  backend/src/routes/leaderboard/ctftime.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime.rs
  backend/tests/routes/leaderboard/mod.rs
  backend/tests/routes/mod.rs
  backend/tests/test_utils/database.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: split ctftime endpoint files & other Norbert's concerns
  backend/src/routes/leaderboard/ctftime/capture_log.rs
  backend/src/routes/leaderboard/ctftime/mod.rs
  backend/src/routes/leaderboard/ctftime/team_standings.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/ctftime.rs
  backend/src/utils/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime/capture_log.rs
  backend/tests/routes/leaderboard/ctftime/mod.rs
  backend/tests/routes/leaderboard/ctftime/team_standings.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: random comments and code quality improvements
  backend/src/utils/ctftime.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime/team_standings.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(backend): Use SMTPClient trait instead of bare lettre::SmtpTransport to allow for DI in app_state
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/routes/auth/confirm.rs
  backend/src/services/auth.rs
  backend/src/services/verification.rs
  backend/src/utils/app_state.rs
  backend/src/utils/email.rs
  backend/tests/mocks/mod.rs
  backend/tests/mocks/smtp_mock.rs
  backend/tests/mod.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/mod.rs
  backend/tests/test_utils/verification_mock.rs
Owners: @Hack4Krak/Backend

refactor(backend): Split AuthService into Authentication and Authorization - additionally move participant_tags logic to AuthorizationService
  backend/src/middlewares/auth.rs
  backend/src/models/user.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/identification.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/identification/apply_tag.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/logout.rs
  backend/src/routes/auth/refresh.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/src/services/authentication.rs
  backend/src/services/authorization.rs
  backend/src/services/identification.rs
  backend/src/services/mod.rs
  backend/src/utils/oauth.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/auth.rs
Owners: @Hack4Krak/Backend

feat(frontend): redesign the `/account` page (#871)
  frontend/app/components/event/Countdown.vue
  frontend/app/components/panel/event/EditionCardUpcoming.vue
  frontend/app/components/panel/tile/Links.vue
  frontend/app/components/panel/tile/SettingsRow.vue
  frontend/app/components/profile/ProfilePicture.vue
  frontend/app/components/section/EventBanner.vue
  frontend/app/composables/useEventRegistration.ts
  frontend/app/composables/useEventStartAndEnd.ts
  frontend/app/layouts/account.vue
  frontend/app/pages/account/events.vue
  frontend/app/pages/account/settings.vue
  frontend/app/pages/panel/profile.vue
  frontend/tests/components/profile/ProfilePicture.test.ts
Owners: @Hack4Krak/Frontend

refactor: Change verification system to user-based from team-based (#498)
  backend/migration/src/lib.rs
  backend/migration/src/m20260412_000001_remove_team_confirmation_fields.rs
  backend/src/entities/teams.rs
  backend/src/lib.rs
  backend/src/middlewares/auth.rs
  backend/src/models/task.rs
  backend/src/models/task_manager/participant_tags_config.rs
  backend/src/models/teams.rs
  backend/src/models/user_participant_tags.rs
  backend/src/routes/admin/teams/clear_confirmation_code.rs
  backend/src/routes/admin/teams/generate_confirmation_code.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/teams/confirm.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/verification.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/event/participant_tags.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/confirm.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/routes/teams/mod.rs
  backend/tests/test_utils/database.rs
  backend/tests/test_utils/mod.rs
  backend/tests/test_utils/task_manager.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

refactor(backend): Create TestAuthHeader from id and email instead of user
  backend/tests/middlewares/auth.rs
  backend/tests/routes/account/onboarding.rs
  backend/tests/routes/account/update.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/create.rs
  backend/tests/routes/teams/external_invitations.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/header.rs
Owners: @Hack4Krak/Backend

feat(backend): Email attachements system
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/services/identification.rs
  backend/src/utils/email.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/src/utils/qr_code.rs
  backend/templates/email/identification_qr_code.html
  backend/tests/utils/email.rs
Owners: @Hack4Krak/Backend

feat: improve admin identification interface to include user tags
  backend/src/routes/admin/identification/identify.rs
  backend/src/services/authentication.rs
  backend/src/services/identification.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/auth.rs
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/QRCodeScan.vue
  frontend/app/components/panel/tile/ParticipantTags.vue
  frontend/app/pages/admin/identification.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(backend): restore correct migration order after rebase
  backend/migration/src/lib.rs
Owners: @Hack4Krak/Backend

refactor: Rename VerificationService and all related things to IdentificationService
  backend/locales/error.yaml
  backend/migration/src/m20250604_000001_new_identification_system.rs
  backend/src/entities/users.rs
  backend/src/models/task_manager/participant_tags_config.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/account/identification.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/admin/identification/apply_tag.rs
  backend/src/routes/admin/identification/identify.rs
  backend/src/routes/admin/identification/mod.rs
  backend/src/routes/admin/identification/reset_identification_code.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/verification/identify.rs
  backend/src/routes/teams/membership/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/identification.rs
  backend/src/services/mod.rs
  backend/src/utils/error.rs
  backend/templates/email/config.yaml
  backend/templates/email/identification_qr_code.html
  backend/tests/routes/admin/identification.rs
  backend/tests/routes/admin/mod.rs
  backend/tests/routes/admin/verification.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/QRCodeScan.vue
  frontend/app/components/panel/tile/ParticipantTags.vue
  frontend/app/pages/account/settings.vue
  frontend/app/pages/admin/identification.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(backend): Add bun db:migrate script to package.json
  backend/DEVELOPMENT.md
  backend/package.json
Owners: @Hack4Krak/Backend
