Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

chore: update event venue from `UKEN` to `31LO`
  backend/templates/email/registration_confirmation.html
  frontend/app/layouts/default.vue
  frontend/content/landing/page.json
  frontend/content/landing/participation.ts
  frontend/content/landing/partners.ts
  frontend/public/img/partners/uken.webp
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): update newly added partner logos to match website styling
  frontend/content/landing/partners.ts
  frontend/public/img/partners/cyberdot.png
  frontend/public/img/partners/cyberdot.webp
  frontend/public/img/partners/infosec.png
  frontend/public/img/partners/infosec.webp
Owners: @Hack4Krak/Frontend

docs: Update venue in rules and agreements
  frontend/content/pages/rules.md
  frontend/public/documents/zgoda-rodo-hack4krak.pdf
  frontend/public/documents/zgoda-rodzica-lub-opiekuna-prawnego-hack4krak.pdf
Owners: @Hack4Krak/Frontend

chore: update event venue from `UKEN` to `31LO`
  backend/templates/email/registration_confirmation.html
  frontend/app/layouts/default.vue
  frontend/content/landing/page.json
  frontend/content/landing/participation.ts
  frontend/content/landing/partners.ts
  frontend/public/img/partners/uken.webp
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): update newly added partner logos to match website styling
  frontend/content/landing/partners.ts
  frontend/public/img/partners/cyberdot.png
  frontend/public/img/partners/cyberdot.webp
  frontend/public/img/partners/infosec.png
  frontend/public/img/partners/infosec.webp
Owners: @Hack4Krak/Frontend

docs: Update venue in rules and agreements
  frontend/content/pages/rules.md
  frontend/public/documents/zgoda-rodo-hack4krak.pdf
  frontend/public/documents/zgoda-rodzica-lub-opiekuna-prawnego-hack4krak.pdf
Owners: @Hack4Krak/Frontend

feat(frontend): add keybind for submitting flag & make requested changes
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/composables/useKeyboardShortcuts.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add command palette
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/components/Navbar.vue
  frontend/app/composables/useKeyboardShortcuts.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add more actions to command palette
  frontend/app/components/CommandPalette.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add tasks to command palette
  frontend/app/components/CommandPalette.vue
Owners: @Hack4Krak/Frontend

chore(frontend): revert navbar changes
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

chore(frontend): update empty state message
  frontend/app/components/CommandPalette.vue
Owners: @Hack4Krak/Frontend

fix: close command palette before opening submit flag modal
  frontend/app/components/CommandPalette.vue
  frontend/app/composables/useKeyboardShortcuts.ts
Owners: @Hack4Krak/Frontend

chore: make all requested changes
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/components/FlagSubmitModal.vue
  frontend/app/composables/useKeyboardShortcuts.ts
  frontend/app/composables/useLogout.ts
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

chore: fix lint
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/components/FlagSubmitModal.vue
  frontend/app/composables/useKeyboardShortcuts.ts
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

Discard changes to frontend/app/pages/panel/index.vue
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/components/FlagSubmitModal.vue
  frontend/app/components/panel/tile/FlagForm.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

feat(cp): allow to collapse all categories
  frontend/app/components/CommandPalette.vue
Owners: @Hack4Krak/Frontend

chore: address review feedback
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/composables/useCommandPaletteUtils.ts
  frontend/app/composables/useLogout.ts
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

Delete frontend/app/pages/panel/profile.vue
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

Discard changes to frontend/app/components/Navbar.vue
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

feat: Display event registration information in admin user verification flow (#903)
  backend/src/services/identification.rs
  frontend/app/pages/admin/identification.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Allow for manual identifiation code input in admin/identification
  frontend/app/pages/admin/identification.vue
Owners: @Hack4Krak/Frontend

feat: new task map
  backend/src/lib.rs
  backend/src/middlewares/mod.rs
  backend/src/middlewares/task.rs
  backend/src/models/task_manager/event_config.rs
  backend/src/models/task_manager/task_config.rs
  backend/src/routes/task/assets/get.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/task/description.rs
  backend/src/routes/task/icon.rs
  backend/src/routes/task/list.rs
  backend/src/routes/task/name.rs
  backend/src/services/task_manager.rs
  backend/tests/routes/announcements.rs
  bun.lock
  frontend/app/components/Map.vue
  frontend/app/components/Map/Map.vue
  frontend/app/components/Map/MapView.vue
  frontend/app/components/Map/Sidebar.vue
  frontend/app/components/Map/TaskMarker.vue
  frontend/app/components/Map/TaskPopup.vue
  frontend/app/pages/tasks/index.vue
  frontend/nuxt.config.ts
  frontend/openapi/api/openapi.json
  frontend/package.json
  frontend/public/img/task_unavailable.png
  frontend/public/maplibre_style.json
  frontend/tests/pages/tasks/index.spec.ts
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

feat(backend): add task labels API endpoint
  backend/src/models/task_manager/task_config.rs
  backend/src/routes/task/labels.rs
  backend/src/routes/task/mod.rs
  backend/src/services/task_manager.rs
  backend/tests/routes/announcements.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor: redesign task map with slideover, filtering, and sorting
  backend/src/models/task_manager/task_config.rs
  backend/src/routes/task/list.rs
  backend/tests/routes/announcements.rs
  backend/tests/test_utils/task_manager.rs
  frontend/app/components/Map/Map.vue
  frontend/app/components/Map/MapView.vue
  frontend/app/components/Map/Sidebar.vue
  frontend/app/components/Map/TaskMarker.vue
  frontend/app/components/Map/TaskPopup.vue
  frontend/app/components/Map/TaskSlide.vue
  frontend/app/components/Task/Header.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/composables/useTaskCountdown.ts
  frontend/app/composables/useTaskIcon.ts
  frontend/app/composables/useTaskLabels.ts
  frontend/app/pages/tasks/index.vue
  frontend/app/utils/taskPresentation.ts
  frontend/public/maplibre_style.json
  frontend/tests/pages/tasks/index.spec.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(backend): add task labels API endpoint
  backend/src/models/task_manager/task_config.rs
  backend/src/routes/task/labels.rs
  backend/src/routes/task/mod.rs
  backend/src/services/task_manager.rs
  backend/tests/routes/announcements.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor: redesign task map with slideover, filtering, and sorting
  backend/src/models/task_manager/task_config.rs
  backend/src/routes/task/list.rs
  backend/tests/routes/announcements.rs
  backend/tests/test_utils/task_manager.rs
  frontend/app/components/Map/Map.vue
  frontend/app/components/Map/MapView.vue
  frontend/app/components/Map/Sidebar.vue
  frontend/app/components/Map/TaskMarker.vue
  frontend/app/components/Map/TaskPopup.vue
  frontend/app/components/Map/TaskSlide.vue
  frontend/app/components/Task/Header.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/composables/useTaskCountdown.ts
  frontend/app/composables/useTaskIcon.ts
  frontend/app/composables/useTaskLabels.ts
  frontend/app/pages/tasks/index.vue
  frontend/app/utils/taskPresentation.ts
  frontend/public/maplibre_style.json
  frontend/tests/pages/tasks/index.spec.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: new task map
  backend/src/lib.rs
  backend/src/middlewares/mod.rs
  backend/src/middlewares/task.rs
  backend/src/models/task_manager/event_config.rs
  backend/src/models/task_manager/task_config.rs
  backend/src/routes/task/assets/get.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/task/description.rs
  backend/src/routes/task/icon.rs
  backend/src/routes/task/list.rs
  backend/src/routes/task/name.rs
  backend/src/services/task_manager.rs
  backend/tests/routes/announcements.rs
  bun.lock
  frontend/app/components/Map.vue
  frontend/app/components/Map/Map.vue
  frontend/app/components/Map/MapView.vue
  frontend/app/components/Map/Sidebar.vue
  frontend/app/components/Map/TaskMarker.vue
  frontend/app/components/Map/TaskPopup.vue
  frontend/app/pages/tasks/index.vue
  frontend/nuxt.config.ts
  frontend/openapi/api/openapi.json
  frontend/package.json
  frontend/public/img/task_unavailable.png
  frontend/public/maplibre_style.json
  frontend/tests/pages/tasks/index.spec.ts
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

feat: redesign the CTF Panel
  backend/src/routes/announcements/list.rs
  backend/src/routes/announcements/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/announcements.rs
  frontend/app/components/panel/tile/Announcements.vue
  frontend/app/components/panel/tile/Clock.vue
  frontend/app/components/panel/tile/FlagForm.vue
  frontend/app/components/panel/tile/TeamStatus.vue
  frontend/app/components/panel/tile/Timeline.vue
  frontend/app/pages/announcements.vue
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
  frontend/public/img/krakow_skyline.png
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): redesign panel design for improved layout and visuals
  backend/src/routes/announcements/list.rs
  backend/src/routes/announcements/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/announcements.rs
  frontend/app/components/panel/tile/Announcements.vue
  frontend/app/components/panel/tile/Clock.vue
  frontend/app/components/panel/tile/FlagForm.vue
  frontend/app/components/panel/tile/TeamStatus.vue
  frontend/app/components/panel/tile/Timeline.vue
  frontend/app/pages/announcements.vue
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
  frontend/public/img/krakow_skyline.png
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): redesign panel design for improved layout and visuals
  backend/src/routes/announcements/list.rs
  backend/src/routes/announcements/mod.rs
  backend/src/routes/flag/submit.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/announcements.rs
  frontend/app/components/panel/tile/Announcements.vue
  frontend/app/components/panel/tile/Clock.vue
  frontend/app/components/panel/tile/FlagForm.vue
  frontend/app/components/panel/tile/TeamStatus.vue
  frontend/app/components/panel/tile/Timeline.vue
  frontend/app/pages/announcements.vue
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
  frontend/public/img/krakow_skyline.png
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): switch the location back to `UKEN`
  backend/templates/email/registration_confirmation.html
  frontend/app/layouts/default.vue
  frontend/content/landing/page.json
  frontend/content/landing/participation.ts
  frontend/content/landing/partners.ts
  frontend/content/pages/rules.md
  frontend/public/documents/zgoda-rodo-hack4krak.pdf
  frontend/public/documents/zgoda-rodzica-lub-opiekuna-prawnego-hack4krak.pdf
  frontend/public/img/partners/uken.webp
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): respect registration open status
  frontend/app/components/panel/event/EditionCardUpcoming.vue
  frontend/app/components/section/EventBanner.vue
  frontend/app/middleware/registration-open.ts
  frontend/app/pages/panel/event/register.vue
Owners: @Hack4Krak/Frontend

feat: Display event registration information in admin user verification flow (#903)
  backend/src/services/identification.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/test_utils/database.rs
  frontend/app/pages/admin/identification.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Allow for manual identifiation code input in admin/identification
  frontend/app/pages/admin/identification.vue
Owners: @Hack4Krak/Frontend

feat: Display event registration information in admin user verification flow (#903)
  backend/src/services/identification.rs
  backend/tests/routes/admin/identification.rs
  backend/tests/test_utils/database.rs
  frontend/app/pages/admin/identification.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Allow for manual identifiation code input in admin/identification
  frontend/app/pages/admin/identification.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add dynamic day/night skyline switching on panel page
  frontend/app/pages/panel/index.vue
  frontend/public/img/cracow_skyline.png
  frontend/public/img/cracow_skyline_night.png
  frontend/public/img/krakow_skyline.png
Owners: @Hack4Krak/Frontend

fix(frontend): properly scroll tasks list in the Map component
  frontend/app/components/Map/Map.vue
  frontend/app/components/Map/Sidebar.vue
Owners: @Hack4Krak/Frontend

feat(frontend): display task announcements in frontend
  frontend/app/components/Map/Map.vue
  frontend/app/components/Map/MapView.vue
  frontend/app/components/Map/Sidebar.vue
  frontend/app/components/Map/TaskMarker.vue
  frontend/app/components/Map/TaskPopup.vue
  frontend/app/components/Map/TaskSlide.vue
  frontend/app/components/panel/tile/Announcements.vue
  frontend/app/pages/announcements.vue
  frontend/app/pages/tasks/index.vue
  frontend/app/utils/taskPresentation.ts
Owners: @Hack4Krak/Frontend
