Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

refactor: Random changes
  backend/src/models/external_team_invitation.rs
  backend/src/routes/teams/invitations/accept_invitation.rs
  backend/src/routes/teams/invitations/my_invites.rs
  backend/src/routes/teams/mod.rs
  backend/tests/routes/teams/external_invitations.rs
Owners: @Hack4Krak/Backend

fix: desktop performance SEO and accessibility on a11y
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/pages/index.vue
  frontend/content/navbar.ts
Owners: @Hack4Krak/Frontend

enhancement: serverize MDC landing components
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/components/primitive/OrderedList.server.vue
  frontend/app/components/section/InfoBox.server.vue
  frontend/app/components/section/InfoTiles.server.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

enhancement: Improve footer accessibility
  frontend/app/components/Footer.server.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Removed duplicated message on email confirmation (#471)
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Added page titles (#506)
  frontend/app/pages/admin/register_external_team.vue
  frontend/app/pages/leaderboard.vue
  frontend/app/pages/login.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/team.vue
  frontend/app/pages/register.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

fix(frontend): Removed duplicated message on email confirmation (#471)
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Frontend

refactor: replace lazy components with standard components and adjust hydration mode
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

fix: remove dynamic alt text from image for improved accessibility
  frontend/app/components/hero/info/InfoTile.vue
Owners: @Hack4Krak/Frontend

fix: adjust indentation in InfoTiles.server.vue for better readability
  frontend/app/components/section/InfoTiles.server.vue
Owners: @Hack4Krak/Frontend

fix: add aria-hidden attribute to footer text element for accessibility adjustments
  frontend/app/components/Footer.server.vue
Owners: @Hack4Krak/Frontend

fix(backend): Correct `send_external_registration_form` tag
  backend/src/routes/admin/email/send_external_registration_form.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor(backend): [WIP] Use proper templating library (#215)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/email/placeholders.rs
  backend/src/routes/admin/email/send.rs
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/templates.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/email_confirmation.html
  backend/src/services/emails_assets/external_registration_form.html
  backend/src/services/emails_assets/hello_world.html
  backend/src/services/emails_assets/images/hack4krak_logo_black.webp
  backend/src/services/emails_assets/reset_password_body.html
  backend/src/utils/error.rs
  backend/templates/email/base.html
  backend/templates/email/email_confirmation.html
  backend/templates/email/external_registration_form.html
  backend/templates/email/reset_password.html
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor: adjust Footer component styles and improve attributes consistency
  frontend/app/components/Footer.server.vue
Owners: @Hack4Krak/Frontend

fix(deps): revert `@nuxt/fonts` to `0.11.2`
  bun.lock
  package.json
Owners: @Norbiros

feat: Additional user information (#236)
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20250429_123733_user_personal_info.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/user_personal_info.rs
  backend/src/routes/account/get_personal_information.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/src/routes/admin/users/get_personal_information.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/utils/error.rs
  backend/tests/routes/account/mod.rs
  backend/tests/routes/account/submit_personal_information.rs
  backend/tests/routes/account/update.rs
  backend/tests/test_utils/database.rs
  backend/tests/test_utils/mod.rs
  frontend/app/components/AuthForm.vue
  frontend/app/layouts/centered.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/panel/index.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/pages/submit_personal_info.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(frontend): Update `@nuxt/ui` to `09b4699`
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

refactor(backend): Moved middleware wrapping from account to lib.rs, moved admin index to admin routes
  backend/src/lib.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/get_personal_information.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/index.rs
  backend/src/routes/admin/mod.rs
  backend/tests/middlewares/auth.rs
  backend/tests/routes/account/submit_personal_information.rs
  frontend/app/pages/account/submit_personal_info.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(frontend): Update `@nuxt/ui` to `09b4699`
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat: Additional user information (#236)
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20250429_123733_user_personal_info.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/user_personal_info.rs
  backend/src/routes/account/get_personal_information.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/src/routes/admin/users/get_personal_information.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/utils/error.rs
  backend/tests/routes/account/mod.rs
  backend/tests/routes/account/submit_personal_information.rs
  backend/tests/routes/account/update.rs
  backend/tests/test_utils/database.rs
  backend/tests/test_utils/mod.rs
  frontend/app/components/AuthForm.vue
  frontend/app/layouts/centered.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/panel/index.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/pages/submit_personal_info.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(backend): Moved middleware wrapping from account to lib.rs, moved admin index to admin routes
  backend/src/lib.rs
  backend/src/routes/account/delete.rs
  backend/src/routes/account/get_personal_information.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/src/routes/account/update.rs
  backend/src/routes/admin/index.rs
  backend/src/routes/admin/mod.rs
  backend/tests/middlewares/auth.rs
  backend/tests/routes/account/submit_personal_information.rs
  frontend/app/pages/account/submit_personal_info.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix: Add responsivnes to centered layout and description to personal info form
  frontend/app/components/AuthForm.vue
  frontend/app/layouts/centered.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
Owners: @Hack4Krak/Frontend

refactor: Changed text-neutral-400 to text-dimmed
  frontend/app/pages/account/submit_personal_info.vue
Owners: @Hack4Krak/Frontend

Update info-tiles.ts
  frontend/content/info-tiles.ts
Owners: @Hack4Krak/Frontend

refactor(backend): do not declare classes multiple times
  frontend/app/components/AuthForm.vue
  frontend/app/layouts/centered.vue
  frontend/app/pages/admin/register_external_team.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): a11y improvements on landing site (#514)
  frontend/app/components/Footer.server.vue
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/components/primitive/OrderedList.server.vue
  frontend/app/components/section/InfoBox.server.vue
  frontend/app/components/section/InfoTiles.server.vue
  frontend/app/pages/index.vue
  frontend/content/navbar.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Added responsivnes and some minor fixes to personal info system
  frontend/app/components/AuthForm.vue
  frontend/app/layouts/centered.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/admin/register_external_team.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
Owners: @Hack4Krak/Frontend

chore: Release `1.2.0` - Preparation for the upcoming event
  backend/Cargo.lock
  backend/Cargo.toml
  bun.lock
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

fix: Make submit personal info actually redirect after succesful form submission
  frontend/app/pages/account/submit_personal_info.vue
Owners: @Hack4Krak/Frontend

refactor: Add transform to useAuth and make navbar server component
  frontend/app/components/Navbar.server.vue
  frontend/tests/components/Navbar.test.ts
Owners: @Hack4Krak/Frontend

feat(frontend): Made text on button on Navbar dynamic (#515)
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Make Navbar have single root element
  frontend/app/components/Navbar.server.vue
Owners: @Hack4Krak/Frontend

fix: Add workflow permissions (code scanning alert no. 3)
  .github/workflows/ci.yaml
Owners: @Norbiros

refactor: Actually revert Navbar to being regular component instead of server one
  frontend/app/components/Navbar.vue
  frontend/tests/components/Navbar.test.ts
Owners: @Hack4Krak/Frontend

fix: Add workflow permissions (code scanning alert no. 3) (#566)
  .github/workflows/ci.yaml
Owners: @Norbiros

Update frontend/content/info-tiles.ts
  frontend/content/info-tiles.ts
Owners: @Hack4Krak/Frontend

feat: Added pages description
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/docs/faq.vue
  frontend/app/pages/index.vue
  frontend/app/pages/leaderboard.vue
  frontend/app/pages/login.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/team.vue
  frontend/app/pages/register.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/content/pages/privacy-policy.md
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

docs(frontend): Update reward info in faq
  frontend/content/info-tiles.ts
Owners: @Hack4Krak/Frontend

Notes added by 'git notes append'
  43374c289b930ad1a6afdecb969732f86fc6a84f
Owners: @Norbiros

Notes added by 'git notes append'
  43374c289b930ad1a6afdecb969732f86fc6a84f
Owners: @Norbiros
