Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

address feedback
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

feat(backend): Add tests for correct json error formats in customized errors
  backend/tests/utils/error.rs
  backend/tests/utils/mod.rs
Owners: @Hack4Krak/Backend

fix: Use json error format for json deserialization error (#672)
  backend/locales/error.yaml
  backend/src/lib.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

fix: Use json error format for uuid parsing error (#549)
  backend/locales/error.yaml
  backend/src/lib.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

refactor(backend): Use closure function for overwriting error handlers
  backend/src/lib.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

feat(backend): Add tests for correct json error formats in customized errors
  backend/tests/utils/error.rs
  backend/tests/utils/mod.rs
Owners: @Hack4Krak/Backend

refactor: Move event_config logic to `models/event_config.rs`
  backend/src/middlewares/event.rs
  backend/src/models/event_config.rs
  backend/src/models/mod.rs
  backend/src/models/task.rs
  backend/src/routes/event/info.rs
  backend/src/services/task_manager.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/flag.rs
Owners: @Hack4Krak/Backend

refactor: Introduce useEventStartAndEnd composable
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/panel/tile/EventProgressBar.vue
  frontend/app/composables/useEventStartAndEnd.ts
Owners: @Hack4Krak/Frontend

feat: Update TasksTemplate to v2 (#834)
  backend/locales/error.yaml
  backend/src/middlewares/event.rs
  backend/src/models/task.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/task/background.rs
  backend/src/routes/task/mod.rs
  backend/src/routes/task/story.rs
  backend/src/utils/error.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/flag.rs
  frontend/app/components/AnimatedText.vue
  frontend/app/components/Map.vue
  frontend/app/components/StoryViewer.vue
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/panel/tile/EventProgressBar.vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/openapi/api/openapi.json
  frontend/tests/components/AnimatedText.test.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor: Move event_config logic to `models/event_config.rs`
  backend/src/middlewares/event.rs
  backend/src/models/event_config.rs
  backend/src/models/mod.rs
  backend/src/models/task.rs
  backend/src/routes/event/info.rs
  backend/src/services/task_manager.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/flag.rs
Owners: @Hack4Krak/Backend

refactor: Introduce useEventStartAndEnd composable
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/panel/tile/EventProgressBar.vue
  frontend/app/composables/useEventStartAndEnd.ts
Owners: @Hack4Krak/Frontend

feat: Update TasksTemplate to v2 (#834)
  backend/locales/error.yaml
  backend/src/middlewares/event.rs
  backend/src/models/task.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/task/background.rs
  backend/src/routes/task/mod.rs
  backend/src/routes/task/story.rs
  backend/src/utils/error.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/flag.rs
  frontend/app/components/AnimatedText.vue
  frontend/app/components/Map.vue
  frontend/app/components/StoryViewer.vue
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/panel/tile/EventProgressBar.vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/openapi/api/openapi.json
  frontend/tests/components/AnimatedText.test.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refresh user data on client-side navigation
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix formatting
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix(backend): fix validation and error handling
  backend/locales/error.yaml
  backend/src/models/user.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/teams/management/change_leader.rs
  backend/src/routes/teams/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/models/event_config.rs
  backend/tests/services/auth.rs
  backend/tests/utils/common_responses.rs
  backend/tests/utils/error.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

HOW? aka fix tests
  backend/tests/utils/error.rs
Owners: @Hack4Krak/Backend

fix(frontend): show question label on info tile back side
  frontend/app/components/hero/info/InfoTile.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add lightbox gallery to about us page
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add icon legend and labels to leaderboard table
  frontend/app/components/leaderboard/Table.vue
Owners: @Hack4Krak/Frontend

feat(frontend): expand task names on hover in leaderboard
  frontend/app/components/leaderboard/Table.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add chart zoom and translate axis label in leaderboard
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/leaderboard/Table.vue
  frontend/content/info-tiles.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(auth): refresh cached data after token renewal
  frontend/app/components/Navbar.vue
  frontend/app/plugins/openFetch.ts
  frontend/tests/components/Navbar.test.ts
Owners: @Hack4Krak/Frontend

fix(backend): don't leak account existence on password reset
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/mail.rs
  backend/tests/utils/email.rs
  frontend/app/pages/request_password_reset.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(backend): don't leak account existence on password reset
  backend/src/routes/auth/reset_password.rs
  backend/src/services/auth.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/mail.rs
  backend/tests/utils/email.rs
  frontend/app/pages/request_password_reset.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(frontend): update `@nuxt/test-utils` version in `.nuxtrc`
  frontend/.nuxtrc
Owners: @Hack4Krak/Frontend

feat(frontend): improve mobile UX for EventCard on about us page
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

fix(frontend): address PR review feedback
  frontend/app/components/ImageLightbox.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

feat(frontend): redirect to callback url after login
  frontend/app/components/AuthForm.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
Owners: @Hack4Krak/Frontend

feat(backend): add callback for registration & email confirmation
  backend/src/models/email_verification_request.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/register.rs
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

chore: fix Norbiros skill issue
  frontend/app/middleware/auth.global.ts
Owners: @Hack4Krak/Frontend

chore: apply suggestion from code review
  frontend/app/middleware/auth.global.ts
Owners: @Hack4Krak/Frontend

feat: add callback url to `submit_personal_info` page
  backend/src/routes/auth/register.rs
  backend/src/utils/mod.rs
  backend/src/utils/validation.rs
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore: regenerate `openapi.json` & update `AuthForm`
  frontend/app/components/AuthForm.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Frontend

chore(backend): add max length validation to `callback`
  backend/src/routes/auth/register.rs
Owners: @Hack4Krak/Backend

fix(frontend): fix bugs related to `useEventStartAndEnd` composable
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/panel/tile/EventProgressBar.vue
  frontend/app/composables/useEventStartAndEnd.ts
Owners: @Hack4Krak/Frontend

test(backend): add additional test coverage for callback url
  backend/tests/routes/auth.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(frontend): add `/panel` and `/account` to robot's disallow list
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(fronted): Test useEventState
  frontend/app/components/panel/tile/EventProgressBar.vue
  frontend/app/composables/useEventState.ts
  frontend/tests/composables/useEventState.test.ts
Owners: @Hack4Krak/Frontend

feat: add ctftime stats endpoint (#581)
  backend/src/routes/leaderboard/ctftime.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: shitty points counter standings impl and other review stuff
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend
