Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

feat(backend): add `data` field to error response
  backend/macros/src/macros/localized_error.rs
  backend/src/middlewares/event.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/task/mod.rs
  backend/src/utils/error.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/create.rs
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/panel/tile/Links.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(backend): add missing 403 response in `/event/status`
  backend/src/routes/event/status.rs
Owners: @Hack4Krak/Backend

fix(frontend): resolve hydration errors in `Timer` component
  frontend/app/components/primitive/Timer.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): reorganize `event-access-guard.ts` middleware
  frontend/app/error.vue
  frontend/app/middleware/event-access-guard.ts
  frontend/app/middleware/eventAccessGuard.global.ts
  frontend/app/pages/leaderboard.vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/timer.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Frontend

refactor(frontend): reorganize `event-access-guard.ts` middleware
  frontend/tests/components/Navbar.test.ts
Owners: @Hack4Krak/Frontend

fix(backend): add missing 403 response in `/event/status`
  backend/src/routes/event/status.rs
Owners: @Hack4Krak/Backend

refactor(frontend): reorganize `event-access-guard.ts` middleware
  frontend/tests/components/Navbar.test.ts
Owners: @Hack4Krak/Frontend

feat(backend): add `data` field to error response
  backend/macros/src/macros/localized_error.rs
  backend/src/middlewares/event.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/task/mod.rs
  backend/src/utils/error.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/create.rs
Owners: @Hack4Krak/Backend

refactor(frontend): reorganize `event-access-guard.ts` middleware
  frontend/app/error.vue
  frontend/app/middleware/event-access-guard.ts
  frontend/app/middleware/eventAccessGuard.global.ts
  frontend/app/pages/leaderboard.vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/timer.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Frontend

fix(frontend): resolve hydration errors in `Timer` component
  frontend/app/components/primitive/Timer.vue
Owners: @Hack4Krak/Frontend

chore(release): new major version `v2.0.0`
  backend/Cargo.lock
  backend/Cargo.toml
  bun.lock
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

docs: Added information line to DEVELOPMENT.md
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

docs: Information line stands out more
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

fix: Lint
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

docs: Added note about frontend tests' path
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

refactor(frontend): new LogoType
  frontend/app/components/LogoWithText.vue
  frontend/public/img/logo-text.webp
Owners: @Hack4Krak/Frontend

chore(frontend): update `openFetch` configuration comment
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore(backend): run formatter & clippy
  backend/src/middlewares/event.rs
  backend/src/models/email_verification_request.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/services/task_manager.rs
  backend/src/utils/error.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/teams/create.rs
Owners: @Hack4Krak/Backend

refactor(frontend): adjust Navbar layout and remove unused slots
  frontend/app/app.config.ts
  frontend/app/assets/css/main.css
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/content/navbar.ts
Owners: @Hack4Krak/Frontend

fix: Meta tag og:description
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix: Corrected the mistake
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Fixed typo in the site config (#671)
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor(backend): Use proper templating library (#215)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/email/placeholders.rs
  backend/src/routes/admin/email/send.rs
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/email/send_informational.rs
  backend/src/routes/admin/email/templates.rs
  backend/src/routes/admin/mod.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/email_confirmation.html
  backend/src/services/emails_assets/external_registration_form.html
  backend/src/services/emails_assets/hello_world.html
  backend/src/services/emails_assets/images/hack4krak_logo_black.webp
  backend/src/services/emails_assets/reset_password_body.html
  backend/src/utils/error.rs
  backend/templates/email/base.html
  backend/templates/email/email_confirmation.html
  backend/templates/email/external_registration_form.html
  backend/templates/email/informational.html
  backend/templates/email/reset_password.html
  backend/tests/utils/email.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(frontend): Chnaged "T" in Pixelify Sans Hack4Krak
  frontend/app/assets/css/main.css
  frontend/public/fonts/Pixelify Sans Hack4Krak.ttf
  frontend/public/fonts/pixelify-sans-hack4krak.ttf
Owners: @Hack4Krak/Frontend

fea(frontend): add `NuxtRouteAnnouncer` to improve a11y (#623)
  frontend/app/app.vue
Owners: @Hack4Krak/Frontend

fix(backend): correct chart calculation with the start date
  backend/src/routes/leaderboard/chart.rs
  backend/src/routes/leaderboard/teams.rs
  backend/src/routes/teams/membership/stats.rs
  backend/src/utils/points_counter.rs
  backend/tests/utils/mod.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

feat(backend): implement tiebreakers (#602)
  backend/src/utils/points_counter.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

fix: Changed `name` to `nazwę` in polish text
  frontend/app/components/admin/form/RegisterExternalTeam.vue
Owners: @Hack4Krak/Frontend

chore: Update `sea-orm-cli` to latest version `1.1.14`
  backend/src/entities/email_verification_request.rs
  backend/src/entities/external_team_invitation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
Owners: @Hack4Krak/Backend

feat: Admin endpoints for flag_captures and team_invites
  backend/locales/error.yaml
  backend/src/models/teams.rs
  backend/src/routes/admin/flag_captures/list.rs
  backend/src/routes/admin/flag_captures/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/team_invites/delete.rs
  backend/src/routes/admin/team_invites/list.rs
  backend/src/routes/admin/team_invites/list_for_team.rs
  backend/src/routes/admin/team_invites/mod.rs
  backend/src/utils/error.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

wip i fucking hate openapi or utoipa i dont know what causes this mess
  backend/src/models/teams.rs
  backend/src/routes/account/get_personal_information.rs
  backend/src/routes/admin/flag_captures/list.rs
  backend/src/routes/admin/flag_captures/list_by_task.rs
  backend/src/routes/admin/flag_captures/list_by_team_id.rs
  backend/src/routes/admin/flag_captures/mod.rs
  backend/src/routes/admin/team_invites/delete_external.rs
  backend/src/routes/admin/team_invites/list.rs
  backend/src/routes/admin/team_invites/list_by_team_id.rs
  backend/src/routes/admin/team_invites/mod.rs
  frontend/app/pages/panel/team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): add `NuxtRouteAnnouncer` to improve a11y (#623)
  frontend/app/app.vue
Owners: @Hack4Krak/Frontend

wip
  backend/macros/src/macros/mod.rs
  backend/macros/src/macros/to_schema_from_file_name.rs
Owners: @Hack4Krak/Backend

refactor(frontend): new LogoType
  frontend/app/components/LogoWithText.vue
  frontend/public/img/logo-text.webp
Owners: @Hack4Krak/Frontend

refactor(frontend): adjust Navbar layout and remove unused slots
  frontend/app/app.config.ts
  frontend/app/assets/css/main.css
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/content/navbar.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Component now works properly on mobile devices
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

Revert "refactor(frontend): new LogoType"
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/public/img/logo-text.webp
Owners: @Hack4Krak/Frontend

chore: update @nuxt/ui to v3.3.2
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

Revert "refactor(frontend): new LogoType"
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/public/img/logo-text.webp
Owners: @Hack4Krak/Frontend

refactor(frontend): adjust Navbar layout and remove unused slots
  frontend/app/app.config.ts
  frontend/app/assets/css/main.css
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/content/navbar.ts
Owners: @Hack4Krak/Frontend
