Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

chore: Some code reformating and something something
  .github/workflows/ci.yaml
  .husky/pre-commit
  backend/Cargo.toml
  backend/openapi-check/Cargo.toml
  backend/openapi-check/src/main.rs
  backend/package.json
  package-lock.json
  package.json
Owners: @Norbiros, @Hack4Krak/Backend

chore: Removed unused features from tokio
  backend/Cargo.toml
Owners: @Hack4Krak/Backend

Feat: Openapi check in workflows (#144)
  .github/workflows/ci.yaml
  .husky/pre-commit
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi-check/Cargo.toml
  backend/openapi-check/src/main.rs
  backend/package.json
  backend/src/lib.rs
  backend/src/main.rs
  frontend/openapi/api/openapi.json
  package-lock.json
  package.json
Owners: @Norbiros, @Hack4Krak/Backend

fix(frontend): Properly define `NuxtLink` in `Map.vue`
  frontend/app/components/Map.vue
Owners: @Hack4Krak/Frontend

enhancement: Properly handle 404 error
  backend/src/lib.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/src/utils/not_found_error.rs
Owners: @Hack4Krak/Backend

resolve request changes (make it look like on figma, add some cool text animations, support arrows and space, support md and newlines)
  frontend/app/components/Map.vue
  frontend/app/components/StoryViewer.vue
Owners: @Hack4Krak/Frontend

refactor: Changed not found function to closure
  backend/src/lib.rs
  backend/src/utils/mod.rs
  backend/src/utils/not_found_error.rs
Owners: @Hack4Krak/Backend

enhancement: Properly handle 404 error (#146)
  backend/src/lib.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

enhancement: Enabled permissive cors for /tasks endpoints (at least i think so)
  backend/src/lib.rs
Owners: @Hack4Krak/Backend

removed it
  backend/src/lib.rs
Owners: @Hack4Krak/Backend

feat: oauth error redirect
  backend/src/routes/auth/oauth/github.rs
  backend/src/services/env.rs
  frontend/app/pages/login.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

when image doesnt exist show error 404
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

get to prev or next dialogue depending on mouse position
  frontend/app/components/StoryViewer.vue
Owners: @Hack4Krak/Frontend

lint
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

enhancement: Replaced contains with starts_with
  backend/src/lib.rs
Owners: @Hack4Krak/Backend

fix: Made auth middleware team requirements return 403 user is not a leader only when team requirement is set to leader
  backend/src/middlewares/auth.rs
Owners: @Hack4Krak/Backend

fix: Made auth middleware team requirements return 403 user is not a leader only when team requirement is set to leader (#199)
  backend/src/middlewares/auth.rs
Owners: @Hack4Krak/Backend

feat(backend): Implement db integration tests using sqlite
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi-check/src/main.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models/user.rs
  backend/tests/auth.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

fix: Rename `character` to `message` & more
  frontend/app/components/StoryViewer.vue
Owners: @Hack4Krak/Frontend

Enhancement: Enabled permissive cors for /tasks endpoints (#192)
  backend/src/lib.rs
Owners: @Hack4Krak/Backend

enhancement: Slow down writing
  frontend/app/components/StoryViewer.vue
Owners: @Hack4Krak/Frontend

feat(backend): Implement db integration tests using sqlite
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi-check/src/main.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/models/user.rs
  backend/tests/auth.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

feat: Story viewer (#183)
  frontend/app/components/Map.vue
  frontend/app/components/StoryViewer.vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

chore: Release `v0.2.0`
  backend/Cargo.lock
  backend/Cargo.toml
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend, @Norbiros

fix: Update `openapi.json` specification
  frontend/openapi/api/openapi.json
Owners: none

fix: Use `MarkdownContent` instead of `MDC`
  frontend/app/components/StoryViewer.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

enhancement: Added email confirmation template to email templates, added logo as possible attachment in email templates, allowed to add sender name
  backend/src/services/emails.rs
  backend/src/services/emails_assets/email_confirmation.html
  backend/src/services/emails_assets/hello_world.html
  backend/src/services/emails_assets/images/hack4krak_logo_black.webp
Owners: @Hack4Krak/Backend

feat: Added email confirmation (#130)
  backend/migration/src/lib.rs
  backend/migration/src/m20250204_175306_add_email_confirmation_table.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/models/email_confirmation.rs
  backend/src/models/mod.rs
  backend/src/models/user.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/register.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/src/utils/app_state.rs
  backend/src/utils/common_responses.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/tests/auth.rs
  backend/tests/email.rs
  backend/tests/utils.rs
  frontend/app/components/Auth.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

enhancement: Added email confirmation template to email templates, added logo as possible attachment in email templates, allowed to add sender name
  backend/src/services/emails.rs
  backend/src/services/emails_assets/email_confirmation.html
  backend/src/services/emails_assets/hello_world.html
  backend/src/services/emails_assets/images/hack4krak_logo_black.webp
Owners: @Hack4Krak/Backend

feat: Added email confirmation (#130)
  backend/migration/src/lib.rs
  backend/migration/src/m20250204_175306_add_email_confirmation_table.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/models/email_confirmation.rs
  backend/src/models/mod.rs
  backend/src/models/user.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/register.rs
  backend/src/services/auth.rs
  backend/src/services/env.rs
  backend/src/utils/app_state.rs
  backend/src/utils/common_responses.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/tests/auth.rs
  backend/tests/email.rs
  backend/tests/utils.rs
  frontend/app/components/Auth.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

forgot gogle
  backend/src/routes/auth/oauth/google.rs
Owners: @Hack4Krak/Backend

fix(backend): Include email assets in binary (#214)
  backend/src/services/emails.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

chore: Use new syntax for css variables
  frontend/app/components/Auth.vue
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/primitive/Placeholder.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

feat(backend): Relaxed security mode (#173)
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/routes/auth/logout.rs
  backend/src/services/env.rs
  backend/src/utils/cookies.rs
Owners: @Hack4Krak/Backend

fix: Fixed bug where asserting team size lead to 500 Internal Server Error and added tests to it
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/tests/auth.rs
  backend/tests/teams.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

refactor: Moved UUID_REGEX to auth_flow test, because its not used anywhere else and causes warning in lints which fail CI checks
  backend/tests/auth.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

refactor: Minor changes and fixes
  backend/tests/teams.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

feat(backend): Relaxed security mode (#173)
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/routes/auth/logout.rs
  backend/src/services/env.rs
  backend/src/utils/cookies.rs
Owners: @Hack4Krak/Backend

fix(backend): Include email assets in binary (#214)
  backend/src/services/emails.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

chore: Use new syntax for css variables
  frontend/app/components/Auth.vue
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/primitive/Placeholder.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend
