Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

refactor(frontend): migrate complex `submit_personal_info` to `AutoForm`
  frontend/app/app.config.ts
  frontend/app/components/AuthForm.vue
  frontend/app/components/AutoForm.vue
  frontend/app/components/admin/form/RegisterExternalTeam.vue
  frontend/app/components/panel/FlagForm.vue
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/utils/form.ts
  frontend/compodium/examples/AutoFormExample.vue
Owners: @Hack4Krak/Frontend

enhancement: Handle custom 404 error messages
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

fix: Requested changes
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

chore(frontend): Update `nuxt-open-fetch` to `0.13.0`
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

Enhancement: Handle custom 404 error messages (#641)
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

chore(frontend): Update `nuxt-open-fetch` to `0.13.0`
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): use `@norbiros/nuxt-auto-form` for forms (#554)
  bun.lock
  frontend/app/app.config.ts
  frontend/app/components/AuthForm.vue
  frontend/app/components/admin/form/RegisterExternalTeam.vue
  frontend/app/components/panel/FlagForm.vue
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/plugins/zod.ts
  frontend/app/utils/form.ts
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

refactor(frontend): remove `TransparentInput` component (#630)
  frontend/app/components/AuthForm.vue
  frontend/app/components/primitive/TransparentInput.vue
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Frontend

fix(frontend): add missing toasts in `/panel/profile`
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

feat(backend): log out user in the 'account/delete' endpoint
  backend/src/routes/account/delete.rs
  backend/src/routes/auth/logout.rs
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

feat: display different team statistics in the panel
  backend/src/routes/auth/refresh.rs
  backend/src/routes/teams/membership/mod.rs
  backend/src/routes/teams/membership/stats.rs
  backend/src/services/auth.rs
  backend/src/utils/points_counter.rs
  frontend/app/components/panel/FlagForm.vue
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(frontend): reorganize panel related components
  frontend/app/components/panel/King.vue
  frontend/app/components/panel/Tile.vue
  frontend/app/components/panel/tile/FlagForm.vue
  frontend/app/components/panel/tile/Links.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/components/panel/tile/Stats.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(backend): ensure user existence in refresh token endpoint
  backend/src/routes/auth/refresh.rs
Owners: @Hack4Krak/Backend

bug: Whitemode is default
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix: add class `dark` by default (#603)
  frontend/nuxt.config.ts
  frontend/tests/e2e/darkmode.test.ts
Owners: @Hack4Krak/Frontend

fix: add class `dark` by default (#603)
  frontend/nuxt.config.ts
  frontend/tests/e2e/darkmode.test.ts
Owners: @Hack4Krak/Frontend

fix: One more information
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

fix(backend): sort flag captures by submitted date (#617)
  backend/src/utils/points_counter.rs
Owners: @Hack4Krak/Backend

docs: Added information line to DEVELOPMENT.md
  frontend/DEVELOPMENT.md
Owners: @Hack4Krak/Frontend

chore(frontend): remove admin leaderboard
  frontend/app/components/ElevatedText.vue
  frontend/app/pages/admin/leaderboard.vue
Owners: @Hack4Krak/Frontend

fix(backend): sort flag captures by submitted date (#617)
  backend/src/utils/points_counter.rs
Owners: @Hack4Krak/Backend

fix(frontend): improve field description in `submit_personal_info` form
  frontend/app/pages/account/submit_personal_info.vue
Owners: @Hack4Krak/Frontend

fix(frontend): unify and improve validation error messages in forms
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/utils/form.ts
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): remove `TransparentInput` component (#630)
  frontend/app/components/AuthForm.vue
  frontend/app/components/primitive/TransparentInput.vue
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Frontend

fix(frontend): improve field description in `submit_personal_info` form
  frontend/app/pages/account/submit_personal_info.vue
Owners: @Hack4Krak/Frontend

fix(frontend): unify and improve validation error messages in forms
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/utils/form.ts
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Frontend

feat(frontend): use `@norbiros/nuxt-auto-form` for forms (#554)
  bun.lock
  frontend/app/app.config.ts
  frontend/app/components/AuthForm.vue
  frontend/app/components/admin/form/RegisterExternalTeam.vue
  frontend/app/components/panel/FlagForm.vue
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/plugins/zod.ts
  frontend/app/utils/form.ts
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): remove admin leaderboard
  frontend/app/components/ElevatedText.vue
  frontend/app/pages/admin/leaderboard.vue
Owners: @Hack4Krak/Frontend

fix(frontend): add missing toasts in `/panel/profile`
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

feat(frontend): use the new designs for `ElevatedButton`
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/panel/tile/Links.vue
Owners: @Hack4Krak/Frontend

fix(backend): ensure user existence in refresh token endpoint
  backend/src/routes/auth/refresh.rs
Owners: @Hack4Krak/Backend

feat(backend): log out user in the 'account/delete' endpoint
  backend/src/routes/account/delete.rs
  backend/src/routes/auth/logout.rs
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

refactor(frontend): reorganize panel related components
  frontend/app/components/panel/King.vue
  frontend/app/components/panel/Tile.vue
  frontend/app/components/panel/tile/FlagForm.vue
  frontend/app/components/panel/tile/Links.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/components/panel/tile/Stats.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

feat: display different team statistics in the panel
  backend/src/routes/auth/refresh.rs
  backend/src/routes/teams/membership/mod.rs
  backend/src/routes/teams/membership/stats.rs
  backend/src/services/auth.rs
  backend/src/utils/points_counter.rs
  frontend/app/components/panel/FlagForm.vue
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(backend): log out user in the 'account/delete' endpoint
  backend/src/routes/account/delete.rs
  backend/src/routes/auth/logout.rs
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

feat: display different team statistics in the panel
  backend/src/routes/auth/refresh.rs
  backend/src/routes/teams/membership/mod.rs
  backend/src/routes/teams/membership/stats.rs
  backend/src/services/auth.rs
  backend/src/utils/points_counter.rs
  frontend/app/components/panel/FlagForm.vue
  frontend/app/pages/panel/index.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): add missing toasts in `/panel/profile`
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

fix(backend): ensure user existence in refresh token endpoint
  backend/src/routes/auth/refresh.rs
Owners: @Hack4Krak/Backend

feat(frontend): use the new designs for `ElevatedButton`
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/panel/tile/Links.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): reorganize panel related components
  frontend/app/components/panel/King.vue
  frontend/app/components/panel/Tile.vue
  frontend/app/components/panel/tile/FlagForm.vue
  frontend/app/components/panel/tile/Links.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/components/panel/tile/Stats.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend
