Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): add keybind for submitting flag & make requested changes
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/composables/useKeyboardShortcuts.ts
Owners: @Hack4Krak/Frontend

fix: close command palette before opening submit flag modal
  frontend/app/components/CommandPalette.vue
  frontend/app/composables/useKeyboardShortcuts.ts
Owners: @Hack4Krak/Frontend

chore(frontend): update empty state message
  frontend/app/components/CommandPalette.vue
Owners: @Hack4Krak/Frontend

fix(frontend): fix login link bounding box in navbar
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

chore(frontend): remove unused `div` from navbar
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix(frontend): make background effect scale with page height
  frontend/app/components/hero/DesktopHeroBackground.vue
Owners: @Hack4Krak/Frontend

fix(frontend): define typed slots in HeroSection instead of dynamic forwarding
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

feat(frontend): strip `data-testid` from production builds
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): redirect to callback url after login
  frontend/app/components/AuthForm.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/middleware/guest.ts
Owners: @Hack4Krak/Frontend

feat(frontend): migrate FAQ to markdown file
  frontend/app/components/content/FaqAccordion.vue
  frontend/app/pages/docs/faq.vue
  frontend/content/faq.json
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

chore: apply suggestion from code review
  frontend/app/middleware/auth.global.ts
Owners: @Hack4Krak/Frontend

chore: fix Norbiros skill issue
  frontend/app/middleware/auth.global.ts
Owners: @Hack4Krak/Frontend

feat(backend): add callback for registration & email confirmation
  backend/src/models/email_verification_request.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/register.rs
  backend/src/services/auth.rs
Owners: @Hack4Krak/Backend

chore: regenerate `openapi.json` & update `AuthForm`
  frontend/app/components/AuthForm.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Frontend

chore(backend): add max length validation to `callback`
  backend/src/routes/auth/register.rs
Owners: @Hack4Krak/Backend

chore: move `nodeTransforms` to utility file
  frontend/app/utils/node-transforms.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore(frontend): remove unused `div` from navbar
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix(frontend): fix login link bounding box in navbar
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix(frontend): remove gap between content and footer on static pages
  frontend/app/layouts/static-page.vue
Owners: @Hack4Krak/Frontend

chore(frontend): clean-up `DesktopHeroBackground`
  frontend/app/components/hero/DesktopHeroBackground.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Replace `vue-chartjs` with `nuxt-echarts`
  bun.lock
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/pages/leaderboard.vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(backend): Sort tasks list on endpoint
  backend/src/routes/task/list.rs
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

feat(frontend): Replace `vue-chartjs` with `nuxt-echarts`
  bun.lock
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/pages/leaderboard.vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(backend): Add `teams_with_tasks` endpoint
  backend/src/models/teams.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/teams_with_tasks.rs
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(frontend): Redesign leaderboard
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/leaderboard/Table.vue
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

chore: rename file to `vite-node-transformer.ts`
  frontend/app/utils/vite-node-transforms.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): Make chart tooltip animation smoother by increasing transition duration
  frontend/app/components/leaderboard/Chart.vue
Owners: @Hack4Krak/Frontend

chore: fix lint
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore: regenerate OpenAPI schema
  frontend/openapi/api/openapi.json
Owners: none

feat: add callback url to `submit_personal_info` page
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/account/submit_personal_info.vue
Owners: @Hack4Krak/Frontend

chore: make all requested changes
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/components/FlagSubmitModal.vue
  frontend/app/composables/useKeyboardShortcuts.ts
  frontend/app/composables/useLogout.ts
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

chore: fix logic
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

feat(frontend): strip `data-testid` from production builds (#588)
  frontend/app/utils/vite-node-transforms.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat: Update regulations to upcoming edition
  frontend/content/pages/privacy-policy.md
  frontend/content/pages/rules.md
  frontend/public/documents/Zgoda_rodzica_lub_opiekuna_prawnego_na_uczestnictwo_w_wydarzeniu.pdf
Owners: @Hack4Krak/Frontend

chore: fix lint
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/components/FlagSubmitModal.vue
  frontend/app/composables/useKeyboardShortcuts.ts
Owners: @Hack4Krak/Frontend

feat: Update regulations to upcoming edition
  frontend/content/pages/privacy-policy.md
  frontend/content/pages/rules.md
  frontend/public/documents/Zgoda_rodzica_lub_opiekuna_prawnego_na_uczestnictwo_w_wydarzeniu.pdf
Owners: @Hack4Krak/Frontend

perf: Exclude other binaries than hack4krak-backend from recipe.json
  backend/Dockerfile
Owners: @Hack4Krak/Backend

feat: Display backend coverage stats in README
  .github/workflows/ci.yaml
  README.md
Owners: @Norbiros

chore: Cleanup formatting in CI action
  .github/workflows/ci.yaml
Owners: @Norbiros

feat: Display backend coverage stats in README
  .github/workflows/ci.yaml
  README.md
Owners: @Norbiros

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
