Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

feat(frontend): rename color prop to addColorAccent in EventCard component
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add timeline component
  frontend/app/assets/css/fundaments.css
  frontend/app/assets/css/main.css
  frontend/app/components/EventCard.vue
  frontend/app/components/primitive/Label.vue
  frontend/app/pages/about_us.vue
  frontend/compodium/examples/EventCardExample.vue
  frontend/content/about-us-timeline.ts
  frontend/public/img/blockAccentVector.svg
  frontend/public/img/events/event1.webp
  frontend/public/img/events/event2.webp
  frontend/public/img/events/event3.webp
Owners: @Hack4Krak/Frontend

refactor(frontend): remove @apply classes
  frontend/app/assets/css/fundaments.css
  frontend/app/components/EventCard.vue
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

fix(frontend): compress blockAccentVector.svg
  frontend/public/img/blockAccentVector.svg
Owners: @Hack4Krak/Frontend

refactor(frontend): refactor EventCard component to use breakpoints for hover mode
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

enhance(frontend): enhance mini-gallery with dynamic image list and styling updates
  frontend/app/pages/about_us.vue
  frontend/public/img/about-us/Gallery1.webp
  frontend/public/img/about-us/Gallery3.webp
Owners: @Hack4Krak/Frontend

feat(frontend): change participants type to number
  frontend/app/components/EventCard.vue
  frontend/content/about-us-timeline.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add prerendering for about us page
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add new CSS variables and fundaments for consistent theming and typography
  frontend/app/app.config.ts
  frontend/app/assets/css/fundaments.css
  frontend/app/assets/css/main.css
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix(frontend): EventCard content loading lag
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

enhance(frontend): update styles and layout for about us header
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): centralize about us page content with reusable data structure
  frontend/app/pages/about_us.vue
  frontend/content/about-us-content.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add mission section
  frontend/app/components/primitive/Label.vue
  frontend/app/pages/about_us.vue
  frontend/public/img/flag_n_clouds.webp
Owners: @Hack4Krak/Frontend

feat(frontend): add mini-gallery section to about us page
  frontend/app/pages/about_us.vue
  frontend/public/img/about-us/Gallery1.webp
  frontend/public/img/about-us/Gallery2.webp
  frontend/public/img/about-us/Gallery3.webp
  frontend/public/img/about-us/GalleryMain.webp
Owners: @Hack4Krak/Frontend

feat(frontend): add About Us page with initial content and styling
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): replace SizedIcon with UIcon in EventCard component
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): update UIcon class names and remove unused size utility styles
  frontend/app/assets/css/main.css
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): update UIcon class names and remove unused size utility styles
  bun.lock
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/app/components/primitive/SizedIcon.vue
  frontend/content/navbar.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

refactor(frontend): standardize page min-height, update related utilities and layouts
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/app/error.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Update logo
  frontend/app/components/Footer.server.vue
  frontend/app/components/Logo.vue
  frontend/app/components/LogoWithText.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/Sygnet.vue
  frontend/app/components/hero/HeroSection.vue
  frontend/app/components/hero/MobileLogoSection.vue
  frontend/public/img/logo.svg
  frontend/public/img/sygnet.svg
Owners: @Hack4Krak/Frontend

feat(frontend): partial navbar redesign to match designs
  bun.lock
  frontend/app/assets/css/main.css
  frontend/app/components/Navbar.vue
  frontend/content/navbar.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): add prerendering for about us page
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add mini-gallery section to about us page
  frontend/app/pages/about_us.vue
  frontend/public/img/about-us/Gallery1.webp
  frontend/public/img/about-us/Gallery2.webp
  frontend/public/img/about-us/Gallery3.webp
  frontend/public/img/about-us/GalleryMain.webp
Owners: @Hack4Krak/Frontend

fix(frontend): compress blockAccentVector.svg
  frontend/public/img/blockAccentVector.svg
Owners: @Hack4Krak/Frontend

feat(frontend): add meta title for about us page and update navbar with about us link
  frontend/app/pages/about_us.vue
  frontend/content/navbar.ts
Owners: @Hack4Krak/Frontend

fix(frontend): EventCard content loading lag
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add About Us page with initial content and styling
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): centralize about us page content with reusable data structure
  frontend/app/pages/about_us.vue
  frontend/content/about-us-content.ts
Owners: @Hack4Krak/Frontend

feat(frontend): rename color prop to addColorAccent in EventCard component
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): refactor EventCard component to use breakpoints for hover mode
  frontend/app/components/EventCard.vue
Owners: @Hack4Krak/Frontend

enhance(frontend): update styles and layout for about us header
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

feat(frontend): refactor about us layout with UContainer component
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

chore(frontend): simplify css array formatting in nuxt config
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): change participants type to number
  frontend/app/components/EventCard.vue
  frontend/content/about-us-timeline.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add timeline component
  frontend/app/assets/css/fundaments.css
  frontend/app/assets/css/main.css
  frontend/app/components/EventCard.vue
  frontend/app/components/primitive/Label.vue
  frontend/app/pages/about_us.vue
  frontend/compodium/examples/EventCardExample.vue
  frontend/content/about-us-timeline.ts
  frontend/public/img/blockAccentVector.svg
  frontend/public/img/events/event1.webp
  frontend/public/img/events/event2.webp
  frontend/public/img/events/event3.webp
Owners: @Hack4Krak/Frontend

enhance(frontend): enhance mini-gallery with dynamic image list and styling updates
  frontend/app/pages/about_us.vue
  frontend/public/img/about-us/Gallery1.webp
  frontend/public/img/about-us/Gallery3.webp
Owners: @Hack4Krak/Frontend

feat(frontend): add new CSS variables and fundaments for consistent theming and typography
  frontend/app/app.config.ts
  frontend/app/assets/css/fundaments.css
  frontend/app/assets/css/main.css
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): remove @apply classes
  frontend/app/assets/css/fundaments.css
  frontend/app/components/EventCard.vue
  frontend/app/pages/about_us.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add mission section
  frontend/app/components/primitive/Label.vue
  frontend/app/pages/about_us.vue
  frontend/public/img/flag_n_clouds.webp
Owners: @Hack4Krak/Frontend

chore(frontend): update lock
  bun.lock
Owners: @Norbiros
