Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

fix: Format timestamp in leaderboard
  frontend/app/components/leaderboard/Table.vue
Owners: @Hack4Krak/Frontend

fix: flag submitting before task unlocked
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

fix: flag submitting before task unlocked
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

feat(backend): extract real client IP for proxied requests
  .env.example
  backend/src/lib.rs
  backend/src/services/env.rs
  backend/src/utils/mod.rs
  backend/src/utils/real_ip.rs
Owners: @Norbiros, @Hack4Krak/Backend

feat(backend): log flag submissions
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

feat(backend): log authenticated users
  backend/src/middlewares/auth.rs
Owners: @Hack4Krak/Backend

feat(backend): enhance flag submission logging with task details
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

fix(frontend): allow panel after event ends
  frontend/app/middleware/event-access-guard.ts
Owners: @Hack4Krak/Frontend

fix(backend): code review fixes
  backend/locales/error.yaml
  backend/src/routes/leaderboard/ctftime/capture_log.rs
  backend/src/utils/ctftime.rs
  backend/src/utils/error.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime/team_standings.rs
Owners: @Hack4Krak/Backend

feat: add ctftime stats endpoint (#581)
  backend/src/routes/leaderboard/ctftime.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: shitty points counter standings impl and other review stuff
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: capture log for ctftime
  backend/src/routes/leaderboard/ctftime.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime.rs
  backend/tests/routes/leaderboard/mod.rs
  backend/tests/routes/mod.rs
  backend/tests/test_utils/database.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: split ctftime endpoint files & other Norbert's concerns
  backend/src/routes/leaderboard/ctftime/capture_log.rs
  backend/src/routes/leaderboard/ctftime/mod.rs
  backend/src/routes/leaderboard/ctftime/team_standings.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/ctftime.rs
  backend/src/utils/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime/capture_log.rs
  backend/tests/routes/leaderboard/ctftime/mod.rs
  backend/tests/routes/leaderboard/ctftime/team_standings.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: random comments and code quality improvements
  backend/src/routes/leaderboard/ctftime/capture_log.rs
  backend/src/routes/leaderboard/ctftime/team_standings.rs
  backend/src/utils/ctftime.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime/capture_log.rs
  backend/tests/routes/leaderboard/ctftime/team_standings.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): code review fixes
  backend/locales/error.yaml
  backend/src/routes/leaderboard/ctftime/capture_log.rs
  backend/src/utils/ctftime.rs
  backend/src/utils/error.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime/team_standings.rs
Owners: @Hack4Krak/Backend

feat(backend): add ctftime stats endpoint (#582)
  backend/locales/error.yaml
  backend/src/routes/leaderboard/ctftime/capture_log.rs
  backend/src/routes/leaderboard/ctftime/mod.rs
  backend/src/routes/leaderboard/ctftime/team_standings.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/utils/ctftime.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/leaderboard/ctftime/capture_log.rs
  backend/tests/routes/leaderboard/ctftime/mod.rs
  backend/tests/routes/leaderboard/ctftime/team_standings.rs
  backend/tests/routes/leaderboard/mod.rs
  backend/tests/routes/mod.rs
  backend/tests/test_utils/database.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

update FlagForm component
  frontend/app/components/panel/tile/FlagForm.vue
Owners: @Hack4Krak/Frontend

Discard changes to frontend/app/components/panel/tile/FlagForm.vue
  frontend/app/components/panel/tile/FlagForm.vue
Owners: @Hack4Krak/Frontend

...
  frontend/app/components/FlagSubmitModal.vue
  frontend/app/components/panel/tile/FlagForm.vue
Owners: @Hack4Krak/Frontend

fix import
  frontend/app/components/CommandPalette.vue
Owners: @Hack4Krak/Frontend

chore: regen openapi and simplify auth confirmation test
  backend/tests/routes/auth.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

revert: drop unintended auth test changes
  backend/tests/routes/auth.rs
Owners: @Hack4Krak/Backend

regen openapi schema
  frontend/openapi/api/openapi.json
Owners: none

fix: Forbid team leader from leaving team (#911)
  backend/locales/error.yaml
  backend/src/models/teams.rs
  backend/src/routes/teams/membership/leave_team.rs
  backend/src/routes/teams/mod.rs
  backend/tests/models/mod.rs
  backend/tests/models/teams.rs
Owners: @Hack4Krak/Backend

fix: Forbid team leader from leaving team (#911)
  backend/locales/error.yaml
  backend/src/models/teams.rs
  backend/src/routes/teams/membership/leave_team.rs
  backend/src/routes/teams/mod.rs
  backend/tests/models/mod.rs
  backend/tests/models/teams.rs
Owners: @Hack4Krak/Backend

feat: update banner images in `README.md` (#895)
  .github/assets/banner-dark.png
  .github/assets/banner-light.png
Owners: @Norbiros

chore: update project status in `README.md`
  README.md
Owners: @Norbiros

docs: rewrite README intro section
  README.md
Owners: @Norbiros

fix: increase the width of banner images in README.md
  .github/assets/banner-dark.png
  .github/assets/banner-light.png
Owners: @Norbiros

fix(frontend): display proper message after event has finished
  frontend/app/components/event/Countdown.vue
  frontend/app/components/section/EventBanner.vue
Owners: @Hack4Krak/Frontend

chore(frontend): update FAQ after 2026 edition
  frontend/content/pages/faq.md
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

chore(frontend): update dependencies
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

Update frontend/content/pages/rules.md
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

docs(frontend): update FAQ after 2026 edition
  frontend/content/pages/faq.md
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

fix lint
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

address feedback
  frontend/app/components/CommandPalette.vue
Owners: @Hack4Krak/Frontend

this commit will be removed
  frontend/app/components/AuthForm.vue
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

fix(frontend): remove manually installed `@nuxt/devtools` dependency
  frontend/package.json
Owners: @Hack4Krak/Frontend

chore(frontend): update all dependencies
  .bun-version
  bun.lock
  frontend/.nuxtrc
  frontend/Dockerfile
  frontend/app/plugins/openFetch.ts
  frontend/package.json
  frontend/tests/pages/tasks/index.spec.ts
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

refactor(frontend)!: migrate from `bun` to `pnpm`
  .bun-version
  .github/workflows/ci.yaml
  .husky/pre-commit
  .node-version
  .npmrc
  .nvmrc
  AGENTS.md
  DEPLOYMENT.md
  backend/DEVELOPMENT.md
  bun.lock
  bunfig.toml
  frontend/DEVELOPMENT.md
  frontend/Dockerfile
  frontend/package.json
  frontend/playwright.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  renovate.json
Owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
