Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

docs(backend): Fix prometheus example configuration
  DEPLOYMENT.md
Owners: @Norbiros

docs(frontend): Update registration date in rules
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

feat(backend): Use `SMTP_CONNECTION_URL` env variable
  backend/src/services/env.rs
  backend/src/utils/app_state.rs
Owners: @Hack4Krak/Backend

feat(frontend): [VERY WIP] Completely redesigned panel
  frontend/app/app.config.ts
  frontend/app/components/JoinTeamButton.vue
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/tile/EventProgressBar.vue
  frontend/app/components/primitive/GhostButtonWithIcon.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

fix: Properly update backend dependencies
  renovate.json
Owners: @Norbiros

feat(frontend): Made text on button on Navbar dynamic (#515)
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix: Fix redirects to /login when not authenticated
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix(backend): Properly assert team size in external invitations (#574)
  backend/src/models/external_team_invitation.rs
  backend/src/models/task.rs
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/tests/routes/teams/external_invitations.rs
Owners: @Hack4Krak/Backend

feat(frontend): Made text on button on Navbar dynamic (#557)
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Redirect to personal info only on explicit `false`
  frontend/app/middleware/auth.global.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Redirect to personal info only on explicit `false`
  frontend/app/middleware/auth.global.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Redirect to personal info page only on explicit `false`
  frontend/app/components/panel/modal/JoinExternalTeam.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Redirect to personal info page only on explicit `false`
  frontend/app/components/panel/modal/JoinExternalTeam.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Added page titles (#506)
  frontend/app/pages/admin/register_external_team.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/docs/faq.vue
  frontend/app/pages/leaderboard.vue
  frontend/app/pages/login.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/team.vue
  frontend/app/pages/register.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/content/pages/privacy-policy.md
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

enhancement(frontend): Correct site description
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

enhancement: Fetch task name on frontend to add it to pages titles
  backend/src/routes/task/mod.rs
  backend/src/routes/task/name.rs
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

enhancement: Fetch task name on frontend to add it to pages titles
  backend/src/routes/task/mod.rs
  backend/src/routes/task/name.rs
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): Added page titles (#506)
  frontend/app/pages/admin/register_external_team.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/docs/faq.vue
  frontend/app/pages/leaderboard.vue
  frontend/app/pages/login.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/team.vue
  frontend/app/pages/register.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/content/pages/privacy-policy.md
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

enhancement(frontend): Correct site description
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix: Fetch new auth status endpoint on navbar to decrease number of data
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/status.rs
  frontend/app/components/Navbar.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

wip
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/ElevatedText.vue
  frontend/app/layouts/default.vue
  frontend/app/layouts/no-navbar.vue
  frontend/app/middleware/admin.ts
  frontend/app/pages/admin/leaderboard.vue
Owners: @Hack4Krak/Frontend

fix: Fetch new auth status endpoint on navbar to decrease number of data
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/status.rs
  frontend/app/components/Navbar.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

enhancement: Schedule weekly updates for backend dependencies
  renovate.json
Owners: @Norbiros

fix(frontend): Ensure all pages have proper `min-h` (#523)
  frontend/app/app.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Increase spacing in `AuthForm.vue`
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Add a sponsors section to the landing site
  frontend/app/components/section/Sponsors.server.vue
  frontend/app/pages/index.vue
  frontend/content/landing-page.json
  frontend/public/img/sponsors/europe4youth.webp
  frontend/public/img/sponsors/mdl.webp
  frontend/public/img/sponsors/mlody_krakow.webp
  frontend/public/img/sponsors/teach_for_poland.webp
  frontend/tests/e2e/basic.test.ts
Owners: @Hack4Krak/Frontend

feat(frontend): Add a sponsors section to the landing site
  frontend/app/components/section/Sponsors.server.vue
  frontend/app/pages/index.vue
  frontend/content/landing-page.json
  frontend/public/img/sponsors/europe4youth.webp
  frontend/public/img/sponsors/mdl.webp
  frontend/public/img/sponsors/mlody_krakow.webp
  frontend/public/img/sponsors/teach_for_poland.webp
  frontend/tests/e2e/basic.test.ts
Owners: @Hack4Krak/Frontend

enhancement(frontend): Introduce `h-screen-without-header` utility
  frontend/app/assets/css/main.css
  frontend/app/components/hero/HeroSection.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/tests/e2e/navbar-mobile.test.ts
Owners: @Hack4Krak/Frontend

fix(frontend): Ensure all pages have proper `min-h` (#523)
  frontend/app/app.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Increase spacing in `AuthForm.vue`
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Introduce `h-screen-without-header` utility
  frontend/app/assets/css/main.css
  frontend/app/components/hero/HeroSection.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/tests/e2e/navbar-mobile.test.ts
Owners: @Hack4Krak/Frontend

enhancement(frontend): Redesign the error page a bit
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

feat(backend): Add more prometheus metrics
  backend/src/routes/metrics.rs
Owners: @Hack4Krak/Backend

enhancement(frontend): Style task description (#283)
  frontend/app/assets/css/main.css
  frontend/app/assets/img/scroll/scroll_left.png
  frontend/app/assets/img/scroll/scroll_middle.png
  frontend/app/assets/img/scroll/scroll_right.png
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

feat(backend): Add more prometheus metrics
  backend/src/routes/metrics.rs
Owners: @Hack4Krak/Backend

perf(backend): Use `RwLock` instead of `Mutex` for configs
  backend/src/middlewares/event.rs
  backend/src/routes/event/info.rs
  backend/src/routes/event/registration.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/external_invitations/create.rs
  backend/src/routes/teams/external_invitations/join.rs
  backend/src/routes/teams/invitations/accept_invitation.rs
  backend/src/routes/teams/management/invite_user.rs
  backend/src/services/task_manager.rs
  backend/tests/routes/teams/create.rs
Owners: @Hack4Krak/Backend

feat(backend): Add `app_count_tasks` Prometheus gauge
  backend/src/routes/metrics.rs
Owners: @Hack4Krak/Backend

feat: Add `organization` column to team
  backend/migration/src/lib.rs
  backend/migration/src/m20250526_172108_add_organization_column_to_team.rs
  backend/src/entities/email_verification_request.rs
  backend/src/entities/external_team_invitation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/models/teams.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/external_invitations/create.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Admin endpoints for flag_captures and team_invites
  backend/locales/error.yaml
  backend/src/models/teams.rs
  backend/src/routes/admin/flag_captures/list.rs
  backend/src/routes/admin/flag_captures/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/team_invites/delete.rs
  backend/src/routes/admin/team_invites/list.rs
  backend/src/routes/admin/team_invites/list_for_team.rs
  backend/src/routes/admin/team_invites/mod.rs
  backend/src/utils/error.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

wip i fucking hate openapi or utoipa i dont know what causes this mess
  backend/src/entities/email_verification_request.rs
  backend/src/entities/external_team_invitation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/models/teams.rs
  backend/src/routes/account/get_personal_information.rs
  backend/src/routes/admin/flag_captures/list.rs
  backend/src/routes/admin/flag_captures/list_by_task.rs
  backend/src/routes/admin/flag_captures/list_by_team_id.rs
  backend/src/routes/admin/flag_captures/mod.rs
  backend/src/routes/admin/team_invites/delete_external.rs
  backend/src/routes/admin/team_invites/list.rs
  backend/src/routes/admin/team_invites/list_by_team_id.rs
  backend/src/routes/admin/team_invites/mod.rs
  backend/src/routes/teams/create.rs
  frontend/app/pages/panel/team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
