Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

chore: fix lint
  frontend/app/components/AuthForm.vue
  frontend/app/pages/login.vue
  frontend/app/utils/hexToRgb.ts
  frontend/tests/composables/useMarkdownParser.test.ts
Owners: @Hack4Krak/Frontend

chore(renovate): don't ignore Zod updates
  renovate.json
Owners: @Norbiros

chore: add required `better-sqlite3` package
  bun.lock
  frontend/app/components/og-image/DefaultOgImage.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix: correct path to tests setup in Vitest config
  frontend/vitest.config.ts
Owners: @Hack4Krak/Frontend

fix: what I broke
  backend/Dockerfile
Owners: @Hack4Krak/Backend

feat(frontend): use appLayout route rules instead of per-page definePageMeta
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/admin/register_external_team.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/login.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/profile.vue
  frontend/app/pages/register.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore(frontend): update `@norbiros/nuxt-auto-form` to `0.6.0`
  bun.lock
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/pages/panel/profile.vue
  frontend/app/pages/panel/team.vue
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

Discard changes to backend/Dockerfile
  backend/Dockerfile
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/request_password_reset.vue
  frontend/package.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): fix footer width on static pages
  frontend/app/components/Footer.server.vue
  frontend/app/layouts/static-page.vue
Owners: @Hack4Krak/Frontend

chore(frontend): bump dependencies, again
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): update to latest `@norbiros/nuxt-auto-form`
  bun.lock
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): prepare for Nuxt v5
  frontend/app/app.config.ts
  frontend/content/how-to-participate.json
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore(frontend): override Vite version to 7.x
  bun.lock
  package.json
Owners: @Norbiros

fix(frontend): Add newlines to list in regulations
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

chore(frontend): use X icon instead of plain text in the panel
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(backend): correct typo in reset password email (
  backend/templates/email/reset_password.html
Owners: @Hack4Krak/Backend

chore: apply suggestion from code review
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(frontend): make background effect scale with page height (#540)
  frontend/app/components/hero/DesktopHeroBackground.vue
  frontend/app/layouts/static-page.vue
Owners: @Hack4Krak/Frontend

feat(frontend): migrate FAQ to markdown file
  frontend/app/components/content/FaqAccordion.vue
  frontend/app/pages/docs/faq.vue
  frontend/content/faq.json
  frontend/content/pages/faq.md
Owners: @Hack4Krak/Frontend

fix(frontend): define typed slots in `HeroSection` (#519)
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

fix(frontend): allow logged-in users to access password reset page
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

fix(frontend): fix email validation on password reset page
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

chore(frontend): add `await` to useApi calls on task pages
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

fix(frontend): correct route names on task pages
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

fix(frontend): correct route names on task pages
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

chore(frontend): add `await` to useApi calls on task pages
  frontend/app/pages/tasks/description/[id].vue
  frontend/app/pages/tasks/solution/[id].vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

feat(leaderboard): freeze ranking updates during last hour of event
  backend/src/models/teams.rs
  backend/src/routes/leaderboard/teams_with_tasks.rs
  backend/src/utils/app_state.rs
  backend/src/utils/leaderboard_freeze.rs
  backend/src/utils/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/utils/leaderboard_freeze.rs
  backend/tests/utils/mod.rs
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(frontend): prepare for Nuxt v5 Also removes unused `how-to-participate.json` file
  frontend/app/app.config.ts
  frontend/content/how-to-participate.json
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore(frontend): unpin & update `zod` to `v4.3.6` Also removes renovate ignore rule for it
  bun.lock
  frontend/package.json
  package.json
  renovate.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): unpin & update `@nuxt/content` to `v3.12.0` ref: https://github.com/Hack4Krak/Hack4KrakSite/issues/681#issuecomment-3671205887
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): update to latest `@norbiros/nuxt-auto-form` Also migrate `UModal` usages to the new `AutoFormModal` component Thanks to Norbi for the original commit
  bun.lock
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/components/panel/modal/ViewInvitations.vue
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/panel/profile.vue
  frontend/app/pages/panel/team.vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): update to `eslint` v10 Also removes unused `@iconify-json/octicon` package
  bun.lock
  frontend/app/utils/hexToRgb.ts
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): update `vitest` and related deps Also removes unused `happy-dom` and `jiti` packages
  bun.lock
  frontend/.nuxtrc
  frontend/package.json
  frontend/vitest.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): upgrade Nuxt and related deps Also migrate from deprecated `statusCode` to `status` and use `appLayout` route rules instead of per-page `definePageMeta`
  bun.lock
  frontend/app/components/TaskDescription.vue
  frontend/app/error.vue
  frontend/app/middleware/admin.ts
  frontend/app/middleware/event-access-guard.ts
  frontend/app/pages/account/submit_personal_info.vue
  frontend/app/pages/admin/register_external_team.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/login.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/register.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): upgrade Nuxt UI & `vue-tsc` Also add back `happy-dom` because Vitest needs it
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(frontend): refresh lockfile
  bun.lock
Owners: @Norbiros

feat: prototype for task map
  backend/src/models/task.rs
  bun.lock
  frontend/app/components/Map.vue
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

chore(frontend): upgrade to `@nuxtjs/seo` v4 https://nuxtseo.com/docs/og-image/migration-guide/v6
  bun.lock
  frontend/app/components/og-image/DefaultOgImage.takumi.vue
  frontend/app/composables/useOgImage.ts
  frontend/content/pages/faq.md
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

Revert "chore(frontend): prepare for Nuxt v5"
  frontend/app/app.config.ts
  frontend/app/components/panel/modal/QRCode.vue
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore(frontend): unpin & update `zod` to `v4.3.6` Also removes renovate ignore rule for it
  bun.lock
  frontend/package.json
  package.json
  renovate.json
Owners: @Norbiros, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
