Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): remove double buttons in modals
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
Owners: @Hack4Krak/Frontend

feat: Update regulations to upcoming edition
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

feat(frontend): add code highlighting for tasks
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/composables/useMarkdownParser.ts
Owners: @Hack4Krak/Frontend

fix(frontend): share shiki config between MDC and Nuxt Content
  frontend/app/composables/useMarkdownParser.ts
  frontend/app/utils/shiki.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

ci: move lighthouse checks to frontend job
  .github/workflows/ci.yaml
Owners: @Norbiros

fix(frontend): resolve hydration errors in `Footer.server.vue`
  frontend/app/components/Footer.server.vue
Owners: @Hack4Krak/Frontend

fix(frontend): resolve hydration errors in `Footer.server.vue`
  frontend/app/components/Footer.server.vue
Owners: @Hack4Krak/Frontend

feat(backend): Add `teams_with_tasks` endpoint
  backend/src/models/teams.rs
  backend/src/routes/leaderboard/mod.rs
  backend/src/routes/leaderboard/teams_with_tasks.rs
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): Sort tasks list on endpoint
  backend/src/routes/task/list.rs
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

feat(frontend): Redesign leaderboard
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/leaderboard/Table.vue
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

test(frontend): add unit tests for `useMarkdownParser` composable
  frontend/tests/composables/useMarkdownParser.test.ts
Owners: @Hack4Krak/Frontend

feat(frontend): Replace `vue-chartjs` with `nuxt-echarts`
  bun.lock
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/pages/leaderboard.vue
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): fix copy button not working in code blocks
  frontend/app/plugins/code-block-copy.client.ts
Owners: @Hack4Krak/Frontend

feat(shiki): add `shell` language
  frontend/app/utils/shiki.ts
Owners: @Hack4Krak/Frontend

chore: fix lint
  frontend/app/plugins/code-block-copy.client.ts
Owners: @Hack4Krak/Frontend

chore: fix lint
  frontend/app/utils/shiki.ts
Owners: @Hack4Krak/Frontend

feat(ci): improve playwright cache
  .github/workflows/ci.yaml
Owners: @Norbiros

feat(frontend): add code highlighting for tasks (#607)
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/composables/useMarkdownParser.ts
  frontend/app/utils/shiki.ts
  frontend/nuxt.config.ts
  frontend/tests/composables/useMarkdownParser.test.ts
Owners: @Hack4Krak/Frontend

fix(ci): correct path to Playwright package
  .github/workflows/ci.yaml
Owners: @Norbiros

feat(ci): use more stable key for playwright cache (#742)
  .github/workflows/ci.yaml
Owners: @Norbiros

fix(frontend): use Polish language in modals & forms
  frontend/app/components/AuthForm.vue
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/pages/reset_password.vue
Owners: @Hack4Krak/Frontend

fix(tests): oops in authform test
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Frontend

refactor: clean-up code
  frontend/app/components/AuthForm.vue
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/pages/reset_password.vue
  frontend/app/utils/form.ts
Owners: @Hack4Krak/Frontend

chore: update email label for consistency
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

fix(frontend): use Polish language in modals & forms
  frontend/app/components/AuthForm.vue
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/utils/form.ts
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Frontend

fix(backend): Sort tasks list on endpoint
  backend/src/routes/task/list.rs
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

feat(frontend): Redesign leaderboard
  frontend/app/components/leaderboard/Chart.vue
  frontend/app/components/leaderboard/Table.vue
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

feat: Admin endpoints for flag_captures and team_invites
  backend/locales/error.yaml
  backend/src/models/teams.rs
  backend/src/routes/admin/flag_captures/list.rs
  backend/src/routes/admin/flag_captures/mod.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/team_invites/delete.rs
  backend/src/routes/admin/team_invites/list.rs
  backend/src/routes/admin/team_invites/list_for_team.rs
  backend/src/routes/admin/team_invites/mod.rs
  backend/src/utils/error.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

wip i fucking hate openapi or utoipa i dont know what causes this mess
  backend/src/models/teams.rs
  backend/src/routes/admin/flag_captures/list.rs
  backend/src/routes/admin/flag_captures/list_by_task.rs
  backend/src/routes/admin/flag_captures/list_by_team_id.rs
  backend/src/routes/admin/flag_captures/mod.rs
  backend/src/routes/admin/team_invites/delete_external.rs
  backend/src/routes/admin/team_invites/list.rs
  backend/src/routes/admin/team_invites/list_by_team_id.rs
  backend/src/routes/admin/team_invites/mod.rs
  frontend/app/pages/panel/team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Define names of objects in openapi based on file path not struct name in entities
  backend/macros/src/lib.rs
  backend/macros/src/macros/mod.rs
  backend/macros/src/macros/to_schema_from_file_name.rs
  backend/macros/src/macros/updatable_model.rs
  backend/package.json
  backend/src/entities/email_verification_request.rs
  backend/src/entities/external_team_invitation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/routes/teams/membership/my_team.rs
  frontend/app/pages/panel/team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

wip
  backend/src/routes/admin/email_verification_request/list.rs
  backend/src/routes/admin/email_verification_request/mod.rs
  backend/src/routes/admin/mod.rs
Owners: @Hack4Krak/Backend

wip
  frontend/app/components/og-image/DefaultOgImage.vue
  frontend/public/img/logo-dark.png
  frontend/public/img/logo-light.png
Owners: @Hack4Krak/Frontend

feat: Add margin to task map (#546)
  frontend/app/components/Map.vue
Owners: @Hack4Krak/Frontend

fix: Disable selecting task icons on map
  frontend/app/components/Map.vue
Owners: @Hack4Krak/Frontend

fix: Disable selecting task icons on map
  frontend/app/components/Map.vue
Owners: @Hack4Krak/Frontend

feat: Add margin to task map (#546)
  frontend/app/components/Map.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add command palette
  frontend/app/app.vue
  frontend/app/components/CommandPalette.vue
  frontend/app/components/Navbar.vue
  frontend/app/composables/useKeyboardShortcuts.ts
Owners: @Hack4Krak/Frontend

chore(frontend): revert navbar changes
  frontend/app/components/Navbar.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add tasks to command palette
  frontend/app/components/CommandPalette.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add more actions to command palette
  frontend/app/components/CommandPalette.vue
Owners: @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
