Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): Basic stuff on panel page (#193)
  frontend/app/assets/img/king.png
  frontend/app/assets/img/speech_bubble.png
  frontend/app/components/Navbar.vue
  frontend/app/components/panel/King.vue
  frontend/app/components/panel/Tile.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix: Fixed route url for change leader
  backend/src/routes/teams/management/change_leader.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

wip
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/middlewares/mod.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/management/rename.rs
Owners: @Hack4Krak/Backend

fix(frontend): Panel page important fixes
  frontend/app/components/panel/Tile.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
Owners: @Hack4Krak/Frontend

fix: Fixed bug where asserting team size lead to 500 Internal Server Error and added tests to it (#218)
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/tests/auth.rs
  backend/tests/teams.rs
  backend/tests/utils.rs
Owners: @Hack4Krak/Backend

feat: Tasks assets endpoints
  backend/src/models/task.rs
  backend/src/routes/task/assets/get.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/task/assets/mod.rs
  backend/src/routes/task/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(frontend): More panel page fixes
  frontend/app/assets/css/main.css
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/panel/King.vue
  frontend/app/components/panel/Tile.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(backend): Include other assets in binary
  backend/src/services/emails.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

feat(backend): Create `/event` endpoint (#220)
  backend/src/lib.rs
  backend/src/routes/event/info.rs
  backend/src/routes/event/mod.rs
Owners: @Hack4Krak/Backend

feat(backend): Load data from TasksTemplate's config (#194)
  backend/src/models/task.rs
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/src/routes/mod.rs
  backend/src/routes/teams/invitations/accept_invitation.rs
  backend/src/routes/teams/management/invite_user.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/env.rs
  backend/src/services/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): Correctly reset cookies in relaxed security mode
  backend/src/utils/cookies.rs
Owners: @Hack4Krak/Backend

feat: Created backend side
  backend/src/entities/email_confirmation.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/users.rs
  backend/src/lib.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/teams/delete_team.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/teams_list.rs
  backend/src/routes/admin/teams/update_team.rs
  backend/src/routes/admin/users/delete_user.rs
  backend/src/routes/admin/users/email_confirmations_list.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update_user.rs
  backend/src/routes/admin/users/user_list.rs
  backend/src/routes/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

feat: Added tasks/refresh endpoint
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/tasks/mod.rs
  backend/src/routes/admin/tasks/refresh.rs
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

enhancement: Added checking if team name is unique when updating
  backend/src/models/teams.rs
Owners: @Hack4Krak/Backend

enhancement: Got rid of _team _user suffixes (and prefixes!!!), simplified syntax in teams::leader method and user::assert_is_unique method, changed way of deleting team in teams::delete
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/models/mod.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/models/user_roles.rs
  backend/src/routes/admin/teams/delete.rs
  backend/src/routes/admin/teams/list.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/admin/users/delete.rs
  backend/src/routes/admin/users/list.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

refactor: Something something changes names and also added --with-serde both to command for generating enitites in readme.md
  backend/README.md
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/teams/delete_team.rs
  backend/src/routes/admin/teams/teams_list.rs
  backend/src/routes/admin/teams/update_team.rs
  backend/src/routes/admin/users/delete_user.rs
  backend/src/routes/admin/users/update_user.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): Include other assets in binary
  backend/src/services/emails.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

fix(backend): Correctly reset cookies in relaxed security mode
  backend/src/utils/cookies.rs
Owners: @Hack4Krak/Backend

fix(frontend): More panel page fixes
  frontend/app/assets/css/main.css
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/panel/King.vue
  frontend/app/components/panel/Tile.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Basic stuff on panel page (#193)
  frontend/app/assets/css/main.css
  frontend/app/assets/img/king.png
  frontend/app/assets/img/speech_bubble.png
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/Navbar.vue
  frontend/app/components/panel/King.vue
  frontend/app/components/panel/Tile.vue
  frontend/app/components/panel/tile/Main.vue
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

feat(backend): Load data from TasksTemplate's config (#194)
  backend/src/models/task.rs
  backend/src/models/team_invites.rs
  backend/src/models/teams.rs
  backend/src/routes/mod.rs
  backend/src/routes/teams/invitations/accept_invitation.rs
  backend/src/routes/teams/management/invite_user.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/env.rs
  backend/src/services/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(backend): Create `/event` endpoint (#220)
  backend/src/lib.rs
  backend/src/routes/event/info.rs
  backend/src/routes/event/mod.rs
Owners: @Hack4Krak/Backend

feat: Tasks assets endpoints
  backend/src/models/task.rs
  backend/src/routes/task/assets/get.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/task/assets/mod.rs
  backend/src/routes/task/mod.rs
Owners: @Hack4Krak/Backend

something something refactored streaming
  backend/src/routes/task/assets/get.rs
  backend/src/routes/task/background.rs
  backend/src/routes/task/description.rs
  backend/src/routes/task/icon.rs
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

refactor: Descructruefshdfidsgfhjasdfjbdjsh, tuple
  backend/src/routes/task/assets/get.rs
Owners: @Hack4Krak/Backend

fix: Properly stream data (i think so)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/task/assets/get.rs
Owners: @Hack4Krak/Backend

refactor: Changed &* to .as_str()
  backend/src/models/task.rs
  backend/src/routes/task/assets/get.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Tasks assets endpoints (#176)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/models/task.rs
  backend/src/routes/task/assets/get.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/task/assets/mod.rs
  backend/src/routes/task/background.rs
  backend/src/routes/task/description.rs
  backend/src/routes/task/icon.rs
  backend/src/routes/task/mod.rs
  backend/src/services/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

enhancement: Added request validator
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/auth/register.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/management/rename.rs
Owners: @Hack4Krak/Backend

enhancement: Added email validation to register model
  backend/src/routes/auth/register.rs
Owners: @Hack4Krak/Backend

refactor: Switched to actix-web-validation crate
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/auth/register.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/management/rename.rs
Owners: @Hack4Krak/Backend

enhancement: Ingored validator version >= 0.20.0 in dependabot
  .github/dependabot.yml
  backend/Cargo.lock
  backend/Cargo.toml
Owners: @Norbiros, @Hack4Krak/Backend

enhancement: Added request validator (#162)
  .github/dependabot.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/auth/register.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/management/rename.rs
Owners: @Norbiros, @Hack4Krak/Backend

chore: Updated validator to 0.20
  .github/dependabot.yml
  backend/Cargo.lock
  backend/Cargo.toml
Owners: @Norbiros, @Hack4Krak/Backend

chore: Updated validator to 0.20
  .github/dependabot.yml
  backend/Cargo.lock
  backend/Cargo.toml
Owners: @Norbiros, @Hack4Krak/Backend

fix: Disallowed multiple invitations for one user
  backend/src/models/team_invites.rs
  backend/src/routes/teams/mod.rs
Owners: @Hack4Krak/Backend

feat: Created backend side
  backend/src/entities/email_confirmation.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/users.rs
  backend/src/lib.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/teams/delete_team.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/teams_list.rs
  backend/src/routes/admin/teams/update_team.rs
  backend/src/routes/admin/users/delete_user.rs
  backend/src/routes/admin/users/email_confirmations_list.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/admin/users/update_user.rs
  backend/src/routes/admin/users/user_list.rs
  backend/src/routes/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/utils/error.rs
Owners: @Hack4Krak/Backend

feat: Added tasks/refresh endpoint
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/tasks/mod.rs
  backend/src/routes/admin/tasks/refresh.rs
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

refactor: Something something changes names and also added --with-serde both to command for generating enitites in readme.md
  backend/README.md
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/teams/delete_team.rs
  backend/src/routes/admin/teams/teams_list.rs
  backend/src/routes/admin/teams/update_team.rs
  backend/src/routes/admin/users/delete_user.rs
  backend/src/routes/admin/users/update_user.rs
Owners: @Hack4Krak/Backend

enhancement: Added checking if team name is unique when updating
  backend/src/models/teams.rs
Owners: @Hack4Krak/Backend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
