Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

enhancement: Disalllowed unconfirmed teams from submiting flag (#307)
  backend/src/routes/flag/mod.rs
  backend/src/routes/flag/submit.rs
  backend/tests/flag.rs
Owners: @Hack4Krak/Backend

Enhancement/proper team progress bar (#295)
  backend/src/routes/task/count.rs
  backend/src/routes/task/mod.rs
  frontend/app/components/panel/tile/WithTeam.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Added task assets to description page (#300)
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

chore: Removed some leftovers of first try
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

feat: Added count all tasks endpoint
  backend/src/routes/task/count_all.rs
  backend/src/routes/task/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

kys nuxt
  frontend/app/components/panel/tile/WithTeam.vue
Owners: @Hack4Krak/Frontend

enhancement: Added silly await statements and renamed tasks/count_all to tasks/count
  backend/src/routes/task/count.rs
  backend/src/routes/task/mod.rs
  frontend/app/components/panel/tile/WithTeam.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore: Removed style duplication, used camelCase (i hate it), changed ref to computed
  frontend/app/components/panel/tile/WithTeam.vue
Owners: @Hack4Krak/Frontend

enhancement: Hide number of captured flags before event start
  backend/src/routes/task/count.rs
  frontend/app/components/panel/tile/WithTeam.vue
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix: Update README.md
  README.md
Owners: @Norbiros

fix(frontend): Respect timezones in leaderboard
  frontend/app/pages/leaderboard.vue
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

enhancement: Leaderboard sorting by points
  backend/src/utils/points_counter.rs
Owners: @Hack4Krak/Backend

enhancement: Leaderboard sorting by points (#314)
  backend/src/utils/points_counter.rs
Owners: @Hack4Krak/Backend

fix(frontend): Correctly display tasks without assets
  backend/src/models/task.rs
Owners: @Hack4Krak/Backend

deps: Bump devtools from 2.1.1 to 2.1.0 (it will be updated in #312)
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

chore: Reformat code
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

enhancement: Make curves more smooth
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Respect timezones in leaderboard
  frontend/app/pages/leaderboard.vue
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

enhancement: Added captured flags number to leaderboard
  backend/src/utils/points_counter.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(frontend): Resolve 500 error codes on `/leaderboard`
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Properly display create team tile
  frontend/app/components/panel/tile/Main.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Hide overflow for placeholder panel tile
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Assets page
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

fix(backend): Update event middleware, add task solution endpoint
  backend/src/lib.rs
  backend/src/middlewares/event.rs
  backend/src/routes/event/status.rs
  backend/src/routes/task/mod.rs
  backend/src/routes/task/solution.rs
  backend/src/utils/error.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(frontend): Display task solution (#316)
  frontend/app/assets/css/main.css
  frontend/app/components/Auth.vue
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/tasks/solution/[id].vue
Owners: @Hack4Krak/Frontend

fix(frontend): Resolve 500 error codes on `/leaderboard`
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Assets page
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Properly display create team tile
  frontend/app/components/panel/tile/Main.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Hide overflow for placeholder panel tile
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

fix(backend): Update event middleware, add task solution endpoint
  backend/src/lib.rs
  backend/src/middlewares/event.rs
  backend/src/routes/event/status.rs
  backend/src/routes/task/mod.rs
  backend/src/routes/task/solution.rs
  backend/src/utils/error.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(frontend): Display task solution (#316)
  frontend/app/assets/css/main.css
  frontend/app/components/Auth.vue
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/tasks/solution/[id].vue
Owners: @Hack4Krak/Frontend

chore: Release `1.0.0`
  backend/Cargo.lock
  backend/Cargo.toml
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore: Best version is no version
  .github/workflows/ci.yaml
Owners: @Norbiros

fix(frontend): Display tasks page for unauthenticated users
  frontend/app/pages/tasks/index.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Change map background image
  frontend/app/components/Map.vue
  frontend/public/img/map.png
Owners: @Hack4Krak/Frontend

Revert "chore: bump @nuxt/devtools from 2.1.0 to 2.1.3"
  frontend/package.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

enhancement(frontend): Change map background image
  frontend/app/components/Map.vue
  frontend/public/img/map.png
Owners: @Hack4Krak/Frontend

fix(frontend): Display tasks page for unauthenticated users
  frontend/app/pages/tasks/index.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Fix deployment and some other things
  frontend/app/assets/css/main.css
  frontend/app/pages/faq.server.vue
  frontend/app/pages/rules.server.vue
  frontend/nuxt.config.ts
  frontend/package.json
  package-lock.json
  pnpm-lock.yaml
Owners: @Hack4Krak/Frontend, @Norbiros

chore: Renamed send_email to send and create_from_... to from_..., added new lines
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/email/send.rs
  backend/src/services/emails.rs
Owners: @Hack4Krak/Backend
