Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

Fix: Requested changes
  bun.lock
  frontend/app/assets/css/main.css
  frontend/nuxt.config.ts
  nuxt.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

Feat: HackSans font
  bun.lock
  frontend/app/assets/css/main.css
  frontend/nuxt.config.ts
  frontend/public/fonts/pixelify-sans-hack4krak.ttf
  nuxt.config.ts
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

Fix: Requested changes #2
  package.json
Owners: @Norbiros

Fix: Requested changes #3
  package.json
Owners: @Norbiros

feat: Add custom HackSans font (#609)
  frontend/app/assets/css/main.css
  frontend/public/fonts/pixelify-sans-hack4krak.ttf
Owners: @Hack4Krak/Frontend

Enhancement: Show password button
  frontend/app/components/AuthForm.vue
  frontend/app/components/primitive/TransparentInput.vue
Owners: @Hack4Krak/Frontend

fix: Requested changes
  frontend/app/components/AuthForm.vue
  frontend/app/components/primitive/TransparentInput.vue
Owners: @Hack4Krak/Frontend

fix: Removed useless code
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Frontend

feat: Website update
  frontend/app/components/section/InfoBox.server.vue
  frontend/app/components/section/InfoTiles.server.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/index.vue
  frontend/content/faq.json
  frontend/content/info-tiles.ts
  frontend/content/landing-page.json
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

feat: Deleted useless components
  frontend/app/components/section/HowToParticipate.vue
  frontend/app/components/section/Sponsors.server.vue
  frontend/public/img/sponsors/europe4youth.webp
  frontend/public/img/sponsors/mdl.webp
  frontend/public/img/sponsors/mlody_krakow.webp
  frontend/public/img/sponsors/teach_for_poland.webp
Owners: @Hack4Krak/Frontend

fix: Corrected text according to requested changes and suggestions
  frontend/app/components/section/InfoTiles.server.vue
  frontend/app/pages/index.vue
  frontend/content/faq.json
  frontend/content/info-tiles.ts
  frontend/content/landing-page.json
  frontend/content/pages/rules.md
Owners: @Hack4Krak/Frontend

fix: Frontend lint
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

fix: Changed constant name
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Frontend

fix: Stupid camelCase
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Frontend

Enhancement: Show password button (#631)
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Frontend

fix: Cosmetics
  frontend/app/components/section/InfoTiles.server.vue
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

fix: Cosmetics #2
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

fix: Cosmetics #3
  frontend/content/faq.json
  frontend/content/landing-page.json
Owners: @Hack4Krak/Frontend

fix: Removed bold due to my dumbness
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

feat: Update the website after our event (#613)
  frontend/app/components/section/HowToParticipate.vue
  frontend/app/components/section/InfoBox.server.vue
  frontend/app/components/section/InfoTiles.server.vue
  frontend/app/components/section/Sponsors.server.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/content/faq.json
  frontend/content/info-tiles.ts
  frontend/content/landing-page.json
  frontend/content/pages/rules.md
  frontend/public/img/sponsors/europe4youth.webp
  frontend/public/img/sponsors/mdl.webp
  frontend/public/img/sponsors/mlody_krakow.webp
  frontend/public/img/sponsors/teach_for_poland.webp
Owners: @Hack4Krak/Frontend

chore(deps): upgrade to `nuxt` `v4.0.0-rc.0`
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): use official logo with text variant (#552)
  frontend/app/components/Footer.server.vue
  frontend/app/components/LogoWithText.vue
  frontend/public/img/logo-text.webp
  frontend/tests/components/Navbar.test.ts
  frontend/tests/e2e/basic.test.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add `nuxt-error` integration
  DEPLOYMENT.md
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): add `nuxt-error` integration
  DEPLOYMENT.md
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): remove unused sections from index.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

feat(frontend): use official logo with text variant (#552)
  frontend/app/components/Footer.server.vue
  frontend/app/components/LogoWithText.vue
  frontend/public/img/logo-text.webp
  frontend/tests/components/Navbar.test.ts
  frontend/tests/e2e/basic.test.ts
Owners: @Hack4Krak/Frontend

feat: update landing page content and adjust layout spacing
  frontend/app/pages/index.vue
  frontend/content/landing-page.json
Owners: @Hack4Krak/Frontend

chore(deps): upgrade to `nuxt` `v4.0.0`
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(deps): drop `nuxt-error` module
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): update web server command for CI environment
  bun.lock
  frontend/playwright.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

chore(deps): upgrade to `nuxt` `v4.0.0`
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

fix(frontend): update web server command for CI environment
  bun.lock
  frontend/playwright.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

chore(deps): drop `nuxt-error` module
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): migrate to bun runtime
  bun.lock
  bun.ts
  frontend/Dockerfile
  frontend/app/components/og-image/DefaultOgImage.vue
  frontend/app/utils/getDocsPages.ts
  frontend/app/utils/gitInfo.ts
  frontend/app/utils/hexToRgb.ts
  frontend/nuxt.config.ts
  frontend/package.json
  frontend/tsconfig.json
Owners: @Norbiros, @Hack4Krak/Frontend

feat(frontend): add `@submit` to `AutoForm`
  frontend/app/components/AutoForm.vue
  frontend/compodium/examples/AutoFormExample.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add initial version of the `AutoForm` component
  frontend/app/components/AutoForm.vue
  frontend/app/pages/request_password_reset.vue
  frontend/compodium/examples/AutoFormExample.vue
Owners: @Hack4Krak/Frontend

feat(frontend): use auto form in `request_password_reset.vue`
  frontend/app/pages/request_password_reset.vue
Owners: @Hack4Krak/Frontend

feat(frontend): add `w-default` to inputs
  frontend/app/app.config.ts
Owners: @Hack4Krak/Frontend

feat(frontend): add `zod` auto imports and utils
  frontend/app/plugins/zod.ts
  frontend/app/utils/form.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): migrate some more forms to `AutoForm`
  frontend/app/components/AutoForm.vue
  frontend/app/components/panel/modal/CreateTeam.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
Owners: @Hack4Krak/Frontend
