Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

perf(backend): Use `RwLock` instead of `Mutex` for configs
  backend/src/middlewares/event.rs
  backend/src/routes/event/info.rs
  backend/src/routes/event/registration.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/external_invitations/create.rs
  backend/src/routes/teams/external_invitations/join.rs
  backend/src/routes/teams/invitations/accept_invitation.rs
  backend/src/routes/teams/management/invite_user.rs
  backend/src/services/task_manager.rs
  backend/tests/routes/teams/create.rs
Owners: @Hack4Krak/Backend

enhancement(frontend): Redesign the error page a bit
  frontend/app/error.vue
Owners: @Hack4Krak/Frontend

feat: Add `organization` column to team
  backend/migration/src/lib.rs
  backend/migration/src/m20250526_172108_add_organization_column_to_team.rs
  backend/src/entities/email_verification_request.rs
  backend/src/entities/external_team_invitation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/models/teams.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/external_invitations/create.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(backend): Add `organization` column to the `team` table
  backend/migration/src/lib.rs
  backend/migration/src/m20250526_172108_add_organization_column_to_team.rs
  backend/src/entities/email_verification_request.rs
  backend/src/entities/external_team_invitation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/models/teams.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/external_invitations/create.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(frontend): Created event progress page (#287)
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/ElevatedText.vue
  frontend/app/layouts/no-navbar.vue
  frontend/app/middleware/admin.ts
  frontend/app/pages/admin/leaderboard.vue
Owners: @Hack4Krak/Frontend

enhancement: Added color field to team and implemented it on chart and table on frontend
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20250526_105526_add_team_color_field.rs
  backend/src/entities/teams.rs
  backend/src/models/teams.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/utils/colors.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
  frontend/app/pages/admin/leaderboard.vue
  frontend/app/pages/leaderboard.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor(frontend): Removed auto refreshing from regular leaderboard
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

fix: task config logging
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

fix: task config logging
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

fix(backend): Log invalid tasks
  backend/src/services/task_manager.rs
Owners: @Hack4Krak/Backend

feat(frontend): Completely redesigned panel
  frontend/app/app.config.ts
  frontend/app/components/JoinTeamButton.vue
  frontend/app/components/panel/FlagForm.vue
  frontend/app/components/panel/tile/EventProgressBar.vue
  frontend/app/components/primitive/GhostButtonWithIcon.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Completely redesigned panel
  frontend/app/app.config.ts
  frontend/app/components/JoinTeamButton.vue
  frontend/app/components/panel/FlagForm.vue
  frontend/app/components/panel/tile/EventProgressBar.vue
  frontend/app/components/primitive/GhostButtonWithIcon.vue
  frontend/app/pages/panel/index.vue
  frontend/app/pages/panel/profile.vue
Owners: @Hack4Krak/Frontend

um
  frontend/app/pages/admin/leaderboard.vue
  frontend/app/pages/leaderboard.vue
Owners: @Hack4Krak/Frontend

feat: Created basic event progress page
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20250526_105526_add_team_color_field.rs
  backend/src/entities/teams.rs
  backend/src/models/teams.rs
  backend/src/routes/admin/mod.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/utils/colors.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  backend/src/utils/points_counter.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/test_utils/database.rs
  frontend/app/components/ElevatedButton.vue
  frontend/app/components/ElevatedText.vue
  frontend/app/layouts/no-navbar.vue
  frontend/app/middleware/admin.ts
  frontend/app/pages/admin/leaderboard.vue
  frontend/app/pages/leaderboard.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(frontend): event countdown page
  frontend/app/assets/css/main.css
  frontend/app/components/Timer.vue
  frontend/app/middleware/eventAccessGuard.global.ts
  frontend/app/pages/timer.vue
Owners: @Hack4Krak/Frontend

fix(backend): Make browser download all attachment kinds
  backend/src/routes/task/assets/get.rs
Owners: @Hack4Krak/Backend

fix(frontend): Make `dark` prose the default
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/hero/info/InfoTile.vue
Owners: @Hack4Krak/Frontend

feat: Basic `labels` & `difficulty_estimate` support
  backend/src/models/task.rs
  backend/src/routes/flag/submit.rs
  backend/src/routes/task/list.rs
  backend/src/routes/task/name.rs
  backend/src/services/task_manager.rs
  frontend/app/components/Map.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/tasks/story/[id].vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat(backend): More labels work
  backend/src/models/task.rs
  backend/src/routes/event/label.rs
  backend/src/routes/event/mod.rs
  backend/src/services/task_manager.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): Display proper teams if no flag is submitted
  backend/src/utils/points_counter.rs
Owners: @Hack4Krak/Backend

live updates cloudflare
  backend/src/routes/leaderboard/updates.rs
Owners: @Hack4Krak/Backend

feat(backend): possibly fix sse on cloudflare
  backend/src/routes/leaderboard/updates.rs
Owners: @Hack4Krak/Backend

fix: Make structs relevant only to flag submit endpoint private
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

fix: Disallow flag submisson before event and don't add flag submissions to db after event end (#601, #612)
  backend/src/lib.rs
  backend/src/middlewares/auth.rs
  backend/src/models/teams.rs
  backend/src/routes/flag/mod.rs
  backend/src/routes/flag/submit.rs
  backend/tests/routes/flag.rs
Owners: @Hack4Krak/Backend

fix: Make structs relevant only to flag submit endpoint private
  backend/src/routes/flag/submit.rs
Owners: @Hack4Krak/Backend

fix: Disallow flag submisson before event and don't add flag submissions to db after event end (#601, #612)
  backend/src/lib.rs
  backend/src/middlewares/auth.rs
  backend/src/models/teams.rs
  backend/src/routes/flag/mod.rs
  backend/src/routes/flag/submit.rs
  backend/tests/routes/flag.rs
Owners: @Hack4Krak/Backend

enhancement: make jokes last longer when submitting a flag
  frontend/app/components/panel/FlagForm.vue
Owners: @Hack4Krak/Frontend

enhancement: make jokes last longer when submitting a flag (#619)
  frontend/app/components/panel/FlagForm.vue
Owners: @Hack4Krak/Frontend

chore(deps): update `nuxt` to `v4.0.0-alpha.1`
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore: Update `Project status`
  README.md
Owners: @Norbiros

feat(frontend): add `nuxt-error` integration
  DEPLOYMENT.md
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(deps): switch from `nuxt-open-fetch-x` to `nuxt-open-fetch`
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(deps): add `better-sqlite3` for Nuxt Content to function properly
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(deps): switch from `nuxt-open-fetch-x` to `nuxt-open-fetch`
  bun.lock
  frontend/nuxt.config.ts
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

chore(deps): add `better-sqlite3` for Nuxt Content to function properly
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

Feat: HackSans font
  bun.lock
  frontend/app/assets/css/main.css
  frontend/nuxt.config.ts
  frontend/public/fonts/pixelify-sans-hack4krak.ttf
  nuxt.config.ts
  package.json
Owners: @Norbiros, @Hack4Krak/Frontend

Fix: Fixed backend lint
  backend/macros/src/macros/localized_error.rs
  backend/macros/src/macros/updatable_model.rs
Owners: @Hack4Krak/Backend

Fix: Backend lint #2
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/utils/bearer.rs
  backend/src/utils/common_responses.rs
  backend/src/utils/oauth.rs
Owners: @Hack4Krak/Backend

chore(backend): run clippy for newer rust versions
  backend/macros/src/macros/localized_error.rs
  backend/macros/src/macros/updatable_model.rs
  backend/src/services/auth.rs
  backend/src/services/emails.rs
  backend/src/utils/bearer.rs
  backend/src/utils/colors.rs
  backend/src/utils/common_responses.rs
  backend/src/utils/oauth.rs
  backend/tests/routes/auth.rs
  backend/tests/routes/teams/confirm.rs
  backend/tests/routes/teams/external_invitations.rs
  backend/tests/test_utils/header.rs
Owners: @Hack4Krak/Backend

Fix: Requested changes
  bun.lock
  frontend/app/assets/css/main.css
  frontend/nuxt.config.ts
  nuxt.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
