Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

Notes added by 'git notes append'
  48/571bb3388f53c7c49287bdbc48a0fc002efa67
Owners: @Norbiros

Notes added by 'git notes append'
  9d/5f1ab5a2a6852ac2a8dc24d87536836d013bdd
Owners: @Norbiros

Notes added by 'git notes append'
  9d/5f1ab5a2a6852ac2a8dc24d87536836d013bdd
Owners: @Norbiros

Notes added by 'git notes append'
  9d/5f1ab5a2a6852ac2a8dc24d87536836d013bdd
Owners: @Norbiros

Notes added by 'git notes append'
  9d/5f1ab5a2a6852ac2a8dc24d87536836d013bdd
Owners: @Norbiros

Notes added by 'git notes append'
  ce/6ec4a5dbe4613ea5a6bce8e2da9e66d22830d0
Owners: @Norbiros

Notes added by 'git notes append'
  ce/6ec4a5dbe4613ea5a6bce8e2da9e66d22830d0
Owners: @Norbiros

Notes added by 'git notes append'
  ce/6ec4a5dbe4613ea5a6bce8e2da9e66d22830d0
Owners: @Norbiros

Notes added by 'git notes append'
  ce/6ec4a5dbe4613ea5a6bce8e2da9e66d22830d0
Owners: @Norbiros

Notes added by 'git notes append'
  ce/6ec4a5dbe4613ea5a6bce8e2da9e66d22830d0
Owners: @Norbiros

Notes added by 'git notes append'
  ce/6ec4a5dbe4613ea5a6bce8e2da9e66d22830d0
Owners: @Norbiros

Notes added by 'git notes append'
  43/4100496d03e9da98931966113d5a6ab39e627d
Owners: @Norbiros

Notes added by 'git notes append'
  43/4100496d03e9da98931966113d5a6ab39e627d
Owners: @Norbiros

Notes added by 'git notes append'
  43/4100496d03e9da98931966113d5a6ab39e627d
Owners: @Norbiros

Notes added by 'git notes append'
  43/4100496d03e9da98931966113d5a6ab39e627d
Owners: @Norbiros

Notes added by 'git notes append'
  43/4100496d03e9da98931966113d5a6ab39e627d
Owners: @Norbiros

Notes added by 'git notes append'
  43/4100496d03e9da98931966113d5a6ab39e627d
Owners: @Norbiros

Notes added by 'git notes append'
  6b/d617af7a463cda58c2d4799025c5a6a157c8fd
Owners: @Norbiros

Notes added by 'git notes append'
  6b/d617af7a463cda58c2d4799025c5a6a157c8fd
Owners: @Norbiros

Notes added by 'git notes append'
  6b/d617af7a463cda58c2d4799025c5a6a157c8fd
Owners: @Norbiros

Notes added by 'git notes append'
  6b/d617af7a463cda58c2d4799025c5a6a157c8fd
Owners: @Norbiros

Notes added by 'git notes append'
  65/a3f158ecd47eede47a6ed5766feb67fafafc0d
Owners: @Norbiros

Notes added by 'git notes append'
  65/a3f158ecd47eede47a6ed5766feb67fafafc0d
Owners: @Norbiros

Notes added by 'git notes append'
  65/a3f158ecd47eede47a6ed5766feb67fafafc0d
Owners: @Norbiros

Notes added by 'git notes append'
  65/a3f158ecd47eede47a6ed5766feb67fafafc0d
Owners: @Norbiros

Notes added by 'git notes append'
  86/d3f50b368a2fd2fe2d70141c6b4d532fcd5634
Owners: @Norbiros

Notes added by 'git notes append'
  86/d3f50b368a2fd2fe2d70141c6b4d532fcd5634
Owners: @Norbiros

Notes added by 'git notes append'
  86/d3f50b368a2fd2fe2d70141c6b4d532fcd5634
Owners: @Norbiros

Notes added by 'git notes append'
  86/d3f50b368a2fd2fe2d70141c6b4d532fcd5634
Owners: @Norbiros

Notes added by 'git notes append'
  59/0bf665c19cd318a83b7f2ad77af7de52cc00bd
Owners: @Norbiros

Notes added by 'git notes append'
  59/0bf665c19cd318a83b7f2ad77af7de52cc00bd
Owners: @Norbiros

Notes added by 'git notes append'
  59/0bf665c19cd318a83b7f2ad77af7de52cc00bd
Owners: @Norbiros

Notes added by 'git notes append'
  59/0bf665c19cd318a83b7f2ad77af7de52cc00bd
Owners: @Norbiros

Notes added by 'git notes append'
  1d/7f5cf497a0fb681b32c0fd254ddb8b6d7822a4
Owners: @Norbiros

Notes added by 'git notes append'
  1d/7f5cf497a0fb681b32c0fd254ddb8b6d7822a4
Owners: @Norbiros

Notes added by 'git notes append'
  53/3ea96208ceca3a2ff0e8e3926c12c4e8431b13
Owners: @Norbiros

Notes added by 'git notes append'
  53/3ea96208ceca3a2ff0e8e3926c12c4e8431b13
Owners: @Norbiros

feat(backend): Prometheus metrics endpoint (#568)
  DEPLOYMENT.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/lib.rs
  backend/src/routes/metrics.rs
  backend/src/routes/mod.rs
  backend/src/services/env.rs
  backend/src/utils/bearer.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Norbiros, @Hack4Krak/Backend

feat(backend): Prometheus metrics endpoint (#568)
  DEPLOYMENT.md
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/src/lib.rs
  backend/src/routes/metrics.rs
  backend/src/routes/mod.rs
  backend/src/services/env.rs
  backend/src/utils/bearer.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Norbiros, @Hack4Krak/Backend

docs(backend): Rewrite `external_registration_form` email
  backend/src/services/emails.rs
  backend/src/services/emails_assets/external_registration_form.html
Owners: @Hack4Krak/Backend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
