Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/

feat(frontend): Use primary background color for `ElevatedButton`
  frontend/app/components/ElevatedButton.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

feat(frontend): Use primary background color for `ElevatedButton`
  frontend/app/components/ElevatedButton.vue
  frontend/app/pages/index.vue
Owners: @Hack4Krak/Frontend

Update frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/docs/[...slug].vue
Owners: @Hack4Krak/Frontend

fix: hydration mismatch on static sites, minor fixes
  frontend/app/error.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/app/layouts/static-page.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/docs/faq.vue
  frontend/app/pages/index.vue
  frontend/app/utils/getDocsPages.ts
  frontend/app/utils/setFavicon.ts
  frontend/content/navbar.ts
  frontend/content/pages/faq.md
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

refactor: Remove unused `useOgImage` setup from centered layout
  frontend/app/layouts/centered.vue
Owners: @Hack4Krak/Frontend

feat: add redirects for /faq and /rules to respective /docs paths
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore: remove redundant comment in nuxt.config.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

chore: reorder Nuxt modules for better organization
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

fix: add temporary solution comment for getDocsPages function in utils
  frontend/app/utils/getDocsPages.ts
Owners: @Hack4Krak/Frontend

refactor: centralize setFavicon and useOgImage to app.vue
  frontend/app/app.vue
  frontend/app/error.vue
  frontend/app/layouts/default.vue
  frontend/app/layouts/static-page.vue
Owners: @Hack4Krak/Frontend

enhancement: Add utoipa::ToSchema to sea-orm model derives
  backend/DEVELOPMENT.md
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/routes/admin/teams/update.rs
Owners: @Hack4Krak/Backend

enhancement(backend): Added response body to all endpoints where it was missing
  backend/src/models/mod.rs
  backend/src/routes/admin/teams/list.rs
  backend/src/routes/admin/users/email_confirmations_list.rs
  backend/src/routes/admin/users/list.rs
  backend/src/routes/task/assets/get.rs
  backend/src/routes/teams/membership/my_team.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

enhancement(backend): Added response body to all endpoints where it was missing
  backend/src/models/mod.rs
  backend/src/routes/admin/teams/list.rs
  backend/src/routes/admin/users/email_confirmations_list.rs
  backend/src/routes/admin/users/list.rs
  backend/src/routes/task/assets/get.rs
  backend/src/routes/teams/membership/my_team.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix: hydration mismatch on static sites, minor fixes (#539)
  frontend/app/app.vue
  frontend/app/error.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/app/pages/docs/[...slug].vue
  frontend/app/pages/docs/faq.vue
  frontend/app/pages/index.vue
  frontend/app/utils/getDocsPages.ts
  frontend/app/utils/setFavicon.ts
  frontend/content/navbar.ts
  frontend/content/pages/faq.md
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

enhancement(frontend): update faq
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

enhancement(frontend): wording
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

.
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

docs(frontend): Rewrite `faq.json`
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

chore: Refresh lockfile to resolve `@nuxt/kit` version warning
  bun.lock
Owners: @Norbiros

fix(frontend): Fix link in `CallToAction` page
  frontend/app/components/hero/CallToAction.vue
Owners: @Hack4Krak/Frontend

Update frontend/content/faq.json
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

Update frontend/content/faq.json
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

fix: repeating images on niche resolutions
  frontend/app/components/hero/DesktopHeroBackground.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): update faq (#507)
  frontend/content/faq.json
Owners: @Hack4Krak/Frontend

feat(backend): Move seaorm cli commands to `package.json`
  backend/DEVELOPMENT.md
  backend/package.json
Owners: @Hack4Krak/Backend

refactor(backend): Universal email verification request (#547)
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20250430_183841_unified_email_verification.rs
  backend/src/entities/email_verification_request.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/models/email_confirmation.rs
  backend/src/models/email_verification_request.rs
  backend/src/models/mod.rs
  backend/src/models/password_reset.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/users/email_verification_request_list.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/teams/confirm.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/auth.rs
  backend/src/utils/error.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat(backend): Move seaorm cli commands to `package.json`
  backend/DEVELOPMENT.md
  backend/package.json
Owners: @Hack4Krak/Backend

refactor(backend): Universal email verification request (#547)
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20250430_183841_unified_email_verification.rs
  backend/src/entities/email_verification_request.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/password_reset.rs
  backend/src/entities/prelude.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/models/email_confirmation.rs
  backend/src/models/email_verification_request.rs
  backend/src/models/mod.rs
  backend/src/models/password_reset.rs
  backend/src/models/teams.rs
  backend/src/models/user.rs
  backend/src/routes/admin/users/email_verification_request_list.rs
  backend/src/routes/admin/users/mod.rs
  backend/src/routes/auth/confirm.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/teams/confirm.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/auth.rs
  backend/src/utils/error.rs
  backend/tests/routes/auth.rs
  backend/tests/test_utils/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: External registration
  backend/Cargo.lock
  backend/Cargo.toml
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20250503_182326_create_external_team_invitation.rs
  backend/src/entities/external_team_invitation.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/teams.rs
  backend/src/models/email_verification_request.rs
  backend/src/models/external_team_invitation.rs
  backend/src/models/mod.rs
  backend/src/models/teams.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/register_external_team.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/teams/external_invitations/create.rs
  backend/src/routes/teams/external_invitations/info.rs
  backend/src/routes/teams/external_invitations/join.rs
  backend/src/routes/teams/external_invitations/list.rs
  backend/src/routes/teams/external_invitations/mod.rs
  backend/src/routes/teams/invitations/my_invites.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/register_external_team.html
  bun.lock
  frontend/app/components/Navbar.vue
  frontend/app/components/panel/modal/JoinExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/components/panel/tile/WithoutTeam.vue
  frontend/app/error.vue
  frontend/app/pages/admin/register_external_team.vue
  frontend/nuxt.config.ts
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

fix: non existing padding on md breakpoint
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

fix: desktop performance SEO and accessibility on a11y
  frontend/app/components/hero/SocialMediaContainer.vue
  frontend/app/components/hero/info/InfoTile.vue
  frontend/app/pages/index.vue
  frontend/content/navbar.ts
  frontend/nuxt.config.ts
Owners: @Hack4Krak/Frontend

feat: External registration p2
  backend/locales/error.yaml
  backend/src/models/external_team_invitation.rs
  backend/src/models/teams.rs
  backend/src/routes/admin/email/mod.rs
  backend/src/routes/admin/email/send_external_registration_form.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/external_invitations/create.rs
  backend/src/routes/teams/external_invitations/info.rs
  backend/src/routes/teams/external_invitations/list.rs
  backend/src/routes/teams/external_invitations/mod.rs
  backend/src/routes/teams/mod.rs
  backend/src/services/emails.rs
  backend/src/services/emails_assets/external_registration_form.html
  backend/tests/routes/auth.rs
  backend/tests/routes/teams/external_invitations.rs
  backend/tests/routes/teams/mod.rs
  backend/tests/test_utils/mail.rs
  backend/tests/test_utils/mod.rs
  frontend/app/components/admin/form/RegisterExternalTeam.vue
  frontend/app/components/panel/modal/QRCode.vue
  frontend/app/layouts/centered.vue
  frontend/app/pages/admin/register_external_team.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

fix(frontend): Remove landing site responsivness for niche resolutions
  frontend/app/components/hero/DesktopHeroBackground.vue
  frontend/app/components/hero/HeroSection.vue
Owners: @Hack4Krak/Frontend

feat: Additional user information (#236)
  backend/migration/src/lib.rs
  backend/migration/src/m20250429_123733_user_personal_info.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/user_personal_info.rs
  backend/src/routes/account/get_personal_info.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/src/routes/admin/users/get_personal_info.rs
  backend/src/routes/admin/users/mod.rs
  frontend/app/components/AuthForm.vue
  frontend/app/layouts/centered.vue
  frontend/app/middleware/auth.global.ts
  frontend/app/pages/panel/index.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/app/pages/submit_personal_info.vue
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Backend tests
  backend/migration/src/m20250429_123733_user_personal_info.rs
  backend/src/entities/teams.rs
  backend/src/entities/user_personal_info.rs
  backend/src/routes/account/get_personal_information.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/tests/routes/account.rs
  backend/tests/test_utils/mod.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

chore(frontend): Update to `@nuxt/ui` nightly version
  bun.lock
  frontend/package.json
Owners: @Norbiros, @Hack4Krak/Frontend

refactor(backend): Added personal info field to user and removed userid field from personal info, validate birth year and referral sources, accept Vec<String> as referral source instead of JsonValue
  backend/locales/error.yaml
  backend/migration/src/lib.rs
  backend/migration/src/m20250509_132339_remove_id_from_personal_info_add_personal_info_column_to_user.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/models/user_personal_info.rs
  backend/src/routes/account/get_personal_information.rs
  backend/src/routes/account/index.rs
  backend/src/routes/account/mod.rs
  backend/src/routes/account/submit_personal_information.rs
  backend/src/routes/admin/users/get_personal_info.rs
  backend/src/utils/error.rs
  backend/tests/routes/account.rs
  backend/tests/test_utils/database.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

fix(backend): Change foreign key action from cascade to setnull
  backend/migration/src/m20250509_132339_remove_id_from_personal_info_add_personal_info_column_to_user.rs
  backend/src/entities/user_personal_info.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/tests/test_utils/mod.rs
Owners: @Hack4Krak/Backend

refactor(frontend): Fix some duplication :3
  frontend/app/pages/submit_personal_info.vue
Owners: @Hack4Krak/Frontend

docs(backend): Change `bun generate:entities` command to `bun db:generate-entities` in DEVELOMPENT.md
  backend/DEVELOPMENT.md
Owners: @Hack4Krak/Backend
