Repository Hack4Krak/Hack4KrakSite, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Norbiros, @Hack4Krak/Backend, @Hack4Krak/Frontend

chore: Remove CD workflow for `fly.io` deployment
  .github/workflows/cd.yaml
Owners: @Norbiros

fix(docs): Remove false information from `DEPLOYMENT.md`
  DEPLOYMENT.md
Owners: @Norbiros

chore: Update docs to mention our new, self-hosted infrastructure
  DEPLOYMENT.md
  README.md
  backend/Dockerfile
  fly.toml
Owners: @Norbiros, @Hack4Krak/Backend

fix(frontend): Properly handle errors in the `tasks` page (#451)
  frontend/app/pages/tasks/index.vue
  frontend/tests/pages/tasks/index.spec.ts
Owners: @Hack4Krak/Frontend

feat: Fail `vitest` when `console.error` is used
  bun.lock
  frontend/package.json
  frontend/tests/setup.ts
  frontend/vitest.config.ts
Owners: @Norbiros, @Hack4Krak/Frontend

enhancement: Remove tests from pre-commit hooks
  .husky/pre-commit
Owners: @Norbiros

chore: Remove outdated entries from `.env.example`
  .env.example
Owners: @Norbiros

fix(frontend): Properly handle errors in the `tasks` page (#451)
  frontend/app/pages/tasks/index.vue
  frontend/tests/pages/tasks/index.spec.ts
Owners: @Hack4Krak/Frontend

refactor(backend): Use global `mod.rs` for tests
  backend/tests/mod.rs
  backend/tests/routes/account.rs
  backend/tests/routes/auth.rs
  backend/tests/routes/email.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/mod.rs
  backend/tests/routes/roles.rs
  backend/tests/routes/teams.rs
Owners: @Hack4Krak/Backend

refactor(backend): Create `SmtpTestClient` struct
  backend/tests/mod.rs
  backend/tests/routes/account.rs
  backend/tests/routes/auth.rs
  backend/tests/routes/email.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/mod.rs
  backend/tests/routes/teams.rs
  backend/tests/test_utils/mail.rs
  backend/tests/test_utils/mod.rs
  backend/tests/utils/email.rs
  backend/tests/utils/mod.rs
Owners: @Hack4Krak/Backend

feat: Use renovate instead of dependabot (#429)
  renovate.json
Owners: @Norbiros

feat: Use renovate instead of dependabot (#429)
  renovate.json
Owners: @Norbiros

refactor(backend): Improve backend tests (#189)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/models/teams.rs
  backend/tests/middlewares/auth.rs
  backend/tests/middlewares/mod.rs
  backend/tests/mod.rs
  backend/tests/routes/account.rs
  backend/tests/routes/auth.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/mod.rs
  backend/tests/routes/roles.rs
  backend/tests/routes/teams.rs
  backend/tests/routes/teams/confirm.rs
  backend/tests/routes/teams/create.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/routes/teams/mod.rs
  backend/tests/test_utils/database.rs
  backend/tests/test_utils/header.rs
  backend/tests/test_utils/mod.rs
  backend/tests/utils/email.rs
  backend/tests/utils/mod.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

refactor(backend): Improve backend tests (#189)
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/models/teams.rs
  backend/tests/middlewares/auth.rs
  backend/tests/middlewares/mod.rs
  backend/tests/mod.rs
  backend/tests/routes/account.rs
  backend/tests/routes/auth.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/mod.rs
  backend/tests/routes/roles.rs
  backend/tests/routes/teams.rs
  backend/tests/routes/teams/confirm.rs
  backend/tests/routes/teams/create.rs
  backend/tests/routes/teams/invitation.rs
  backend/tests/routes/teams/mod.rs
  backend/tests/test_utils/database.rs
  backend/tests/test_utils/header.rs
  backend/tests/test_utils/mod.rs
  backend/tests/utils/email.rs
  backend/tests/utils/mod.rs
  backend/tests/utils/points_counter.rs
Owners: @Hack4Krak/Backend

refactor(backend): Use global `mod.rs` for tests
  backend/tests/mod.rs
  backend/tests/routes/account.rs
  backend/tests/routes/auth.rs
  backend/tests/routes/email.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/mod.rs
  backend/tests/routes/roles.rs
  backend/tests/routes/teams.rs
Owners: @Hack4Krak/Backend

refactor(backend): Create `SmtpTestClient` struct
  backend/tests/mod.rs
  backend/tests/routes/account.rs
  backend/tests/routes/auth.rs
  backend/tests/routes/email.rs
  backend/tests/routes/flag.rs
  backend/tests/routes/mod.rs
  backend/tests/routes/teams.rs
  backend/tests/test_utils/mail.rs
  backend/tests/test_utils/mod.rs
  backend/tests/utils/email.rs
  backend/tests/utils/mod.rs
Owners: @Hack4Krak/Backend

enhancement: Validate password length from request
  backend/src/models/user.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/tests/routes/auth.rs
  frontend/openapi/api/openapi.json
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

refactor: Split account::update route into 2 endpoints, one for changing password, second regular update
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/tests/routes/account.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

feat: Integrate password reset with frontend (#291)
  backend/src/services/auth.rs
  backend/src/services/emails_assets/reset_password_body.html
  frontend/app/assets/css/main.css
  frontend/app/components/Auth.vue
  frontend/app/components/AuthForm.vue
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/pages/login.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

chore(frontend): Removed duplicated toasts in auth
  frontend/app/components/Auth.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Add { waitUntil: 'networkidle' }` to goto in e2e tests
  frontend/tests/e2e/basic.test.ts
Owners: @Hack4Krak/Frontend

feat: Integrate account management with frontend (#240)
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/components/primitive/GhostButtonWithIcon.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

enhancement: Make background text in Auth.vue brighter
  frontend/app/components/Auth.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Create centered layout for forms like auth
  frontend/app/app.vue
  frontend/app/components/Auth.vue
  frontend/app/components/AuthForm.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/app/pages/index.vue
  frontend/app/pages/login.vue
  frontend/app/pages/register.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
Owners: @Hack4Krak/Frontend

enhancement: Validate password length from request
  backend/src/models/user.rs
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/auth/reset_password.rs
  backend/tests/routes/auth.rs
  frontend/openapi/api/openapi.json
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Integrate password reset with frontend (#291)
  backend/src/services/auth.rs
  backend/src/services/emails_assets/reset_password_body.html
  frontend/app/assets/css/main.css
  frontend/app/components/Auth.vue
  frontend/app/components/AuthForm.vue
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/pages/login.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
  frontend/tests/e2e/authform.test.ts
Owners: @Hack4Krak/Backend, @Hack4Krak/Frontend

feat: Integrate account management with frontend (#240)
  frontend/app/components/panel/modal/ChangePasswordModal.vue
  frontend/app/components/panel/modal/UpdateAccountModal.vue
  frontend/app/components/primitive/GhostButtonWithIcon.vue
  frontend/app/pages/panel/index.vue
Owners: @Hack4Krak/Frontend

refactor: Split account::update route into 2 endpoints, one for changing password, second regular update
  backend/src/routes/account/mod.rs
  backend/src/routes/account/update.rs
  backend/tests/routes/account.rs
  frontend/openapi/api/openapi.json
Owners: @Hack4Krak/Backend

enhancement: Style task description (#283)
  frontend/app/assets/css/main.css
  frontend/app/assets/img/scroll_left.png
  frontend/app/assets/img/scroll_middle.png
  frontend/app/assets/img/scroll_right.png
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/components/TaskDescription.vue
  frontend/app/pages/tasks/index.vue
  frontend/app/pages/tasks/story/[id].vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): Make background text in Auth.vue brighter for better accesibility
  frontend/app/components/Auth.vue
Owners: @Hack4Krak/Frontend

fix(frontend): Removed duplicated toasts in auth
  frontend/app/components/Auth.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
Owners: @Hack4Krak/Frontend

refactor(frontend): Add { waitUntil: 'networkidle' }` to goto in e2e tests
  frontend/tests/e2e/basic.test.ts
Owners: @Hack4Krak/Frontend

refactor(frontend): Create centered layout for forms like auth
  frontend/app/app.vue
  frontend/app/components/Auth.vue
  frontend/app/components/AuthForm.vue
  frontend/app/layouts/centered.vue
  frontend/app/layouts/default.vue
  frontend/app/pages/index.vue
  frontend/app/pages/login.vue
  frontend/app/pages/register.vue
  frontend/app/pages/request_password_reset.vue
  frontend/app/pages/reset_password.vue
Owners: @Hack4Krak/Frontend

chore: Update event dates in `README.md`
  README.md
Owners: @Norbiros

chore: Release `v1.1.0`
  backend/Cargo.lock
  backend/Cargo.toml
  bun.lock
  frontend/openapi/api/openapi.json
  frontend/package.json
Owners: @Hack4Krak/Backend, @Norbiros, @Hack4Krak/Frontend

fix(frontend): Properly display complex durations (#479)
  frontend/app/components/panel/tile/Main.vue
  frontend/app/utils/duration.ts
  frontend/tests/utils/duration.test.ts
Owners: @Hack4Krak/Frontend

chore(backend): Drop legacy `relaxed_security_mode`
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/services/env.rs
  backend/src/utils/cookies.rs
Owners: @Hack4Krak/Backend

fix(frontend): Properly display the task description instead of 404 :3
  frontend/app/components/TaskDescription.vue
Owners: @Hack4Krak/Frontend

enhancement(frontend): exclude reset password from tab navigation on login page
  frontend/app/components/AuthForm.vue
Owners: @Hack4Krak/Frontend

fix: nickname censorship
  backend/src/routes/auth/register.rs
  backend/tests/routes/auth.rs
Owners: @Hack4Krak/Backend

.github/CODEOWNERS:

# Default Code Owner for all Pull Requests
*  @Norbiros

# Backend Team
/backend/  @Hack4Krak/Backend

# Frontend Team
/frontend/ @Hack4Krak/Frontend

# Excluded files
/frontend/openapi/
/backend/TasksTemplate/
