Repository Hack4Krak/Hack4KrakSite, pull requests merged in 2025-02, with the labels that each got.

#90 feat: Email service
  .env.example
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/main.rs
  backend/src/utils/app_state.rs
  backend/src/utils/emails.rs
  backend/src/utils/emails_assets/hello_world.html
  backend/src/utils/env.rs
  backend/src/utils/error.rs
  backend/src/utils/mod.rs
Labels: scope: backend

#138 feat: Improved website description (#45)
  frontend/nuxt.config.ts
Labels: scope: frontend

#147 feat: Added limit of 5 users per team
  backend/src/models/teams.rs
  backend/src/routes/teams/mod.rs
Labels: scope: backend

#135 Feat: Roles permission system
  backend/migration/src/lib.rs
  backend/migration/src/m20250203_105134_setup_roles_system.rs
  backend/src/entities/mod.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/users.rs
  backend/src/main.rs
  backend/src/middlewares/auth.rs
  backend/src/models/user.rs
  backend/src/routes/user.rs
  backend/src/utils/error.rs
  backend/tests/auth.rs
  backend/tests/roles.rs
  backend/tests/teams.rs
  frontend/openapi/api/openapi.json
Labels: scope: backend

#187 Feat: Openapi check in workflows
  .github/workflows/ci.yaml
  .husky/pre-commit
  backend/Cargo.lock
  backend/Cargo.toml
  backend/openapi-check/Cargo.toml
  backend/openapi-check/src/main.rs
  backend/package.json
  backend/src/lib.rs
  backend/src/main.rs
  frontend/openapi/api/openapi.json
  package-lock.json
  package.json
Labels: scope: backend

#190 enhancement: Properly handle 404 error
  backend/src/lib.rs
  backend/src/utils/error.rs
Labels: scope: backend

#199 Fix: Made auth middleware team requirements return 403 user is not a leader only when team requirement is set to leader
  backend/src/middlewares/auth.rs
Labels: scope: backend

#195 Enhancement: Enabled permissive cors for /tasks endpoints
  backend/src/lib.rs
Labels: scope: backend

#222 feat: Tasks assets endpoints
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/models/task.rs
  backend/src/routes/task/assets/get.rs
  backend/src/routes/task/assets/list.rs
  backend/src/routes/task/assets/mod.rs
  backend/src/routes/task/background.rs
  backend/src/routes/task/description.rs
  backend/src/routes/task/icon.rs
  backend/src/routes/task/mod.rs
  backend/src/services/task_manager.rs
  frontend/openapi/api/openapi.json
Labels: scope: backend, scope: tasks

#226 enhancement: Added request validator
  .github/dependabot.yml
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/routes/auth/register.rs
  backend/src/routes/teams/create.rs
  backend/src/routes/teams/management/rename.rs
Labels: scope: backend

#239 fix: Disallowed multiple invitations for one user
  backend/src/models/team_invites.rs
  backend/src/routes/teams/mod.rs
Labels: scope: backend

#241 feat: Added delete account endpoint
  backend/src/routes/user.rs
  frontend/openapi/api/openapi.json
Labels: scope: backend

#255 feat: Added rules page
  frontend/app/components/MarkdownContent.server.vue
  frontend/app/content/docs/School_Edition_Guidelines.md
  frontend/app/pages/rules.vue
  frontend/nuxt.config.ts
  frontend/package.json
  pnpm-lock.yaml
Labels: scope: frontend

#257 Enhancement/fixes on teams page
  frontend/app/components/panel/modal/ConfirmDeleteModal.vue
  frontend/app/components/panel/modal/InviteUser.vue
  frontend/app/pages/panel/team.vue
Labels: scope: frontend

#259 Feat: Create FAQ page
  frontend/app/assets/faq.json
  frontend/app/components/Navbar.vue
  frontend/app/pages/faq.vue
  frontend/nuxt.config.ts
Labels: scope: frontend

#292 feat: Added completed tasks endpoint
  backend/src/models/teams.rs
  backend/src/routes/teams/membership/completed_tasks.rs
  backend/src/routes/teams/membership/mod.rs
  frontend/openapi/api/openapi.json
Labels: scope: backend

#293 feat: Added team confirmation
  backend/migration/src/lib.rs
  backend/migration/src/m20250225_171450_add_confirmation_code_and_status_fields_to_team.rs
  backend/src/entities/email_confirmation.rs
  backend/src/entities/flag_capture.rs
  backend/src/entities/mod.rs
  backend/src/entities/prelude.rs
  backend/src/entities/sea_orm_active_enums.rs
  backend/src/entities/team_invites.rs
  backend/src/entities/teams.rs
  backend/src/entities/users.rs
  backend/src/models/mod.rs
  backend/src/models/team_status.rs
  backend/src/models/teams.rs
  backend/src/routes/admin/teams/clear_confirmation_code.rs
  backend/src/routes/admin/teams/generate_confirmation_code.rs
  backend/src/routes/admin/teams/mod.rs
  backend/src/routes/admin/teams/update.rs
  backend/src/routes/teams/confirm.rs
  backend/src/routes/teams/membership/my_team.rs
  backend/src/routes/teams/mod.rs
  backend/tests/teams.rs
  backend/tests/utils.rs
  frontend/openapi/api/openapi.json
Labels: scope: backend

#309 enhancement: Disalllowed unconfirmed teams from submiting flag
  backend/src/routes/flag/mod.rs
  backend/src/routes/flag/submit.rs
  backend/tests/flag.rs
Labels: scope: backend

#308 feat: Added task assets to description page
  frontend/app/components/TaskDescription.vue
Labels: scope: frontend

#314 Enhancement/team table sorting
  backend/src/utils/points_counter.rs
Labels: scope: backend
