Repository Hack4Krak/Hack4KrakSite, pull requests merged in 2025-01, with the labels that each got.

#14 feat: Created github workflows
  .github/workflows/ci.yaml
Labels: type: feature

#21 enhancement: Enabled changing backend ip by env
  .env.example
  backend/src/main.rs
Labels: type: enhancement, scope: backend

#15 feat: Created users and teams entities and migrations
  backend/Cargo.lock
  backend/Cargo.toml
  backend/entity/Cargo.toml
  backend/entity/src/lib.rs
  backend/entity/src/teams.rs
  backend/entity/src/users.rs
  backend/migration/src/lib.rs
  backend/migration/src/m20250111_153247_intial.rs
Labels: type: feature, scope: backend

#27 enhancement: Created backend readme
  backend/README.md
  backend/migration/README.md
Labels: type: enhancement, scope: backend

#30 fix: Ignore openapi json in eslint
  frontend/eslint.config.ts
  frontend/openapi/api/openapi.json
Labels: scope: frontend

#34 enhancement: Enabled Rust log level configuration with RUST_LOG env
  backend/README.md
  backend/src/main.rs
Labels: type: enhancement, scope: backend

#78 enhancement: Added endpoints tags
  backend/src/routes/auth/login.rs
  backend/src/routes/auth/oauth.rs
  backend/src/routes/auth/refresh.rs
  backend/src/routes/auth/register.rs
  backend/src/routes/teams/create_team.rs
  backend/src/routes/teams/my_team.rs
  backend/src/routes/teams/view_team.rs
  backend/src/routes/teams/view_teams.rs
  backend/src/routes/user.rs
  frontend/openapi/api/openapi.json
Labels: scope: backend

#69 feat: Typed Env
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/main.rs
  backend/src/utils/env.rs
  backend/src/utils/jwt.rs
  backend/src/utils/mod.rs
  backend/src/utils/openapi.rs
  backend/tests/auth.rs
  backend/tests/teams.rs
Labels: scope: backend

#76 fix: Fixed email being null in github oauth
  backend/src/routes/auth/oauth.rs
Labels: scope: backend, rust

#77 Feat: Provided Google OAuth
  .env.example
  backend/src/main.rs
  backend/src/routes/auth/mod.rs
  backend/src/routes/auth/oauth/github.rs
  backend/src/routes/auth/oauth/google.rs
  backend/src/routes/auth/oauth/mod.rs
  backend/src/utils/app_state.rs
  backend/src/utils/env.rs
  frontend/openapi/api/openapi.json
Labels: scope: backend

#103 fix(frontend): Correct nuxt page min-h
  frontend/app/app.vue
Labels: scope: frontend
